﻿<script id="TemplateSystemTerminologyRefreshContextDropdown" controllerName="SystemTerminologyController" type="text/html">
    //**
    //Responsible for generating the context drop down list options from the following example JSON: -
    // { d: ["", "Option 1", "Option 2"]}
    //**
    <#
    for (var i = 0; i < d.length; i++) {
    var data = d[i];
    #>

    <option value='<#= data #>'><#= data #></option>
    <#
    }
    #>
</script>

<script id="ExampleSharedScript" controllerName="Shared" type="text/html">
    
</script>

<script id="TemplateReceiptFromSupplierItemNumberDropDown" controllerName="ReceiptFromSupplierHeaderController" type="text/html">
    <a><#= d.label #></a>
    <a style="font-size: 10px;color: grey;"><#= d.OtherData.Description #></a>
</script>

<script id="TemplateReceiptFromSupplierSupplierItemNumberDropDown" controllerName="ReceiptFromSupplierHeaderController" type="text/html">
    <a><#= d.label #></a>
    <a style="font-size: 10px;color: grey;"><#= d.OtherData.ItemNumber #> <#= d.OtherData.Description #></a>
</script>

<script id="TemplateTransactionSearchTransactionNumberDropDown" controllerName="TransactionSearchController" type="text/html">
    <a><#= d.label #></a>
    <a style="font-size: 10px;color: grey;"><#= d.OtherData #></a>
</script>

<script id="TemplatePersonDropDown" type="text/html">
    <a><#= d.label #></a>
    <a style="font-size: 10px;color: grey;"><#= d.OtherData.Email #></a>
</script>

<script id="TemplatePersonStaffDropDown" type="text/html">
    <a><#= d.label #></a>
    <a style="font-size: 10px;color: grey;"><#= d.OtherData.FirstName #> <#= d.OtherData.LastName #></a>
</script>
