﻿@using RMSS_Website.Objects.Web_Objects.CustomControl

@{
    ViewBag.Title = "Modify Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model RMSS_Website.Models.Persons.PersonModel

@section content_Content {
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="existingPersons">
        <span id="spanPersonID" style="display:none;">@Model.PersonID</span>
        @SectionHeading.RenderMVC("Edit Existing Person")
        <label>Select Person: </label> @(Html.Kendo().ComboBox().Name("SelectPerson").Placeholder("--- Select ---").BindTo(Model.PersonViewModel.AvailablePersons).Filter("contains").Events(
            e => e.Change("PersonChanged")).Value(Model.PersonViewModel.SelectedPersonID).AutoWidth(true).HtmlAttributes(new { style = "width: 50%;" }))
        <table style="padding:10px; width:50%;">
            <tr><td><label>First Name: </label></td><td><input type="text" value="@Model.FirstName" onchange="UpdatePersonTextbox('FirstName', this);" /></td>
            <tr />
            <tr><td><label>Last Name: </label></td><td><input type="text" value="@Model.LastName" onchange="UpdatePersonTextbox('LastName', this);" /></td></tr>
            <tr><td><label>Email: </label></td><td><input type="text" value="@Model.Email" onchange="UpdatePersonTextbox('Email', this);" /></td></tr>
            <tr><td><label>Office Number: </label></td><td><input type="text" value="@Model.OfficeNumber" onchange="UpdatePersonTextbox('OfficeNumber', this);" /></td>
            <tr />
            <tr><td><label>Mobile Number: </label></td><td><input type="text" value="@Model.MobileNumber" onchange="UpdatePersonTextbox('MobileNumber', this);" /></td></tr>
        </table>
    </div>
    <div id="newPersons">
        @SectionHeading.RenderMVC("Add New Person")
        <label style="color:red;">@ViewData["Error"]</label>
        <form action="@Url.Action("AddPerson", "Person")">
            <table style="padding:10px; width:50%;">
                <tr><td><label>First Name: </label></td><td><input type="text" name="FirstName" /></td> <tr />
                <tr><td><label>Last Name: </label></td><td><input type="text" name="LastName" /></td></tr>
                <tr><td><label>Email: </label></td><td><input type="text" name="Email" /></td></tr>
                <tr><td><label>Office Number: </label></td><td><input type="text" name="OfficeNumber"/></td> <tr />
                <tr><td><label>Mobile Number: </label></td><td><input type="text" name="MobileNumber" /></td></tr>
                <tr><td><input type="submit" value="Add" /></td></tr>
            </table>
        </form>
    </div>
    <script>
        function UpdatePersonTextbox(Type, Textbox) {
            $.ajax({
                type: 'POST',
                url: "@Url.Action("UpdatePersonTextbox", "Person")",
                data: { Type: Type, Value: Textbox.value , PersonID: $('#spanPersonID').text() },
                error: function (xhr, status, errorThrown) {
                    ToastrPopup(xhr.responseText, 'error');
                }
            });
        }
        function PersonChanged() {
            var link = "@Url.Action("ModifyPersons", "Person", new { PersonID = "x01"})";
            link = link.replace("x01", $('#SelectPerson').data("kendoComboBox").value());
            window.location = link;
        }
        
    </script>
    <style>
        td {
            padding:3px;
            width:50%;
        }
    </style>
</body>
</html>
}
