﻿@using RMSS_Website.Objects.Web_Objects;
@using System.Web.Optimization
@using RMSS_Website.Objects.Web_Objects.CustomControl;
@using RMSS_Website.Objects;

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head id="headMain">
    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="no-cache" />
    <link id="Link1" rel="icon" href="~/favicon.ico" type="image/x-icon" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/extrascripts")
    @Styles.Render("~/Content/kendo/css")
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/bundles/extrastyles")
    <!--Other Scripts-->
    <script src="@Url.Content("~/Scripts/fg.menu.js")"></script>
    <script src="@Url.Content("~/Scripts/superfish.min.179.js")"></script>
    <script src="@Url.Content("~/Scripts/RMSS.js?ver=24270")"></script>

    <script src="@Url.Content("~/Scripts/RMSSControls.js")"></script>
    <script src="@Url.Content("~/Scripts/textExpander.js")"></script>

    <script src="@Url.Content("~/Scripts/jquery.expander.js")"></script>
    <script src="@Url.Content("~/Scripts/cookie.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="@Url.Content("~/Scripts/masterPage.js")"></script>
    <link href="@Url.Content("~/Themes/Black/fg.menu.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Themes/Black/Controls.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Themes/Black/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Themes/Black/superfish179.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Themes/Black/jquery-ui-1.8.4.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Themes/Black/jquery-ui-custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Themes/Black/RadControls/RadGrid.Ripped.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css" />
    <script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
    <script src="@Url.Content(" ~/Scripts/modernizr-1.7.min.js")"></script>
    @HtmlHelpers.StyleLink(@ViewBag.DefaultModuleCSSUrl)
    <script src="@Url.Content("~/Scripts/jquery.bgiframe-3.0.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>

    <style>
        #cright-full h6 {
            margin: 0 0 68px !important;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    @HtmlHelpers.StyleLink(@ViewBag.DefaultModuleCSSUrl)
    <script src="@Url.Content("~/Scripts/jquery.bgiframe-3.0.js")"></script>
    <script src="@Url.Content("~/Scripts/moment.min.js")"></script>

    <!--Loading MVC Templates synchronously (ONLY load the current web page and shared templates) -->
    <script type="text/javascript">
        var templateURL = '@Url.Content("~/Scripts/RMSSMVCTemplates.html?ver=")@ViewBag.ScriptVersion';
        $.ajax(
            {
                type: 'GET',
                async: false,
                url: templateURL,
                success: function (templates) {
                    $(templates).each(function () {
                        $('head').append(this);
                    });

                }
            }
        );

        $(document).scroll(function () {
            localStorage['currentPage'] = document.URL;
            localStorage['scrollPosition'] = $(document).scrollTop();
        });

        $(document).ready(function () {
            if (localStorage['currentPage'] == document.URL) {
                $(document).scrollTop(localStorage['scrollPosition']);
            }
        });
    </script>

    @{ if (Request.Browser.IsBrowser("IE") && Request.Browser.MajorVersion <= 7)
        {
            <link href="@Url.Content("~/Themes/Black/IE7OrLess.css")" rel="stylesheet" type="text/css" />
        }

        if (Request.Browser.IsBrowser("IE") && Request.Browser.MajorVersion == 8)
        {
            <link href="@Url.Content("~/Themes/Black/IE8.css")" rel="stylesheet" type="text/css" />
        }

        if (Request.Browser.IsBrowser("IE") && Request.Browser.MajorVersion >= 9)
        {
            <link href="@Url.Content("~/Themes/Black/IE9OrMore.css")" rel="stylesheet" type="text/css" />
        }
    }

</head>
<body class="MinWidth">
    <section id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="headl">
                                    <div id="sitelogo"><a href="@Url.Action("Index","Home")" name="Aviation Risks" title="Aviation Risks"><img src="../../Images/the-risk-manager.png" title="The Risk Manager" alt="The Risk Manager" /></a></div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div id="headr-nav">
                                    <ul class="nav">

                                        <li class="nav-item"><a name="Financial Risks" title="Financial Risks" href="@Url.Content("~/User/Login")" class="Logout"> @(SessionData.IsLoggedIn ? "Logout " + SessionData.UserFullName : "Login")</a></li>
                                        <li class="nav-item"><a name="Employer Risks" title="Employer Risks" href="@Url.Action("SignUp","User")">Create Account</a></li>
                                        <li class="nav-item"><a name="Price of Risks" title="Price of Risks" href="#">Pricing</a></li>
                                        <li class="nav-item"><a name="Various Risks" title="Various Risks" href="#">About</a></li>
                                        <li>
                                            @if (SessionData.IsLoggedIn &&  SessionData.IsEmployee)
                                            {
                                                <div class="main">
                                                    <ul class="mainnav">

                                                        <li class="hassubs firstone">
                                                            <a href="#" name="Risk Manager Employees" title="Risk Manager Employees">RMSS Employees</a>
                                                            <ul class="dropdown">
                                                                <li class="subs hassubs">
                                                                    <a name="Risk Manager Clients" title="Risk Manager Clients" href="#">Clients<span>&laquo;</span></a>

                                                                    <ul class="dropdown">
                                                                        <li class="subs"><a href="@Url.Action("SelectClient","Clients")" name="External Risks" >View Client Info</a></li>
                                                                        <li class="subs"><a href="@Url.Action("ClientFilter","Clients")" name="Client Risks" >Search Clients</a></li>
                                                                    </ul>
                                                                </li>
                                                                <li class="subs hassubs">
                                                                    <a href="#" name="Risks 2019" title="Risks 2019">People/Users <span>&laquo;</span></a>
                                                                    <ul class="dropdown">
                                                                        <li class="subs"><a href="@Url.Action("ModifyPersons","Person")" name="Limited Risks" >Modify Persons</a></li>
                                                                        <li class="subs"><a href="@Url.Action("ModifyUsers","User")" name="Risks 2020" >Modify Users</a></li>

                                                                    </ul>
                                                                </li>
                                                                <li class="subs hassubs">
                                                                    <a href="#">Admin <span>&laquo;</span></a>
                                                                    <ul class="dropdown">
                                                                        <li class="subs"><a href="@Url.Action("TransactionLog","Admin")" name="Budget Risks" >Transaction Log</a></li>
                                                                        <li class="subs"><a href="@Url.Action("DisplayIndustryCategory","Industry")" name="Oil and gass" >Modify Industry Category</a></li>

                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>

                                                </div>
                                            }
                                            </li>
                                        </ul>

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                                    

                                </div>




                            </div>
                        </div>

                    </section>
    <div id="PageContainer" class="box">
        @*<div id="HeaderContainer" class="row header">
        <table style="width:100%;">
            <tr>
                <td style="width:25%;">
                    <a href="#" id="Rmss_Logo" onclick="document.location = '@Url.Content("~/Home")'; return false;">
                        <img src="@Url.Content("~/Images/RMSS_Logo_Black.png")" alt="Logo" />
                    </a>
                </td>
                <td style="width:50%; display:table-cell; padding-top:10px;">*@
        @*@MenuLite.RenderMVC()*@
        @*</td>
                    <td style="width:25%; text-align:right;">
                        <a href="@Url.Content("~/User/Login")" class="Logout"> @(SessionData.IsLoggedIn ? "Logout " + SessionData.UserFullName : "Login")</a>
                    </td>
                </tr>
            </table>
            <div style="float: left">
            </div>
            <div style="margin: 0 auto;">
            </div>
            <div style="float: right">
            </div>
            <div style="float: right">
                <img src="" style="padding-right: 10px;height: 39px; display: none;" />
            </div>
        </div>*@





        <div id="ContentContainer" class="row content">
            <div style="float: right; width: 100%;">
                @*@RenderSection("content_SpellCheck", required: false)*@
            </div>
            <div id="Content">
                @RenderSection("content_Content", required: false)
                @*@RenderSection("ContentPlaceHolder1", required: false)*@
                @*@RenderBody()*@
                <img id="WaitingIcon" src="@Url.Content("~/Images/ajax-loader.gif")" style="display: none" />
            </div>
        </div>
        <footer>
            <section id="footer">
                <div class="container-fluid">
                    <div class="row">

                        <div class="col-md-12 p-0">


                            <div id="foot">
                                <ul>
                                    <li><a name ="Risk Cost" href="#"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a name="Popular Risks" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a name ="Total Risks" href="#"><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a name="Average Risks" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                                <div id="footlogo"><a name ="Personal Risks" href="#"><img src="../../Images/risk-manager.png" title="Risk Manager" alt="Risk Manager" /></a></div>

                                <p>2019 &copy; <b>The RiskManager.com</b> All rights reserved. <br />Terms & Privacy</p>
                            </div>
                        </div>

                    </div>
                </div>

            </section>
        </footer>
        @*<div id="FooterContainer" class="row footer">
                <div class="floatLeft">
                    <a href="~/Home/Copyright" class="FooterItem" style="margin-left:15px;">Copyright &copy; @HtmlHelpers.CurrentYear</a>
                    <span class="FooterItem"> | </span>
                    <a href="~/Home/Privacy" class="FooterItem">Privacy Policy</a>
                </div>
                <div class="floatRight">
                    <a href="~/Home/Contact" class="FooterItem">Contact Us</a>
                    <span class="FooterItem"> | </span>
                    <a href="~/Home/FAQ" class="FooterItem">FAQ's</a>
                    <span class="FooterItem"> | </span>
                    <a href="~/Home/SiteMap" class="FooterItem">Site Map</a>
                    <span class="FooterItem"> | </span>
                    <a href="~/Home" class="FooterItem" style="margin-right:15px;">Home</a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        @RenderSection("EndScripts", required: false)
        <footer></footer>*@
    </div>
</body>
</html>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('.dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
            }
        }
    }
</script>
