﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model RMSS_Website.Models.Quiz.QuizInstanceViewModel

@using RMSS_Website.Models.Quiz;
@using RMSS_Website.Objects.Web_Objects.CustomControl;

@section content_Content {

    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>

    <body>
        <a href="@Url.Action("CreateQuiz", "Quiz")">Return to Quiz Setup</a>
        <br />
        <br />
        @SectionHeading.RenderMVC("Assign Quiz " + Model.QuizModel.QuizName)
        <form method="post" action="@Url.Action("AssignNewQuiz", "Quiz")">
            <table>
                <tr>
                    <td>
                        <input type="text" value="@Model.QuizModel.QuizID" style="display:none;" name="QuizID" />
                        <label>First Name: </label>
                    </td>
                    <td>
                        <input type="text" name="FirstName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Last Name: </label>
                    </td>
                    <td>
                        <input type="text" name="LastName" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Email: </label>
                    </td>
                    <td>
                        <input type="text" name="Email" />
                    </td>
                </tr>
            </table>
            <input type="submit" value="Assign" />
        </form>
        <br />
    @(Html.Kendo().Grid(Model.QuizInstances).Name("AssignedQuizzes").Columns(columns => {
        columns.Bound(c => c.AssignDate).ClientTemplate("#= kendo.toString(AssignDate, \"dd/MM/yyyy HH:mm:ss\")#");
        columns.Bound(c => c.ParticipantName);
        columns.Bound(c => c.Email);
        columns.Bound(c => c.StartDate).ClientTemplate("#= kendo.toString(StartDate, \"dd/MM/yyyy HH:mm:ss\")#");
        columns.Bound(c => c.EndDate).ClientTemplate("#= kendo.toString(EndDate, \"dd/MM/yyyy HH:mm:ss\")#");
        columns.Bound(c => c.CreatorPerson);
        columns.Bound(c => c.QuizURL).ClientTemplate("<a href='#=QuizURL#' target='_blank'>Open Quiz</a>");
    }).Scrollable().Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn).ShowIndexes(true)).Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5)).DataSource(
    datasource => datasource.Ajax().Read(read => read.Action("GetQuizInstances", "Quiz", new { QuizID = Model.QuizModel.QuizID })).PageSize(20)))


    </body>
}
