﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RMSS_Website.Objects.Web_Objects.CustomControl
@using RMSS_Website.Models.Quiz

@model QuizViewModel

@section content_Content {
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        @SectionHeading.RenderMVC("Existing Quizzes")
        <table>
            @foreach (QuizModel qm in Model.QuizModels) {
                <tr>
                    <td>
                        <label>@qm.QuizName</label>
                    </td>
                    <td>
                        <a href=@Url.Action("SelectQuiz", "Quiz", new { QuizID = qm.QuizID }) title="Select Quiz" style="text-decoration:none;">
                            <img src="@Url.Content("~/Images/fast_forward.png")" />
                        </a>
                        <a href=@Url.Action("DeleteQuiz", "Quiz", new { QuizID = qm.QuizID }) title="Delete Quiz" style="text-decoration:none;">
                            <img src="@Url.Content("~/Images/deletered.gif")">
                        </a>
                        <a href=@Url.Action("AssignQuiz", "Quiz", new { QuizID = qm.QuizID }) title="Assign Quiz" style="text-decoration:none;">
                            <img src="@Url.Content("~/Images/add.gif")" />
                        </a>
                    </td>
                </tr>
            }
        </table>

        <br />
        <br />

        <input type="text" id="txtNewQuizName" />
        <button onclick="AddNewQuiz();">Add New Quiz</button>

        <br />
        <br />
        @if (Model.SelectedQuizModel != null) {
            @SectionHeading.RenderMVC("Questions for " + Model.QuizModels.FirstOrDefault(q => q.QuizID == Model.SelectedQuizModel).QuizName)
            <table style="width:100%">
                @foreach (QuestionModel question in Model.QuestionModels) {
                    <tr>
                        <td style="width:50%; padding:10px;">
                            <textarea onchange="QuestionTextboxChanged(this, '@question.QuestionID');" rows="8" style="width:100%;">@question.QuestionText</textarea>
                        </td>
                        <td style="width:50%; padding:10px;">
                            <img id="QuestionImage" src="@Url.Action("GetQuestionImage", "Quiz", new { QuestionID = question.QuestionID })" height="150px" style="max-width:100%;" />
                            <form id="questionImageUpload" enctype="multipart/form-data" action="@Url.Action("UploadQuestionImage", "Quiz")" method="post">
                                <input type="text" id="QuestionID" name="QuestionID" value="@question.QuestionID" style="display:none;" />
                                <input type="file" name="file" id="file" /> <br /> <br />
                                <input type="submit" value="Upload Question Image" />
                            </form>
                        </td>
                    </tr>
                }

            </table>
            <br />
            <br />
            <textarea id="txtNewQuizQuestion" rows="8" style="width:50%;"></textarea>
            <br />
            <button onclick="AddNewQuizQuestion();">Add New Question</button>
        }

        <script>
            function QuestionTextboxChanged(textbox, QuestionID) {
                var newText = textbox.value;
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("UpdateQuestionText", "Quiz")",
                    data: { NewText: newText, QuestionID: QuestionID },
                    success: function () {
                        window.location.reload();
                    },
                    error: function (xhr, status, errorThrown) {
                        ToastrPopup(xhr.responseText, 'error');
                    }
                });
            }

            function AddNewQuiz() {
                var newName = $('#txtNewQuizName').val();
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("AddQuiz", "Quiz")",
                    data: { quizName: newName },
                    success: function () {
                        window.location.reload();
                    },
                    error: function (xhr, status, errorThrown) {
                        ToastrPopup(xhr.responseText, 'error');
                    }
                });
            }

            function AddNewQuizQuestion() {
                var newname = $('#txtNewQuizQuestion').val();
                $.ajax({
                    url: "@Url.Action("AddQuestion", "Quiz")",
                    type: 'POST',
                    data: { QuestionName: newname, QuizID: '@Model.SelectedQuizModel'},
                    success: function () {
                        window.location.reload();
                    },
                    error: function (xhr, status, errorThrown) {
                        ToastrPopup(xhr.responseText, 'error');
                    }
                });
            }
        </script>
    </body>

}