﻿/* This file is for styling CONTROLS to the THEME */

a img
{
	border-width: 0px;
}

dd
{
	margin-left: 3em;
}
h3
{
	clear: both;
	float: none;
}

input, select
{
	/*float: left;*/
	clear: none; /*margin-right: 10px;*/
}
.ScrollingPanel
{
	overflow: auto;
}
.Scroll-y {
	overflow-x: hidden;
	overflow-y: auto;
}
.popupcontrol
{
	position: fixed;
	visibility: hidden;
}

.ItemButtons
{
	padding-bottom: 10px;
}

.SmallestWidth, .CheckBoxLabelSmallestWidth label
{
	width: 4em;
}
.SmallWidth, .CheckBoxLabelSmallWidth label
{
	width: 6em;
}
.SmallerWidth, .CheckBoxLabelSmallerWidth label
{
	width: 8em;
}
.MediumWidth, .CheckBoxLabelMediumWidth label
{
	width: 10em;
}
.LargerWidth, .CheckBoxLabelLargerWidth label
{
	width: 12em;
}
.LargeWidth, .CheckBoxLabelLargeWidth label
{
	width: 14em;
}
.LargestWidth, .CheckBoxLabelLargestWidth label
{
	width: 16em;
}

.ControlNoneWidth
{
	width: 0;
}
.ControlDefaultWidth
{
	width: 13em;
}
.ControlSmallestWidth
{
	width: 4em;
}
.ControlSmallestWidth
{
	width: 4em;
}
.ControlSmallWidth
{
	width: 7em;
}
.ControlSmallerWidth
{
	width: 10em;
}
.ControlMediumWidth
{
	width: 17em;
}
.ControlLargerWidth
{
	width: 21em;
}
.ControlLargeWidth
{
	width: 25em;
}
.ControlLargestWidth
{
	width: 29em;
}

.Bold
{
	font-weight: bold;
}
.Italic
{
	font-style: italic;
}
.BoldItalic
{
	font-style: italic;
	font-weight: bold;
}
.Underline
{
	text-decoration: underline;
}
.Overline
{
	text-decoration: overline;
}
.LineThrough
{
	text-decoration: line-through;
}
.Oblique
{
	font-style: oblique;
}

.Left
{
	text-align: left;
}
.Centre
{
	text-align: center;
}
.Right
{
	text-align: right;
}

.FloatLeft
{
	float: left;
}
.FloatRight
{
	float: right;
}

.NoWrap
{
	white-space: nowrap;
}

.AlternativeRow
{
	background-color: #f4f8fC;
	border-bottom: solid 1px #eaf0f4;
}

label.Medium
{
	width: 15em;
}
label.Large
{
	width: 20em;
}

.TextBoxContent
{
	display: block;
	float: left;
}

.NoRecords
{
	text-align: center;
	line-height: 75px;
	font-style: italic;
}

.PageToolbar
{
	padding-left: 5px;
	padding-top: 3px;
	background-image: url("../Images/Backgrounds/PageToolbar.png");
	background-repeat: repeat-x;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}

.SectionHeading
{
	font-weight: bold;
	font-size: 10.5pt;
	font-family: Tahoma, Verdana, Arial, Sans-Serif !important;
	padding-bottom: 5px;
	color: black;
	background-repeat: no-repeat;
	background-position: bottom left;
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 15px;
	text-align: left;
} 
.SectionHeading > h1, .SectionHeading > h2
{
    font-weight: bold;
	font-size: 10.5pt;
	font-family: Tahoma, Verdana, Arial, Sans-Serif !important;
    margin:0;
}

.Button, .ButtonDisabled
{
	background-repeat: repeat-x;
	background-position: bottom;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
    padding: 3px, 10px, 3px, 10px;
	text-decoration: none;
}
.Button
{
	background-color: #515151;
	border-color: #1a1a1a;
	color: White;
}
.Button:hover
{
	background-color: #e73232;
	border-color: #1a1a1a;
	color: White;
}
.ButtonDisabled, .Button[disabled~=disabled]
{
	background-color: #595959;
	border-color: #1a1a1a;
	color: #C0C0C0;
}
.ButtonWarning, .ButtonWarningDisabled
{
	background-repeat: repeat-x;
	background-position: bottom;
	border-width: 1px;
	border-style: solid;
	display: inline-block;
    padding: 3px 10px 10px 3px;
	text-decoration: none;
}
.ButtonWarning {
    background-color: #515151;
    border-color: #1A1A1A;
    color: Red;
}
.ButtonWarning:hover
{
	background-color: #e73232;
	border-color: #1a1a1a;
	color: White;
}
.ButtonWarningDisabled, .ButtonWarning[disabled~=disabled]
{
	background-color: #595959;
	border-color: #1a1a1a;
	color: #C0C0C0;
}

.FormView
{
	width: 100%;
	border-collapse: collapse;
}
.CheckBoxList
{
	border-collapse: collapse;
}
.CheckBoxList label
{
	font-weight: normal;
}
.CheckBoxList td
{
	vertical-align: top;
}
.Disabled {
    /*color: #ABABAB !important;*/
    text-decoration:line-through;
}

.Draggable
{
	cursor: move;
}

.Required
{
	color: red;
	font-size: 18px;
	font-weight: bold;
	padding-left: 5px;
}
.ErrorMessage
{
	color: #ff5050;
}
.Error, .Warning
{
	color: #d0d0d0;
}
div.Error, div.Warning
{
	display: block;
	background-color: #4D2D2D;
	border: solid 2px #D20B0B;
	background-image: url(Images/warning_red_4d2d2d.png);
	background-repeat: no-repeat;
	background-position: 7px 7px;
	padding: 10px 0px 5px 50px;
	text-align: left;
}
span.Error
{
	background-image: url(Images/warning_red_595959.png);
	background-repeat: no-repeat;
	background-position: 0px 7px;
	padding: 10px 0px 5px 25px;
	height: 18px;
}
.Error ul, .Error li
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	word-wrap: break-word;
}
.Username
{
	position: absolute;
	right: 28px;
	top: 7px;
	font-size: 10px;
	color: silver;
	width: auto !important;
}
.Logout
{
	display: block;
	padding-top: 10px;
	text-decoration: none;
}


.SpellCheck a
{
	margin-top: 10px;
	margin-right: 10px;
	display: block;
	background-image: url(Images/Spell.png);
	background-repeat: no-repeat;
	width: 27px;
	height: 17px;
	float: right;
	overflow: hidden;
    text-indent:-9999px;
}

.ScoreLabel, 
input[readonly~=readonly].ScoreLabel
{
	text-align: center;
	display: block;
	padding: 3px;
	border-top: 2px solid #373737;
	border-left: 2px solid #373737;
	border-bottom: 2px solid #808080;
	border-right: 2px solid #808080;
}

.MonitoringDashLabel, 
input[readonly~=readonly].MonitoringDashLabel 
{
	text-align:center;
	display:block;
	padding-top:15px;
	
}

.Tooltip
{
	border-bottom: 1px dotted #7777ff;
	cursor: help;
}

/*
	CollapsiblePanel control
*/

.CollapsiblePanelHeader
{
	cursor: pointer;
	background-color: #464646;
	color: White;
	padding: 10px;
	padding-bottom: 2em;
	background-image: url("Images/BackgroundNavigation.png");
	background-repeat: repeat-x;
	border: 1px solid #000000;
}
.CollapsiblePanelTitle
{
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: White;
}
.CollapsiblePanelLink
{
	float: right;
	width: 16px;
	height: 16px;
}
.CollapsiblePanelContent
{
	background-color: #262626;
	color: White;
	padding: 0px 10px 0px 10px;
	overflow: auto;
}

.CollapsiblePanelContentHide
{
	clear: both;
	display: none;
	border: 1px solid #5188C1;
	border-top-width: 0px;
}

.CollapsiblePanel a.Expanded
{
	background-image: url(../../Icons/scan-up_16.png);
}
.CollapsiblePanel a.Collapsed
{
	background-image: url(../../Icons/scan-down_16.png);
}

/* 
	Menu
*/


/*
.MainMenu
{
	position: absolute;
	top: 30px;
	right: 50px;
	z-index: 10;
}
.MainMenu td
{
	padding: 0px 5px 5px 5px;
}
.MainMenu a
{
	color: White;
	font-weight: bold;
}
.MainMenuItem, .MainMenuItemOver
{
	border-left: 2px solid #5984A2;
	min-width: 100px;
}
.MainMenuItem a, .MainMenuItemOver a
{
	padding: 5px;
}
.MainMenuItem
{
	background-color: #F0F2F4;
}
.MainMenuItem a
{
	color: #5984A2;
	display: block;
}
.MainMenuItemOver
{
	background-color: #CFD6DD;
}
.MainMenuItemOver a
{
	color: #88A8BE;
	display: block;
}

/*
	RAD Controls Overrides
*/

.RadTreeView li
{
	white-space: normal;
}

.radeditor body
{
	overflow: auto !important;
	padding: 10px;
}


.RadMenu_WebBlue, .RadMenu_WebBlue .rmLink:hover, .RadMenu_WebBlue .rmFocused, .RadMenu_WebBlue .rmExpanded, .RootNode
{
	background: none !important;
}
.RadMenu_WebBlue a.rmLink, .RadMenu_WebBlue .rmTemplate
{
	width: 150px !important;
}
.RootNode:hover
{
	color: #EBF3FF !important;
}

.RadMenu_Vista_Context
{
	z-index: 4000 !important;
}

/* 
	Modal Window 
*/
.ModalPopup
{
	/*z-index: 15000px !important;*/
	position: fixed;
}
.ModalBackground, .TelerikModalOverlay
{
	background-color: black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 */
	filter: alpha(opacity=30); /* IE7 */
	opacity: 0.3; /* EVERONE ELSE */
	/*z-index: 12000px !important;*/
}
.ModalPopupHeader
{
	background-color: #464646;
	color: White;
	padding: 1em;
	border: 1px solid #000000;
	border-bottom-width: 0px;
}
.ModalPopupContent
{
	background-color: #262626;
	color: White;
	padding: 1em;
	border: 1px solid #000000;
	border-top-width: 0px;
	border-bottom-width: 0px;
	overflow: auto;
}
.ModalPopupTitle
{
	background-color: #464646;
	background-image: url("Images/BackgroundNavigation.png");
	background-repeat: repeat-x;
	border: 1px solid #000000;
	border-width: 1px 1px 0px 1px;
	height: 35px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 13px;
	padding-top: 5px;
	color: White;
	width: auto;
	clear: both;
	border-bottom-width: 0px;
}
.ModalPopupTitle span
{
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin-top: 3px;
}
.ModalPopupTitle a
{
	display: block;
	float: right;
	margin: 2px 8px 0px 0px;
	width: 28px;
	height: 26px;
	background-image: url('Images/PopUpDialogClose_Norm.png');
	background-repeat: no-repeat;
	background-position: top;
}
.ModalPopupTitle a:hover
{
	background-image: url('Images/PopUpDialogClose_Over.png');
}
.ModalPopupTitle a img
{
	display: none;
}
.ModalPopupFooter
{
	background-repeat: repeat-x;
	background-position: top;
	background-color: #464646;
	background-image: url("Images/BackgroundFooter.png");
	background-repeat: repeat-x;
	height: 60px;
	text-align: right;
	border: 1px solid #000000;
	border-width: 0px 1px 0px 1px;
	overflow: hidden;
}
/*
	DateTimeRegion
*/
.DateTimeRegionPickerPopup
{
	border: 2px solid #3E89B8;
	background-color: White;
}
.DateTimeRegionPickerButtons
{
	background-image: url('../Images/Backgrounds/PopUpDialogFooter.png');
	background-repeat: repeat-x;
	background-position: top;
	text-align: center;
	padding: 12px;
}

/*
	Landing Menu
*/
.LandingMenu
{
	width: 560px;
	margin-left: auto;
	margin-right: auto;
}
.LandingMenu li
{
	list-style-type: none;
	display: block;
	float: left;
	background: url(../Images/Backgrounds/LandingPageItem.png);
	width: 140px;
	height: 140px;
}
.LandingMenu a
{
	font-family: "segoe ui" , arial !important;
	font-size: 14px;
	font-weight: bold;
	display: block;
	width: 120px;
	height: 90px;
	padding-top: 50px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-repeat: no-repeat;
	background-position: 42px 42px;
}

.Tag_ReadOnly
{
	border: 1px solid #6199BC;
	background-color: #E9F2FF;
	padding: 2px 4px 2px 4px;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
}
.Tag_Remove
{
	display: block;
	float: left;
}
.Content
{
	padding: 5px;
}

/*
	DateTime control
*/
.UtcPicker
{
	display: none;
}

/*
	TreeView control
*/
div.TreeView table
{
	font-family: Segoe UI;
	font-size: 12px;
	line-height: 1.5em;
	width: auto;
}

div.TreeView td
{
	padding: 0px;
	color: Black;
}

/*
	FolderList control
*/
.FolderList
{
	padding-left: 16px;
	clear: both;
}
.FolderList ul
{
	padding-left: 10px;
}
.FolderList li
{
	margin-top: 4px;
	padding-left: 4px; /*padding-left:3px;*/
	list-style-image: url(../Common/folder_16_262626.png);
}
.FolderList a
{
	text-decoration: none;
	color: white;
	display: block;
}
.FolderList a:hover
{
	text-decoration: underline;
}
.FolderList .Selected
{
	color: #FFFF80;
	font-weight: bold; /*background-color: #939353;*/
	background-image: url(Images/Selected.png);
	background-position: right center;
	background-repeat: no-repeat;
}

/*
	EntityList control
*/
.EntityList
{
	padding-left: 16px;
	clear: both;
}
.EntityList ul
{
	padding-left: 10px;
}
.EntityList li
{
	margin-top: 4px; /*padding-left:3px;*/
	list-style-image: url(../Common/folder_16_262626.png);
}
.EntityList a
{
	text-decoration: none;
	color: white;
	display: block;
}
.EntityList a:hover
{
	text-decoration: underline;
}
.EntityList .Selected
{
	color: #FFFF80;
	font-weight: bold; /*background-color: #939353;*/
	background-image: url(Images/Selected.png);
	background-position: right center;
	background-repeat: no-repeat;
}

/*
	CommonDataTreePicker control
*/

.CommonDataTreeList li
{
	list-style-type: none;
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 20px; /*height:20px;*/
}
.CommonDataTreeList li.Root
{
	background-image: url(../Common/folder_16_262626.png);
}
.CommonDataTreeList li.Level
{
	background-image: url(../Common/folder_16_262626.png);
}
.CommonDataTreeList li.Leaf
{
	background-image: url(../Common/play_16_262626.png);
}

.ProgressSmall
{
	background-image: url('../Images/activity-small.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.Hidden
{
	display: none;
}
.progressBackgroundFilter
{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	background-color: #000;
	filter: alpha(opacity=70);
	opacity: 0.7;
	z-index: 100000;
}
.processMessage
{
	position: fixed;
	top: 30%;
	left: 43%;
	padding: 10px;
	width: 14%;
	z-index: 1001;
}
.progress
{
	background-color: #595959;
	-moz-border-radius: 10px 10px 10px 10px;
	background-image: url(../../../images/ajax-loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
	border: 1px solid black;
	width: 50px;
	height: 50px;
	margin: auto auto;
}
.pro_container
{
	border: solid 1px #808080;
	border-width: 1px 0px;
}

.pro_header
{
	background-color: Black;
	border-color: #5188C1 #5188C1 #ccc;
	border-style: solid;
	border-width: 0px 1px 1px;
	padding: 0px 10px;
	color: #FFFFFF;
	font-size: 9pt;
	font-weight: bold;
	line-height: 1.9;
	font-family: arial, helvetica, clean, Sans-Serif;
}
.pro_body
{
	background-color: #f2f2f2;
	border-color: #5188C1;
	border-style: solid;
	border-width: 0px 1px;
	padding: 10px;
}

/* NEEDS REFLECTION */

.QuickSearch
{
	background-color: white;
	background-image: url("../Images/Backgrounds/QuickSearch.png");
	background-position: right 3px;
	background-repeat: no-repeat;
	padding: 2px;
	border: 1px solid #586B7D;
	position: absolute;
	top: 72px;
	right: 45px;
}

.SiteMapButton
{
	position: absolute;
	top: 67px;
	right: 0px;
}

.SupportButton
{
	position: absolute;
	top: 67px;
	right: 5px;
}


/******************************** Window (Dialog) ************************/
.Window
{
	background-color: #366196;
	border: solid 2px #336699;
	display: none;
	padding: 3px 3px 3px 3px;
	position: absolute;
	left: 40%;
	top: 20%;
	z-index: 100;
}

.GridContainer
{
	display: block;
	width: inherit;
}

.WindowCaptionLabel
{
	float: left;
}

.WindowCaptionButton
{
	float: right;
	background-color: #5997c4;
}

.WindowCaption
{
	color: White;
	display: block;
	height: 20px; /*float: left;*/
}

.WindowContent
{
	/*background-image: url('<%=WebResource("RMSS.Pegasus.UI.Avalon.Web.UI.Themes.Default.Media.Page.Background.png")%>');*/
	background-repeat: repeat-x;
	background-position: left top;
	background-attachment: fixed;
	background-color: #EFEFEF;
	width: 100%;
}

.WindowFooter
{
	background-color: #DFDFDF;
	height: 50px;
	width: 100%;
}



.Breadcrumb
{
	/*background-image: url("../Images/Backgrounds/Breadcrumb.png");*/
	background-repeat: repeat-x;
	border-collapse: collapse;
	height: 67px;
}
.Breadcrumb td
{
	/*display:block;	float:left;*/
	text-align: center;
	vertical-align: middle;
	height: 67px;
}
.BreadcrumbSeperator
{
	width: 33px;
	/*background-image: url("../Images/Backgrounds/BreadcrumbSeperator.png");*/
	background-repeat: no-repeat;
	background-position: center center;
}
.BreadcrumbRootNode, .BreadcrumbNode
{
	width: 100px;
	padding-left: 10px;
	padding-right: 10px;
}
.Breadcrumb a
{
	text-decoration: none;
	color: #3D4351;
	font-family: Arial;
	font-weight: bold;
}

.ValidatorCallout td
{
	border: solid 1px #eaf0f4;
	background-color: #262626;
}



.rcTitle, .GridHeader_Black, .GridHeader_Black th, .GridHeaderOver_Black, .GridHeader_Black a, .GridHeaderOver_Black a, .rdTitle
{
	color: White !important;
	font-size: 12px !important;
	font-weight: bold !important;
}

.RadGrid_Black td a, .RadGrid_Black td label, .RadGrid_Black td
{
	/*color: #aaaaaa !important;*/
	font-weight: normal !important;
}

.Heatmap
{
	border-collapse: collapse;
	border-width: 0px;
	table-layout: fixed;
	margin: 5px;
}
.Heatmap td
{
	font-size: 11px;
	font-family: Verdana, Sans-Serif;
	padding: 0px !important;
}
.Heatmap a
{
	display: block;
	text-decoration: none;
	min-height: 100%;
}
table.Heatmap td.HeatMapColumn {
	border:1px solid #4F4F4F;
}

.HeatmapMasterCategoryName
{
	width: 250px;
}

.PopupMenu
{
	visibility: hidden;
	border: 1px solid black;
	background-color: #373737;
	min-width: 150px;
}
.PopupMenu a
{
	padding: 5px;
	display: block;
	color: White;
}
.PopupMenu a:hover
{
	background-color: #232323;
}
.DefaultText
{
	color: Gray;
	font-style: italic;
}

.ResArgSummary ul
{
	list-style: none outside none;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.ResArgSummary
{
	margin-bottom: 10px;
}

.ResArgSummary li
{
	margin-left: -30px;
    height: 20px;
}


.ResArgSummary .ui-icon{
    float:left;
}

.Success li, span.Success
{
	background-image: url("Images/greentick.png");
	background-position: 5px 5px;
	background-repeat: no-repeat;
	height: 18px;
	padding: 5px 5px 5px 25px;
}

.ui-state-highlight.Success li {
    color: #000000;
    list-style: none outside none;
}

.RadComboBoxDropDown .rcbHovered
{
	color: White;
}

.nullBg
{
	background: none !important;
}

.rdTitlebar
{
	background-color: #191919 !important;
    background-position: 50% 50%;
    background-image: none,linear-gradient(to bottom,rgba(255, 255, 255, 0.417647) 0,rgba(255,255,255,.0784314) 50%,rgba(255,255,255,.0470588) 50%,rgba(255,255,255,0) 100%);
	background-repeat: repeat-x;
}
.rdContent
{
	top: 0px;
	background-color: #4f4f4f !important;
}
.rdTitle
{
	background-image: none !important;
	background-color: transparent !important;
}
.RadDock_Default, .RadDock_Black, .RadDock_Default .rdContent, .RadDock_Black .rdContent
{
	background-color: #4f4f4f;
}
.RadDockZone
{
	background-color: #525252 !important;
	border:none !important;
}
.RadDock_Default .rdTopBorder, .RadDock_Default .rdSideBorders, .RadDock_Default .rdBottomBorder, .RadDock_Black .rdTopBorder, .RadDock_Black .rdSideBorders, .RadDock_Black .rdBottomBorder
{
	border-color: #000000;
}
.RadCalendar_Default .rcTitle
{
	color:Black !important;
}
.dxic input[readonly~=readonly] {
	color: Black;
}
input[readonly~=readonly]
{
	background-color: transparent;
	border: medium none;
	color: #D1D1D1;
}
textarea, input
{
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.dimGrayBorder {
	border: dimgray 2px solid;


}

.dimGrayBorder td {
	padding-top: 5px;
	padding-left: 5px;
}
.dimGrayBorder2 {
	border: dimgray 2px solid;
}

.rgHoveredRow
{
	color: rgb(150, 150, 150) !important;
	border: 1px solid #9EDA29 !important;
}

.inputLeftMargin input {
	margin-left: 0px;
}
.tableSetup {
	border-spacing: 5px 0px
}
.tableSetup td {
	padding: 0 5px;
}
.LongTabs 
{
    /*min-width: 746px;*/
    width: 1200px;
	/*margin-top: 0px;*/
}

.RadTreeView .rtHover .rtIn {
	color: #D7D7D7 !important;
}



.divTable 
{
	width: 100%;
	display: table;	
}

.divTable .divRow {
	width: 100%;
	display: table-row;


}

.divTable .divRow .divColumn {
	display: table-cell;
	vertical-align: middle;
}

.divTable .divRow .divAltColumn {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}


table.MessageInbox .LabelTD {
    width:120px;
    text-align:right;
    vertical-align:top;
}
table.MessageInbox .PickerTD {
    width:300px;
    vertical-align:top;
}
table.MessageInbox .GroupLabelTD {
    width:150px;
    text-align:right;
    vertical-align:top;
}
.RadGrid_Black .IncidentReportDetailsGrid .EventCol {
    width:60px;
}

.RadGrid_Black .IncidentReportDetailsGrid .ClientRefCol {
    width:120px;
    word-break:break-all;
    word-wrap:break-word;
}

.RadGrid_Black .IncidentReportDetailsGrid .EventTypeCol {
    width:120px;
    word-break:break-all;
    word-wrap:break-word;
}

.RadGrid_Black .IncidentReportDetailsGrid .OccurenceDateCol {
    width:100px;
}

.RadGrid_Black .IncidentReportDetailsGrid .LocationCol {
    width:200px;
    word-break:break-all;
    word-wrap:break-word;
}
.RadGrid_Black .IncidentReportDetailsGrid .OpenActionsCol {
    width:80px;
    word-break:break-all;
    word-wrap:break-word;
}

.RadGrid_Black .IncidentReportDetailsGrid .ActionsCol {
    width:65px;
    word-break:break-all;
    word-wrap:break-word;
}



/*jQuery Accordion style hack*/
/*
#accordion .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active 
{
	background: url("Images/arrow_down_grey.png") no-repeat !important;
	background-size: 15px 15px !important;
	vertical-align: middle !important;

}


#accordion .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
background: url("Images/arrow_right_grey.png") no-repeat !important;
background-size: 15px 15px !important;
vertical-align: middle !important;
}



#accordion .ui-icon  {
display: none !important;
}

#accordion .ui-accordion-header {
	background:#222 url('RadControls/Grid/sprite.gif') 0 -1715px repeat-x !important;
	
}

#accordion .ui-accordion-content {
	
 color: #d7d7d7;

	
}

#accordion .ui-accordion-content .ui-helper-reset .ui-widget-content .ui-corner-bottom .ui-accordion-content-active{

	background-color: red;

	
}

*/
#accordion {
	width: 100%;
	
	background-color: #313131 !important;
}



#accordion .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active 
{
	background: url("Images/arrow_down_grey.png") no-repeat !important;
	background-size: 15px 15px !important;
	vertical-align: middle !important;

}

#accordion .ui-icon  {
display: none !important;
}

#accordion .ui-accordion-header {
	background:#222 url('RadControls/Grid/sprite.gif') 0 -1715px repeat-x !important;
	
}
#accordion .ui-accordion-content {
	width: 100%;
	height: 240px;
	margin-left: -30px;
}
#accordion .ui-accordion-content div{
	width: 100%;
	background-color: #313131 !important;
	color:  #d7d7d7;
}

#riskManagerAccordion .ui-accordion-content {
    padding: 0px;
    border-color: #1a1a1a;
}

#riskManagerAccordion .ui-accordion-header {
    background:#515151;
    border-color:#1a1a1a;
    min-width:300px;
}

/*.divTableHeader {
    background: url("RadControls/Grid/sprite.gif") repeat-x scroll 0 -2304px #191919;
}*/

.RadComboBox .rcbReadOnly .rcbInput, .RadComboBox .rcbDisabled .rcbInput {
    color: #999;
}
.RadComboBox table.rcbDisabled
{
    opacity: 1;
}

.Crumb {
    color:#DBDBDB;
}