﻿body {
    padding: 0 !important;

}
#PageContainer {
    padding: 0 !important;
    max-width: none !important;
}
.Logout {
    padding-right: 5px;
}
#Content {
    padding: 5px !important;
}

.gridster * {
  margin:0 auto;
  padding:0;
}

ul {
  list-style-type: none;
}

.gridster .gs-w{
    cursor:default;
}

body {
    /*margin: 30px 40px;*/
}

.controls {
    margin-bottom: 20px;
}

/*/
/* gridster
/*/

.gridster ul {
    background-color: #696969;
}

.gridster li {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    line-height: 100%;
}


.gridster {
    margin: 0 auto;

    /*opacity: .8;*/

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs-w {
    background: #DDD;
    cursor: pointer;
}

.gridster .player {
    background: #BBB;
}


.gridster .preview-holder {
    border: none!important;
    background: white!important;
}


.smallTitlebar {
    background-color: #191919;
    background-position: 50% 50%;
    background-image: none,linear-gradient(to bottom,rgba(255, 255, 255, 0.417647) 0,rgba(255,255,255,.0784314) 50%,rgba(255,255,255,.0470588) 50%,rgba(255,255,255,0) 100%);
    background-repeat: repeat-x;
    border: 1px solid #000000;
    padding-bottom: 2px;
    cursor:pointer;
}

.gsIFrame {
    width:100%;
    height: calc(100% - 15px);
    height: -webkit-calc(100% - 15px);
    border:0;
    /*height:97%\9;*/
}

.hiddenTitle {
    display:none;
}

.overlay_fix {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    opacity: 0;
    display: none;
}
.gsHref
{
    /*display: none;*/
}

.Logout {
    font-weight: bold;
}