﻿.Button:hover
{    
    background-color:       #f0f0f0;
    border-color:           #1a1a1a;    
    color:                  Black;
}

/* action */
.rcTitle
{
	color: Black !important;
}
.dropwidth select
{
	width: 220px;
}
div.dropwidth
{
	width: 220px !important;
}
.labelwidth label
{
	width: 150px;
	float: left;
}
.tablelayout td
{
	padding: 3px 0px;
}
.dropwidthfull select
{
	width: 95%;
}
