/* Styles for jQuery menu widget
Author:	Maggie Wachs, maggie@filamentgroup.com
Date:		September 2008
*/

.fg-button {
	    background-repeat: no-repeat;
        border-left: solid 1px Black;
        color: White;
        display: block;
        height: 30px;
        float: left;     
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        text-decoration: none;
	}
.fg-button:hover { color: White; }

/* REQUIRED STYLES - the menus will only render correctly with these rules */	

.fg-menu-container { 
    background-color: #232323;    
    position: absolute; 
    top:0; 
    left:-999px; 
    padding: 0; 
    margin: 0;      
    height: auto;           
}

.fg-menu, .fg-menu ul { list-style-type:none; padding: 0; margin:0; }

.fg-menu { position:relative; }
.fg-menu-flyout .fg-menu { position:static; }

.fg-menu ul { position:absolute; top:0; }
.fg-menu ul ul { top:-1px; }

.fg-menu-container.fg-menu-ipod .fg-menu-content, 
.fg-menu-container.fg-menu-ipod .fg-menu-content ul { background: none !important; }

.fg-menu li { display: block; width:100%; margin: 0; padding:0; border: 0; }	
.fg-menu li li { font-size:1em; } /* inner li font size must be reset so that they don't blow up */

.fg-menu-breadcrumb, .fg-menu-all-lists, .fg-menu-breadcrumb-text  { display: block; width:100%; margin: 0; padding:0; border: 0; background-color: Red; }

.fg-menu-footer {  margin-top: .4em; padding: .4em; }
.fg-menu-header {  margin: 0; padding: 0; }

.fg-menu-breadcrumb li { float: left; list-style: none; margin: 0; padding: 0 .2em; font-size: .9em; }
.fg-menu-breadcrumb li.fg-menu-prev-list,
.fg-menu-breadcrumb li.fg-menu-current-crumb { float: none; background-color: Red; padding: 4px 0px 4px 5px }

.menuClaims .fg-menu-breadcrumb, .menuClaims .fg-menu-all-lists, .menuClaims .fg-menu-breadcrumb-text { background-color: #a3c544; }
.menuClaims li.fg-menu-current-crumb { background-color: #a3c544; }
.menuClaims .fg-menu-breadcrumb a, .menuClaims .fg-menu-breadcrumb span { color: Black; }

.menuEnhancements .fg-menu-breadcrumb, .menuEnhancements .fg-menu-all-lists, .menuEnhancements .fg-menu-breadcrumb-text { background-color: White; }
.menuEnhancements li.fg-menu-current-crumb { background-color: White; }
.menuEnhancements .fg-menu-breadcrumb a, .menuEnhancements .fg-menu-breadcrumb span { color: Black; }

.fg-menu-breadcrumb a, 
.fg-menu-breadcrumb span { }

.fg-menu-footer a:link,
.fg-menu-footer a:visited { float:left; width:100%; text-decoration: none; }
.fg-menu-footer a:hover,
.fg-menu-footer a:active {  }

.fg-menu-footer a span { float:left; cursor: pointer; }

.fg-menu-breadcrumb .fg-menu-prev-list a:link,
.fg-menu-breadcrumb .fg-menu-prev-list a:visited,
.fg-menu-breadcrumb .fg-menu-prev-list a:hover,
.fg-menu-breadcrumb .fg-menu-prev-list a:active { background-image: none; text-decoration:none; }
	
.fg-menu-breadcrumb .fg-menu-prev-list a { float: left; padding-right: .4em; }
.fg-menu-breadcrumb .fg-menu-prev-list a .ui-icon { float: left; }
	
.fg-menu-breadcrumb .fg-menu-current-crumb a:link,
.fg-menu-breadcrumb .fg-menu-current-crumb a:visited,
.fg-menu-breadcrumb .fg-menu-current-crumb a:hover,
.fg-menu-breadcrumb .fg-menu-current-crumb a:active { display:block; background-image:none; font-size:1.3em; text-decoration:none;}



/* REQUIRED LINK STYLES: links are "display:block" by default; if the menu options are split into 
	selectable node links and 'next' links, the script floats the node links left and floats the 'next' links to the right	*/

.fg-menu a:link,
.fg-menu a:visited,
.fg-menu a:hover,
.fg-menu a:active { float:left; width:92%; padding:.3em 3%; text-decoration:none; outline: 0 !important; }

.fg-menu a { border: 1px dashed transparent; }

.fg-menu a.ui-state-default:link,
.fg-menu a.ui-state-default:visited,
.fg-menu a.ui-state-default:hover,
.fg-menu a.ui-state-default:active,
.fg-menu a.ui-state-hover:link,
.fg-menu a.ui-state-hover:visited,
.fg-menu a.ui-state-hover:hover,
.fg-menu a.ui-state-hover:active,
 .fg-menu a.ui-state-active:link,
 .fg-menu a.ui-state-active:visited,
 .fg-menu a.ui-state-active:hover,
.fg-menu a.ui-state-active:active { border-bottom: solid 1px Red; border-top: solid 1px Red; font-weight: normal; }

.fg-menu a span { display:block; cursor:pointer; }


 /* SUGGESTED STYLES - for use with jQuery UI Themeroller CSS */	
 
.fg-menu-indicator span { float:left; }
.fg-menu-indicator span.ui-icon { float:right; }

.fg-menu-content.ui-widget-content, 
.fg-menu-content ul.ui-widget-content { border:0; }


/* ICONS AND DIVIDERS */

.fg-menu.fg-menu-has-icons a:link,
.fg-menu.fg-menu-has-icons a:visited,
.fg-menu.fg-menu-has-icons a:hover,
.fg-menu.fg-menu-has-icons a:active { padding-left:20px; }

.fg-menu .horizontal-divider hr, .fg-menu .horizontal-divider span { padding:0; margin:5px .6em; }
.fg-menu .horizontal-divider hr { border:0; height:1px; }
.fg-menu .horizontal-divider span { font-size:.9em; text-transform: uppercase; padding-left:.2em; }

.ui-widget { overflow: hidden; }

.fg-menu-indicator {
    background-image: url("Images/MenuArrow_232323.png");
    background-position: right center;
    background-repeat: no-repeat;
}

.fg-menu a.ui-state-default, .fg-menu a.ui-state-active, .fg-menu a { border: solid 1px #232323; }

.menuRisk .fg-menu a.ui-state-default:link,
.menuRisk .fg-menu a.ui-state-default:visited,
.menuRisk .fg-menu a.ui-state-default:hover,
.menuRisk .fg-menu a.ui-state-default:active,
.menuRisk .fg-menu a.ui-state-hover:link,
.menuRisk .fg-menu a.ui-state-hover:visited,
.menuRisk .fg-menu a.ui-state-hover:hover,
.menuRisk .fg-menu a.ui-state-hover:active,
.menuRisk .fg-menu a.ui-state-active:link,
.menuRisk .fg-menu a.ui-state-active:visited,
.menuRisk .fg-menu a.ui-state-active:hover,
.menuRisk .fg-menu a.ui-state-active:active { border-bottom: solid 1px #e73232; border-top: solid 1px #e73232; font-weight: normal; }

.menuCompliance .fg-menu a.ui-state-default:link,
.menuCompliance .fg-menu a.ui-state-default:visited,
.menuCompliance .fg-menu a.ui-state-default:hover,
.menuCompliance .fg-menu a.ui-state-default:active,
.menuCompliance .fg-menu a.ui-state-hover:link,
.menuCompliance .fg-menu a.ui-state-hover:visited,
.menuCompliance .fg-menu a.ui-state-hover:hover,
.menuCompliance .fg-menu a.ui-state-hover:active,
.menuCompliance .fg-menu a.ui-state-active:link,
.menuCompliance .fg-menu a.ui-state-active:visited,
.menuCompliance .fg-menu a.ui-state-active:hover,
.menuCompliance .fg-menu a.ui-state-active:active { border-bottom: solid 1px #f2ab39; border-top: solid 1px #f2ab39; font-weight: normal; }

.menuIncident .fg-menu a.ui-state-default:link,
.menuIncident .fg-menu a.ui-state-default:visited,
.menuIncident .fg-menu a.ui-state-default:hover,
.menuIncident .fg-menu a.ui-state-default:active,
.menuIncident .fg-menu a.ui-state-hover:link,
.menuIncident .fg-menu a.ui-state-hover:visited,
.menuIncident .fg-menu a.ui-state-hover:hover,
.menuIncident .fg-menu a.ui-state-hover:active,
.menuIncident .fg-menu a.ui-state-active:link,
.menuIncident .fg-menu a.ui-state-active:visited,
.menuIncident .fg-menu a.ui-state-active:hover,
.menuIncident .fg-menu a.ui-state-active:active { border-bottom: solid 1px #f7e936; border-top: solid 1px #f7e936; font-weight: normal; }

.menuClaims .fg-menu a.ui-state-default:link,
.menuClaims .fg-menu a.ui-state-default:visited,
.menuClaims .fg-menu a.ui-state-default:hover,
.menuClaims .fg-menu a.ui-state-default:active,
.menuClaims .fg-menu a.ui-state-hover:link,
.menuClaims .fg-menu a.ui-state-hover:visited,
.menuClaims .fg-menu a.ui-state-hover:hover,
.menuClaims .fg-menu a.ui-state-hover:active,
.menuClaims .fg-menu a.ui-state-active:link,
.menuClaims .fg-menu a.ui-state-active:visited,
.menuClaims .fg-menu a.ui-state-active:hover,
.menuClaims .fg-menu a.ui-state-active:active { border-bottom: solid 1px #a3c544; border-top: solid 1px #a3c544; font-weight: normal; }

.menuEnhancements .fg-menu a.ui-state-default:link,
.menuEnhancements .fg-menu a.ui-state-default:visited,
.menuEnhancements .fg-menu a.ui-state-default:hover,
.menuEnhancements .fg-menu a.ui-state-default:active,
.menuEnhancements .fg-menu a.ui-state-hover:link,
.menuEnhancements .fg-menu a.ui-state-hover:visited,
.menuEnhancements .fg-menu a.ui-state-hover:hover,
.menuEnhancements .fg-menu a.ui-state-hover:active,
.menuEnhancements .fg-menu a.ui-state-active:link,
.menuEnhancements .fg-menu a.ui-state-active:visited,
.menuEnhancements .fg-menu a.ui-state-active:hover,
.menuEnhancements .fg-menu a.ui-state-active:active { border-bottom: solid 1px White; border-top: solid 1px White; font-weight: normal; }