﻿/*Styling for global settings*/

legend.gsLegend {
    border-style: solid;
    /*border-top: 0.5px;*/ 
    border-color: black;
    border-width: 0.5px;

    /*background: #191919 0 -2300px repeat-x url('RadControls/Grid/sprite.gif');*/
    background-color: #000000;
    padding-top: 5px;
    padding-bottom: 4px;
    
    font-weight: normal;

    width: 750px;
    height: 100%;

    margin: 0 auto;
    

    padding-right: 0px;
    padding-left: 0px;
    text-align:center;

}

legend.gsLegend:hover {
}

.floatSearch {
    float: right;
}

.floatSearch > .Button {
    margin: 2px;
}

fieldset.globalSettingFieldSet{
    /*border: 0px;*/
    padding: 1px;
}

table.gssTable {
    display: table;
    vertical-align: middle;
    word-wrap: break-word;
    width:100%;
    table-layout:fixed;
}
