﻿#ContentContainerWizard {
    left: 205px;
    margin: 50px auto auto;
    padding: 0;
    position: absolute;
    top: 2px;
    width: 1270px;
    z-index: 2;
}

div .t-dropdown-wrap {
    margin-top: 0px;
    height:20px;
}

div .t-dropdown-loading {
    margin-top: 0px;
    height:20px;
}
