﻿/* This stylesheet is the main layout of the site. */
* { 
    margin:             0;        
    padding:            0;   
    font-size:          small;
	font-style:         normal;
	font-family:        Arial, Verdana, Sans-serif !important;   
}

.FolderList li
{
	padding-left:5px;
}

/*img, div, input { behavior: url("IEHacks/iepngfix.htc") }*/

html,body {
    margin:             0;
    padding:            0;
    /*height:             100%;
    border:             none;
    overflow:           visible;*/
}   
body
{
	font-size:          small;
	font-style:         normal;
	font-family:        'Segoe UI',Tahoma,Verdana,Arial,Helvetica;
    /*background-color:	#F1FBFE;*/
}
a img { border-width: 0px; }

dt { }
dd { margin-left:3em; }

#RMSS_panel_Tabs
{
	/*margin-top:5px;*/
	width:auto;
}

#MenuContainer 
{
	position:absolute;
	width:auto;
	right:70px;
	top:20px;
	z-index:10;
}

#TractionControl
{
	background-color:		#E8ECF6;
    background-image:       url("../Images/Backgrounds/Crumb.png");
    background-position:    top; 
    background-repeat:repeat-x;
    display:                none;       
    margin-left:           0px !important;
    position: relative;
    top: -68px;
    text-align:             center;        
}
#TractionContent 
{    
    margin-left:           0px;
    display:                block;                        
    text-align:             center;    
    width:					auto; 
    overflow:               auto;
}

#TractionContentInner
{        
    margin:					0px;
    padding:                0px;    
    width:					auto;        
    text-align:             center;
}
#ModuleTrail
{
    background-image:       url("../Images/Backgrounds/ModuleTrail.png");
    background-repeat:      repeat-x; 
    display:                block;
    height:                 33px;  
    width:                  auto;  
    padding-left:           10px; 
    padding-top:            10px;     
}

#ModuleTrail a 
{
    color:                  Black;
    display:                block;
    float:                  left;
    margin-left:            8px;
    margin-right:           8px;
    padding-bottom:         3px;
    padding-left:           10px;
    padding-right:          10px;
    padding-top:            3px;
    text-decoration:        none;    
}

#ModuleTrail a:hover
{
    background-color:       #d1e0e6;    
}

#ModuleTrail a.Selected 
{
    font-weight:            bold;
}


#CrumbTrail
{
    background-image:       url("../Images/Backgrounds/Breadcrumb.png");
    background-repeat:      repeat-x; 
    display:                block;
    height:                 67px;  
    /*width:                  100%;    */
}

#Version
{
	float:right;
	/*right:0px;
	bottom:7px;*/
}
#Version label
{
	float:left;
	width:auto;
	color:#c0c0c0;
}

/******************************** Objects ********************************/

#Container 
{    
    /*display:            table;
    height:             100%;
    min-width:			990px;
    max-width:			1400px;
    margin-left:		auto;
    margin-right:		auto;*/
    background-color:	#ffffff;
}

#Header, #HeaderSplitter, #Preferences, #Navigation, #NavigationSplitter, #NavigationSidebar
{                
    background-image:       url("../Images/Backgrounds/Universal.png");
}

#Header, #HeaderSplitter
{                
    background-repeat:      repeat-x;    
    display:                block;        
    height:                 67px;
    vertical-align:         top; 
    width:                  100%;   
}

#HeaderSplitter 
{ 
    display:                block;
    position:               absolute;
    width:                  10px;    
    top:                    0;
    right:                  260px;
}

#Preferences 
{
    background-repeat:      repeat-x;
    display:                block;
    position:               absolute;
    width:                  260px;
    height:                 67px;
    top:                    0;
    right:                  0;
}    
    
#Navigation
{
    background-repeat:      repeat-x;    
    /*background-attachment:  fixed;*/
    background-position:    left bottom;    
    display:                block;            
    height:                 28px;
    padding-left:           26px;
    padding-top:			5px;
    vertical-align:         bottom;
    width:                  auto;
}

#NavigationSplitter
{
    background-repeat:      repeat-x; 
    /*background-attachment:  fixed;*/
    background-position:    0 -33px;     
    display:                block;        
    height:                 33px;
    width:                  10px;
    position:               absolute;
    top:                    67px;
    left:                   0px;
}

#NavigationSidebar 
{
    background-repeat:      repeat-x;   
    background-attachment:  fixed;
    background-position:    0 0px;    
    display:                block;    
    height:                 33px;      
    width:                  0px;  
    vertical-align:         bottom;              
    position:               absolute;
    top:                    67px;
    left:                   0;
    padding-top:			5px;
	overflow:				hidden;
}    
   

    
#PageTrail
{
    background-color: #F1FBFE;
    background-image:       url("../Images/Backgrounds/PageTrail.png");
    background-repeat:      repeat-x;   
    display:                block;
    height:                 30px;    
    margin-bottom:         -6px;
    /*padding-left:           6px;*/
    padding-top:            6px;
    position:               fixed;    
    bottom:                 0;
    left:                   0;
    width:                  100%;
}
    
#PageTrail a
{
    color:                  #414867;
    display:                block;
    float:                  left;    
}

.SiteMapPath 
{
	display:		block;
	float:			left;
	margin-left:	6px;
}

.CrumbCurrentNodeStyle { padding-top: 6px; background-color: Red; }
    
#Content 
{    
    display:                block;                        
    /*margin-left:            10px;
    width:					auto;*/
}

#ContentInner
{    
    /*height:               100px;
    overflow:               visible;*/ 
    /*position:			    relative;*/
    padding:                15px;
    /*margin-bottom:          30px;    */
}

#RMSS_PageButtons, .PageButtons
{
	padding:12px;
	background-image: url('../Images/Backgrounds/PopUpDialogFooter.png');
	background-repeat:repeat-x;
	background-position:top;
	margin-top:15px;
	margin-left:-15px;
	margin-right:-15px;
	text-align:center;
}

.ItemButtons
{
	padding:12px;
	background-image: url('../Images/Backgrounds/PopUpDialogHeader.png');
	background-repeat:repeat-x;
	background-position:bottom;
	margin-bottom:15px;
	margin-top:-15px;
	margin-left:-15px;
	margin-right:-15px;
	text-align:right;
}

#Toolbar
{    
    padding-bottom: 12px;
    border-bottom: 1px solid #CFCFCC;
    clear: both;    		
    height: 30px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#Splitter
{                
    background-color:       #75a9c4;
    border-left:            solid 1px #586b7d;
    border-right:           solid 1px #586b7d;
    display:                block;  
    width:                  8px;  
    position:               absolute;
    top:                    99px;
    left:                   0px;
    height:                 100px;
}

#Sidebar 
{
	overflow:				hidden;
    display:                block;        
    width:                  0px;
    vertical-align:         top;
    position:               absolute;
    top:                    100px;
    left:					0px;
    height:                 100px;
}

#SidebarInner 
{
}

#ActionMenu
{
    background-color: Red;
    display: none;
    left: 5px;
    position: absolute;
    width: 120px;
    top: 100px;        
}

.HeaderLogo
{ 
    margin-left:	17px; 
    margin-top:		17px; 
}

.Table  { display: block; }
.Row    { display: block; width: 100%; }
.Cell   { display: block; }
.Liquid { height: 100%; width: 100%; }
.Spacer { width: 10px; }

.Tab, .TabSelected, .Tab a, .TabSelected a, .TabSelected, .TabSelected a {    
    background-image:       url("../Images/Backgrounds/Tabs.png");
}

.Tab, .TabSelected {    
    background-repeat:      no-repeat;      
    background-position:    left 0;
    display:                block;
    float:                  left;
    height:                 23px;
    margin-top:             5px;
    margin-right:           10px;
    overflow:               hidden;  
    padding-left:           11px;    
}

.Tab a, .TabSelected a {           
    background-repeat:      no-repeat;       
    background-position:    right 0px;
    display:                block;
    float:                  left;
    height:                 23px;    
    padding-left:           10px;
    padding-right:          21px;
    padding-top:            5px;    
    text-decoration:        none;
}

.TabSelected {    
    background-repeat:      no-repeat;       
    background-position:    left -23px;
}

.TabSelected a {           
    background-repeat:      no-repeat;       
    background-position:    right -23px;
}

/* Form elements
-------------------------------------------------------- */		
	
fieldset 
	{  	
	    background-color:       #ffffff;
	    border:                 solid 1px #7e9cb1;
		
	    display:                block;
		width:			        inherit;
		margin:			        0 0 1em 0;
		padding:		        0;
	} 
textarea
	{
		font-family:Sans-Serif ;
		font-size:small ;
	}
legend 
	{  
		margin-left:	1em;  
		color:			#000000;  
		font-weight:	bold; 
	} 

fieldset ol 
	{  
		padding:		10px 10px 0 10px;  
		list-style:		none; 
	} 
	
fieldset li 
	{
		float:			left;
		clear:			left;
		width:			100%;
		padding-bottom: 0.5em;
	}
	
fieldset.Submit 
	{
	    background-color:   Transparent;
	    border-width:       0;		
		float:			    none;				
		text-align:         right;			
		width:              95%;
	}
	
fieldset.Submit a.Button
{    
    
    margin-left: 10px;
    margin-right: -10px;
    float: none;
    
} 

.RightAlign
{     
    display: block;
    width: 223px;   
}

label 
	{  
		float:			left;
	    /*font-weight:    normal;*/
		/*width:			10em;  */
		margin-right:	1em; 
	}
	
label.Expanded 
	{  			    
		width:			15em;  	
	}
	
label.Massive
	{  		
		width:			20em;  		
	}
	
input, select
	{	    
	    float:			left;
	    clear:			none;
	    margin-right:	10px;	    
	}
	
div.Button
	{	    
	    height:			24px;
	    float:			none !important;
	    margin-right:	10px;
	}
	
input.TextBox
	{
	    border-color:	#AEAEAE;
	    border-style:	solid;
	    border-width:	1px;
	    height:			20px;	    
	    vertical-align: middle;
	}
input.Time 
	{
		width:5em;
	}
	
.CheckBox {
    width: auto;
    float: left;
}

.CheckBokImage
	{
		float:			left; 
		vertical-align: middle; 
		margin-top:		3px; 
		margin-right:	6px;
	}
	
	.Grid_Alternating
{
	background-color: #E7F1FE;
}
	.Grid_Selected
{
	background-color: #EBECED;
}
.Grid_Header
	{
	    border-bottom:	1px solid #010101;
		background:		url('../Skins/Default/Grid/headers.gif') repeat-x #434343;
		color:			White;
		height:			30px;		
		padding:		10px 6px 10px 11px;
		text-align:		left;
		font-size:		1em;
		font-weight:	bold;	
	}
	
.Grid td, th
	{
	    padding:5px;	
	}
	
.Grid_Pager
	{
	    background-color: #EFEFFF;	
	}
	
.Grid_Pager a
	{
		color: Navy;
	    margin-left: 5px;
	}

.rtContainer
{
 position: relative;
 font-size: 1px; 
}

.rtTextArea
{
  position: relative;
  left: 1px;
  top: 1px;
  border: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
  /* This sets the color of the textarea */
  background-color: White;
}

.rtTopEdge, .rtLeftEdge
{
  position: absolute;
  left: 0px; 
  
  /* This sets the color of the left and top edge
   * for the other edges, you will have to modify
   * the images */
  background-color: #A5ACB2;
}

.rtTopEdge
{
  height: 1px;  
}

.rtLeftEdge
{
  width: 1px;
}

.rtRightEdge
{
  position: absolute;
  width: 4px;
  top: 3px;
  cursor: e-resize;
  background-image: url('../Media/Layout/vert_repeater.gif');
  background-repeat: repeat-y;
}

.rtBottomEdge
{
  position: absolute;
  height: 4px;
  left: 3px;
  cursor: s-resize;
  background-image: url('../Media/Layout/horz_repeater.gif');
  background-repeat: repeat-x;
}

.rtCorner, .rtLeftCorner, .rtTopCorner, .rtBottomHandle, .rtRightHandle, .rtTopRightImage, .rtBottomLeftImage
{
  position: absolute;
  background-image: url('../Media/Layout/non_repeaters.gif');
  background-repeat: no-repeat;
}

.rtCorner
{
  height: 7px;
  width: 7px;
  cursor: se-resize;
  background-position: -23px -7px;
}

.rtLeftCorner
{
  height: 7px;
  width: 7px;
  top: 0px;
  left: -7px;
  background-position: -16px -7px;
}

.rtTopCorner
{
  height: 7px;
  width: 7px;
  top: -7px;
  left: 0px;
  background-position: -23px 0px;
}

.rtRightHandle
{
  width: 8px;
  height: 22px;
  left: 0px;
  background-position: 0px 0px;
}

.rtBottomHandle
{
  width: 22px;
  height: 8px;
  top: 0px;
  background-position: -8px -14px;
}

.rtTopRightImage
{
   width: 4px;
   height: 3px;
   top: -3px;
   left: 0px;
   background-position: -10px -6px;
}

.rtBottomLeftImage
{
   width: 3px;
   height: 4px;
   top: 0px;
   left: -3px;
   background-position: -10px -1px;
}

.PanelBorder
{
    border:             solid 1px #7e9cb1;
    padding:            10px 10px 20px 10px;    
    display:            inline-block;
}

.ViewSelection input { float: none; }

