﻿.version {
            bottom: 0;
            color: #333;
            position: absolute;
            right: 0;
            color: #333;
        }
        *
        {
            margin: 0;
            padding: 0;
        }

        .blockTitle
        {
            display: none;
        }

        html, body
        {
            margin: 0;
            padding: 0;
            height: 100%;
            border: none;
            overflow: hidden;
            font-family: Arial, Helvetica, Sans-Serif;
        }

        body
        {
            background-color: #343434;
            background-image: url(Images/Login.png);
            background-repeat: repeat-x;
            background-position: left center;
        }

        body
        {
            color: White;
            font-family: Sans-Serif;
            font-size: 12px;
        }

        .TextBox, .Password
        {
            background-color: #d1d1d1;
            border: 1px solid Black;
            width: 250px;
            color: Black;
            font-size: 12px;
            font-family: Arial, Helvetica, Sans-Serif;
            padding: 4px;
            margin-top: 6px;
        }

        .LoginButton
        {
            background-color: #6c6c6c;
            border: solid 1px Black;
            color: White;
            cursor: hand;
            padding: 3px 10px 3px 10px;
        }

            .LoginButton:hover
            {
                background-color: Black;
            }

        .ErrorMessage
        {
            color: Red;
            font-size: 12px;
            font-family: Arial, Helvetica, Sans-Serif;
            font-weight: bold;
        }

        .Button, .ButtonDisabled
        {
            background-repeat: repeat-x;
            background-position: bottom;
            border-width: 1px;
            border-style: solid;
            display: inline-block;
            padding-bottom: 3px;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 3px;
            margin: 0px -5px 0px 0px;
            text-decoration: none;
        }

        .Button
        {
            background-color: #515151;
            border-color: #1a1a1a;
            color: White;
        }

            .Button:hover
            {
                background-color: #e73232;
                border-color: #1a1a1a;
                color: White;
            }

        .ButtonDisabled
        {
            background-color: #595959;
            border-color: #1a1a1a;
            color: #C0C0C0;
            cursor: default;
        }
        a {
            color:lightgray;
        }

        #trForgotPassword a{
            float:right;
            text-decoration: none;
        }
        #trForgotPassword a:visited{
            color:lightgray;
            text-decoration: none;
        }
        #trForgotPassword a:hover{
            color:lightgray;
            text-decoration: underline;
        }
         .centered > div, .centered > table,.centered table {
            margin-left: auto;
            margin-right: auto;
        }
            .centered table, .centered table > td {
                border: 0;
                border-spacing: 10px;
                border-collapse: separate;
            }

                .centered table > td {
                    padding: 0px;
                }