﻿/****** Added by Edward on 30/May/2018, for mobile-friendly pages ***********************************/
input, select, textarea {
    color: black;
    border-width: 0.13vmin;
}
/*For Mobile Phones*/
@media (max-width: 768px) {
    * {
        font-size: 3.52vmin;
    }

    .ScoreLabel {
        width: 120px;
        font-size: 1.9vmax;
    }

    td.lblQuestion {
        font-size: 3.68vmin;
        font-weight: initial;
    }
}

/*For Tablets*/
@media (min-width: 768px) and (max-width: 1200px) {
    .ScoreLabel {
        width: 230px;
        font-size: 1.4vmax;
    }

    * {
        font-size: 3.167vmin;
    }
}

/*For Desktops*/
@media (min-width: 1200px) {
    * {
        font-size: 1.03vmax;
    }

    td.lblQuestion {
        font-size: 0.98vmax;
    }
}
/****** Added by Edward on 30/May/2018, for mobile-friendly pages ***********************************/