﻿body
{
	background-color: white;
	background-image: none;
	color: Black;
}

a
{
	color: Black;
}

.PlannerHeader
{
	background-color: Black;
}

.PlannerHeaderLogo
{
	padding: 10px;
	padding-bottom: 20px;
}

.PlannerHeaderTitle
{
	text-align: right;
	float: right;
	margin-top: 30px;
	padding-right: 20px;
	top: 30px;
	color: #FBB040;
	font-weight: bold;
}

.daylist
{
	list-style: none outside none;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	position: relative; /*top: -25px;*/
}

	.daylist li
	{
		padding: 1px 4px;
		margin: 1px 0px 0px 0px;
		height: 15px;
		display: block;
		line-height: 1.2;
		white-space: nowrap;
		border: 1px solid transparent;
	}

.insideli
{
	overflow: hidden;
}

.dayheader
{
	text-align: right;
	font-weight: bold;
	border: 1px solid transparent;
	background-color: #eaeaea;
}

.Today .AuditWrapper
{
	background-color: papayawhip;
}

.NotStarted, .NotStarted a
{
	background-color: #B8CCE4;
	color: Black;
	border: 1px solid transparent;
}

.InProgress, .InProgress a
{
	background-color: #FFFF66;
	color: Black;
	border: 1px solid transparent;
}

.Passed, .Passed a
{
	background-color: #99FF66;
	color: Black;
	border: 1px solid transparent;
}

li.Overdue
{
	border: 1px solid red;
}

.moreLi, .moreLi a
{
	text-align: center;
	/*background-color: #ECECEC;*/
	color: Blue;
	border: 1px solid transparent;
}

.PlannerCalendar th
{
	color: #FBB040;
	font-weight: bold;
	background-color: black;
}

.PlannerCalendar td
{
	/*width: 100px;*/
	min-width: 100px;
	height: 100px;
	vertical-align: top;
}

.PlannerCalendar, .PlannerCalendar td, .PlannerCalendar th
{
	/*border: 1px solid #C3C3C3;*/
	border-collapse: collapse;
	border-spacing: 0;
}

.AuditAnchor
{
	text-decoration: none;
	display: block;
	height: 14px;
}

.AuditWrapper
{
	display: block; /*width: 100px;
			min-width: 100px;*/
	width: 150px;
	height: 100px;
	overflow: hidden;
	background-color: #f9f9f9;
}

.ulLegendHeading
{
	background-color: Black;
	font-weight: bold;
	color: #FBB040;
	padding: 2px 0 0 2px;
}

.LegendWrapper
{
	height: 520px; /*width: 300px;*/
	overflow-x: hidden;
	overflow-y: scroll;
}

.LegendBtnWrapper
{
	/*position: fixed;*/ /*top: 512px;*/
	bottom: 0;
	width: 29%;
	margin-left: 70%;
	/*float: left;*/ /*height:50%;*/ /*margin-bottom: -30px;*/
	background-color: wheat;
	cursor: pointer;
	padding: 5px 5px 5px 5px;
}

.LegendBtn
{
	clear: both;
	position: relative;
	height: 40px;
	background-color: white;
	color: black;
	text-align: center;
	display: block;
	vertical-align: middle;
	width: 100%;
	line-height: 40px;
}

.expand
{
	min-width: 150px !important;
	min-height: 100px !important;
	width: auto;
	height: auto;
	border: 1px solid Black;
	border-radius: 10px;
	padding-bottom: 5px;
	/*position:fixed;height:200px;*/
}

.detailPopup
{
	background-color: #FFFFFF;
	border: 1px solid #777777;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 2px 2px 5px #3399FF;
	color: #000000;
	display: block;
	min-width: 20px;
	min-height: 60px;
	/*opacity: 0.85;*/
	padding: 10px;
	/*padding-top:30px;*/
	text-align: left;
	visibility: visible;
	z-index: 32767;
}

	.detailPopup a
	{
		color: blue;
	}

.popCloseBtn
{
	position: absolute;
	top: 3px;
	right: 5px;
	cursor: pointer;
	background-image: url("../../../interface/themes/black/images/ui-icons_222222_256x240.png");
}

.popupHeader
{
	text-align: center;
	margin-right: 10px;
	font-weight: bold;
}

.AuditScoreLabel
{
	padding: 3px;
}

#down span.ui-button-text
{
	padding: 0 !important;
}

#up span.ui-button-text
{
	padding: 0 !important;
}

.prevButton
{
	background-image: url("../../../images/combined.png");
	background-position: -241px -17px;
	-moz-user-select: none;
	border: 0 none;
	cursor: pointer;
	height: 17px;
	padding: 0 2px;
	width: 29px;
	display: inline-block;
	position: relative;
	margin-top: 5px;
}

.nextButton
{
	background-image: url("../../../images/combined.png");
	background-position: -241px 0px;
	-moz-user-select: none;
	border: 0 none;
	cursor: pointer;
	height: 17px;
	padding: 0 2px;
	width: 29px;
	display: inline-block;
	position: relative;
	margin-top: 5px;
}

.navbuttonouter
{
	min-width: 0;
	padding: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: -1px;
	-moz-user-select: none;
	background: #F1F1F1;
	border: #c6c6c6 1px solid;
	border-radius: 2px 2px 2px 2px;
	color: #444444;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	min-width: 54px;
	outline: medium none;
	padding: 0 8px;
	text-align: center;
	transition: all 0.218s ease 0s;
	text-align: center;
	display: inline-block;
	position: relative;
}
.navbuttonouter:hover {
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.3);
	background: #e1e1e1;
	border: #b1b1b1 1px solid;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.printButton
{
	height: 29px;
	bottom:4px;
	padding: 0 2px;
}
