﻿/* DOM Elements */
* {
    font-size: small;
    font-family: Arial, Helvetica, Verdana, Sans-serif;
}

.tableheader {
    background-color: #262727;
}

html, body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
}

body {
    background-color:black;
    min-height:100%;
}

    body.MinWidth {
        min-width: 760px;
    }

a {
    color: black;
}

fieldset {
    padding: 1em;
    border: 2px solid #373737;
}

legend {
    padding: 0em 1em 0em 1em;
    margin: 0em 1em 0em 1em;
    color: White;
}

.highlight {
    background-color: #ffffcc;
}

#flash div#error {
    background: transparent none no-repeat scroll 12px 11px;
    background-color: #6f5351;
    border: 1px solid #ee3124;
}

#flash div#notice {
    background: transparent none no-repeat scroll 12px 11px;
    background-color: #5d6659;
    border: 1px solid #8dc634;
}

#flash div#beware, #flash div#alert {
    background: transparent none no-repeat scroll 12px 11px;
    background-color: #6c6954;
    border: 1px solid #fdea32;
}

#flash div#error, #flash div#notice, #flash div#beware, #flash div#alert {
    color: #ececec !important;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 25px;
}

#flash div ul {
    margin-left: 25px;
    margin-top: 10px;
}

#flash div li {
    color: #ececec !important;
}

.checkbox GSSCheckbox {
    color: #FFFFFF;
}

#PageContainer {
    display: block;
    min-height: 400px;
    text-align: left;
    background-color:black;
    height:100%;
}

#HeaderContainer {
    display: block;
    height: 39px;
    text-align: left;
    width: 100%;
    overflow: visible;
    background-color:lightgray;
    min-height:60px;
    border-bottom: 2px solid darkgray;
    color:black;
}

#ContentContainer {
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    overflow: hidden;
    position:relative;
}

#Content {
    padding: 30px 30px 30px 30px;
    text-align: left;
    min-height: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

#FooterContainer {
    height: 30px;
    width: 100%;
    color: black;
    background-color: lightgray;
    position:fixed;
    left: 0;
    bottom: 0;
}

#NavigationContainer {
    display: block;
    height: 40px;
    width: 100%;
    overflow: visible;
}

#FunctionsContainer {
    display: block;
    min-height: 29px;
    height: auto !important;
    height: 29px;
    background-color: #262626;
    background-image: url("Images/BackgroundFunctions.png");
    width: 100%;
}

#MVCPopUpContainer {
    background-color: #595959;
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#MVCPopUpContent {
    padding: 30px 30px 30px 30px;
    text-align: left;
}

#TimelineContainer {
    background-color: #262626;
    display: block;
    height: 47px;
    width: 930px;
    padding: 15px 30px 10px 30px;
}

.FooterItem {
    line-height: 30px;
    vertical-align: middle;
    margin-left: 2px;
}

.PageButtons {
    position: relative;
    bottom: -54px;
    width: 945px;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

#Version {
    text-align: right;
    width: 100%;
    height: 5px;
    margin: 5px auto 5px auto;
    color: #aba9a9;
}

    #Version span,
    #Version a {
        color: #aba9a9;
        text-align: right;
        float: none;
        margin: 0px;
        font-weight: normal;
        font-size: 12px;
    }

#RenderTime {
    color: #aba9a9;
    font-size: 10px;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}

.Tab, .TabSelected {
    border-left: solid 1px #1c1d1c;
    color: White;
    display: block;
    float: left;
    width: auto;
}

    .Tab a, .TabSelected a {
        background-image: url("Images/TabUnselected.png");
        display: inline-block;
        color: White;
        text-decoration: none;
        height: 24px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        width: auto;
    }

.Hint {
    border-bottom: 1px dotted white;
}

.Tab a:hover {
    background-image: url("Images/TabHover.png");
}

.TabSelected a {
    background-image: url("Images/TabSelected.png");
}

a[disabled~=disabled] {
    color: #878787;
    cursor: default;
}

.TabSelected a {
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,.417647) 0,rgba(255,255,255,.0784314) 50%,rgba(255,255,255,.0470588) 50%,rgba(255,255,255,0) 100%);
    background-color: #373737;
}

.Tab a {
    background-color: #000000;
}

.Logout {
    font-weight: bold;
    color:black;
}

::-ms-clear {
    display: none;
}

.SunkenBorder {
    text-align: center;
    display: block;
    padding: 3px;
    border-top: 2px solid #373737;
    border-left: 2px solid #373737;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
}

.OuterSunkenBorder {
    display: block;
    padding: 10px;
    border-top: 2px solid #373737;
    border-left: 2px solid #373737;
    border-bottom: 2px solid #808080;
    border-right: 2px solid #808080;
    border-radius:20px;
}

.HyperlinkOnWhiteBackground {
    color: #0000FF;
}

.HyperlinkOnWhiteBackground:visited {
    color: #800080;
}