
/*** ESSENTIAL STYLES ***/
.MenuLite, .MenuLite * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.MenuLite ul {
	position:		absolute;
	top:			-999em;
	width:			15em; /* left offset of submenus need to match (see below) */
}
.MenuLite ul li 
{
	display:		block;
	width:			100%;
}
.MenuLite li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.MenuLite li {
	float:			left;
	position:		relative;
	z-index:		1200;
}
.MenuLite a {
	display:		inline-block;
	position:		relative;
	z-index:		1200;
    font-weight:bold;
}
.MenuLite li li a 
{
	width:100%;
}
.MenuLite li:hover ul,
.MenuLite li.sfHover ul {
	right:			0px;
	top:			41px; /* match top ul list item height */
	z-index:		3000;
}
ul.MenuLite li:hover li ul,
ul.MenuLite li.sfHover li ul {
	top:			-999em;
}
ul.MenuLite li li:hover ul,
ul.MenuLite li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			0;
}
ul.MenuLite li li:hover li ul,
ul.MenuLite li li.sfHover li ul {
	top:			-999em;
}
ul.MenuLite li li li:hover ul,
ul.MenuLite li li li.sfHover ul {
	left:			15em; /* match ul width */
	top:			0;
}

/*** RMSS SKIN ***/
.MenuLite {
	float:			left;
	/*margin-bottom:	1em;*/
}
.MenuLite li a {
	padding: 			10px 10px 0px 10px;
	height:				30px;
	text-decoration:	none;
}
.MenuLite li li a {
	padding: 			0px 0px 0px 5px;
	height:				25px;
	line-height:		25px;
	text-decoration:	none;
	text-transform:		none;
}
/* visited pseudo selector so IE6 applies text colour*/
.MenuLite a, .MenuLite a:visited  { color:			black; }
    .MenuLite li li {
        background: lightgray;
        color: black;
        font-weight:bold;
    }
.MenuLite li:hover, .MenuLite li.sfHover,
.MenuLite a:focus, .MenuLite a:hover, .MenuLite a:active {
	/*outline:		0;*/
	background:		darkgray;
}

.MenuLite li li a
{
	border-style: solid;
	border-color: #232323;
	border-width: 0px 0px; /* disabled bordering for now */
}

.MenuRisk a,  .MenuCompliance a, .MenuIncident a, .MenuClaims a, .MenuEnhancements a,
.MenuRiskDisabled a,  .MenuComplianceDisabled a, .MenuIncidentDisabled a, .MenuClaimsDisabled a, .MenuEnhancementsDisabled a
{
	background-position:top left;
	background-repeat:no-repeat;
	height: 30px;
	border-left: 1px solid black;
}
.MenuRiskDisabled a,  .MenuComplianceDisabled a, .MenuIncidentDisabled a, .MenuClaimsDisabled a, .MenuEnhancementsDisabled a
{
	color: #878787;
	cursor: default;
}

.MenuRisk a { background-image:url(Images/MenuRisk.png); }
.MenuCompliance a { background-image:url(Images/MenuCompliance.png); }
.MenuIncident a {
    background-image: url(Images/MenuIncident.png);
    background-size: 100% 40px;
}
.MenuClaims a { background-image:url(Images/MenuClaims.png); }
.MenuEnhancements a { background-image:url(Images/MenuEnhancements.png); }

.MenuRisk a:hover, .MenuRiskDisabled a { background-image:url(Images/MenuRiskHover.png); }
.MenuCompliance a:hover, .MenuComplianceDisabled a { background-image:url(Images/MenuComplianceHover.png); }
.MenuIncident a:hover, .MenuIncidentDisabled a { background-image:url(Images/MenuIncidentHover.png); }
.MenuClaims a:hover, .MenuClaimsDisabled a { background-image:url(Images/MenuClaimsHover.png); }
.MenuEnhancements a:hover, .MenuEnhancementsDisabled a { background-image:url(Images/MenuEnhancementsHover.png); }

.MenuRisk li a:hover { border-color: #E73232; }
.MenuCompliance li a:hover { border-color: #f2ab39; }
.MenuIncident li a:hover { border-color: #F7E936; }
.MenuClaims li a:hover { border-color: #A3C544; }
.MenuEnhancements li a:hover { border-color: #ffffff; }

.MenuRisk ul { border-top: 15px solid #E73232; }
.MenuCompliance ul { border-top: 15px solid #f2ab39; }
.MenuIncident ul { border-top: 15px solid #F7E936; }
.MenuClaims ul { border-top: 15px solid #A3C544; }
.MenuEnhancements ul { border-top: 15px solid #ffffff; }

/*.MenuLite ul ul { border-top-width: 0px !important; }*/


.MenuLite li li a, .MenuLite li li a:hover { background: transparent; }


/* Diabled items */
.MenuLite .Disabled a, .MenuLite li.Disabled
{
	color:	Silver;
	/*background-color: Transparent;*/
	/*cursor:default;*/
}

/*** arrows **/
.MenuLite a.HasChildren {
	/*padding-right: 	2.0em;*/
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}

.MenuLite>li>a.sf-with-ul:after{
	display:none;
}

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
