﻿
.mvcGridTable {
      border: none;
      width: 100%;
      border-collapse:collapse;
      border-spacing: 0px;
  }

.mvcGridHeader th {
    width: 25%;
  }

.mvcGridFooter {
      text-align: center;
  }

.mvcGridColumn {
     width: 25%;
 }

.mvcSearchTable {
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
  }

