@font-face {font-family:emd;src: url(images/emd.ttf);}
@font-face {font-family:edemi;src: url(images/edemi.ttf);}
@font-face {font-family:oswald;src: url(fonts/oswald.ttf);}

html,body{height:100%;margin:0;padding:0; font-family:"emd", Helvetica, sans-serif;}

#header{
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
	}
#menuarea{
	width: 100%;
    height: auto;
	}

#aic-list{ margin:0; padding:0;}
#aic-list li{
    list-style: none;
    width: 50%;
    padding:0 2px 4px;
    float: left;
	}
#aic-list a{
    background-color: #fff;
    color: #666;
    text-align: center;
    width: 100%;
    padding: 6px;
    float: left;
    font-size: 13px;
    border-radius: 2px;
    cursor: pointer;
    max-width: 300px;
    margin: 0;
    text-decoration: none;
    border: 1px solid #ddd;
	}
#aic-list a:hover{border: 1px solid #FF9900; color:#FF9900;}
#aic-list-last{width: 100%!important;}
.ff-riskdetail p{padding: 0 0 6px!important;}

.loginti3first{
	border:none!important;
	padding:0!important;
	margin:0 0 20px!important;
	}
.formbtcancel{ background-color:#eee!important; color:#484848!important;}	
.formbtcancel:hover {
    text-decoration: none;
    color: #fff!important;
    background-color: #999!important;
}
.loginti3 {
    color: #3c92ca;
    font-size: 20px;
    font-family: "edemi", sans-serif;
    line-height: normal;
    margin:20px 0;
    /*border-top: 1px dashed #ddd;
    padding-top: 30px;*/
}
.ff-riskdetail #formbt{
    max-width: 198px;
    margin-right: 30px;
	}
	
.frontform label{
    float: left;
    width: 100%;
    line-height: normal;
	}
.frontform p{
    margin: 0;
    line-height: normal;
    font-size: 14px;
    font-family: "edemi", sans-serif;
    padding: 10px 0 0;
	}
.loginti{
	color: #3c92ca;
    font-size: 24px;
    font-family: "edemi", sans-serif;
    line-height: normal;
    margin: 0 0 58px;
	}
.shorsocial ul{
    text-align: left!important;
    float: left;
    width: 100%;
    max-width: 300px;
    margin: 0 0 8px!important;
	}
#selectbarea{ padding:41px 0 0;}	
#selectbarea .bigb{
    margin: 0!important;
    padding: 8px 8px 7px!important;
    border-radius: 4px!important;
	}
#selectbarea label{ width:100%;}	
#selectbarea p{
	margin: 0;
    line-height: normal;
    font-size: 14px;
    font-family: "edemi", sans-serif;
    padding: 11px 0;
	text-align:center;
	}
#selectbarea select{}
.shorsocial li img:hover{ opacity:0.6;}	
input[type="text"], input[type="password"]{
    background-color: #fff;
    border: 1px solid #ddd;
    padding:10px;
    line-height: normal;
    font-size: 14px;
    color: #333;
    border-radius: 3px;
	width:100%;
	max-width:300px;
	float:left;
	}
.ffright p{
    color: #FF9900 !important;
    padding: 0;
	}	
textarea{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    line-height: normal;
    font-size: 14px;
    color: #333;
    border-radius: 3px;
    width: 100%;
    height: 106px;
    margin: 0;
    float: left;
	}
		
#vdin{
    max-width: 490px;
    display: table;
    margin: 0 0 50px;
	}
.frontform p .fa-group{
    display: block;
    font-size: 24px;
    margin: 0 0 4px;
    padding-left: 26px;
	}	
#tablebg{
	float: left;
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    min-height: 272px;
	}
tr:nth-child(even) {background: #f9f9f9;}
tr:nth-child(odd) {background: #ffffff;}	
#tablebg table{
	float:left;
	width:100%;
	height:auto;
	margin:0;
	border:none;
	}
#tablebg table td{
    padding: 8px;
    line-height: normal;
    font-size: 13px;
    text-align: left;
    vertical-align: top;
	border:none;
	}
	
#tablebg table th{
    background-color: #eee;
    padding: 8px;
    line-height: normal;
    font-size: 14px;
    text-align: left;
    vertical-align: top;
	border:none;
	}
		
select{
	background-color: #fff;
    border: 1px solid #ddd;
    padding:10px;
    line-height: normal;
    font-size: 14px;
    color: #333;
    border-radius: 3px;
	width:100%;
	max-width:300px;
	}
.frontform p a i{
    color: #ff6600;
    margin-left: 20px;
	}
.insignup{
    top: 36%!important;
    height: 100%!important;
	}	
.frontform{
	width:100%;
	height:auto;
	float:left;
	}
	
.loginti2{ margin-bottom:20px!important;}	
.frontform p a i:hover{ text-decoration:none; color:#484848;}		
#cright-full {
    vertical-align: middle;
    width:100%;
	position:relative;
	float:left;
	height:auto;
}
#borderv{
    position: absolute;
    top: 30%;
    width: 1px;
    height: 70%;
    background-color: #999;
    left: -15px;
    bottom: 0;
	}
#borderv span{
    position: absolute;
    border: 1px solid #999;
    border-radius: 200px;
    text-align: center;
    padding: 17px 0;
    font-family: "emd", sans-serif;
    color: #484848;
    background-color: #fff;
    width: 50px;
    height: 50px;
    line-height: normal;
    margin: auto;
    top: 0;
    bottom: 0;
    left: -23px;
    font-size: 14px;
	}
.withico i{
    display: block;
    margin: 0 0 4px;
    font-size: 24px!important;
	}
.wi1, .wi1 i{ color: #339900!important;}
.wi2, .wi2 i{ color: #3c92ca!important;}
.wi3, .wi3 i{ color: #FF9900 !important;}

.withico a{
	font-family: "edemi", sans-serif;
    font-weight: normal!important;
    font-size: 13px!important;
    padding: 6px 10px!important;
	}
.withico a:hover, .withico a:hover i{ color:#484848!important;}	
.withico li{}
#headr-nav .withico li:after{ display:none;}
	
#footer-capt{
    border-top: 1px solid #eee;
    padding: 40px 0;
    /* max-width: 750px; */
    display: table;
    text-align: center;
    font-size: 14px;
    color: #484848;
    margin: 40px auto 0;
    width: 100%;
	}

#withsocial{
	margin:0;
	padding:0;
	}
#withsocial li{
    list-style: none;
    width: 100%;
    float: left;
    margin-bottom: 6px;
    text-align: center;
	}
#donth{
    font-family: "emd", sans-serif;
    margin: 10px 0 0;
    width: 100%;
    font-size: 14px;
    text-align: left;
    float: left;
    color: #666;
	}
	
#donth a{
    font-family: "edemi", sans-serif;
    padding-left: 20px;
	}
#donth a:hover{ color:#ff6600;}	
#formbt{
	background-color: #3c92ca;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px;
    float: left;
    margin: 0;
    font-size: 16px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    font-family: "edemi", sans-serif;
    max-width: 300px;
	}
#cright-full h6{
	text-align: center;
    float: left;
    width: 100%;
    line-height: normal;
    color: #484848;
    margin: 0 0 40px;
    font-size: 20px;
    font-weight: normal;
	}
		
#formbt:hover{
	text-decoration: none;
    color: #fff;
    background-color: #999;
	}
#rme input[type="checkbox"]{margin: 2px 10px 0 0;}		
#rme{
	line-height: normal;
    margin: 10px 0 14px;
    font-family: "edemi", sans-serif;
    font-size: 14px;
    color: #484848;
	}
		
#withsocial a{}
#withsocial a:hover{ opacity:0.5;}
#slideon h1{
    color: #66a5e3;
    font-size: 50px;
    text-align: center;
    margin: 0 0 15px;
    line-height:1;
    font-family: "postscript", sans-serif;
	}
#slideon h5{
	color: #333333;
    text-transform: uppercase;
    text-align: center;
    font-family: "trebuc", sans-serif;
    margin: 0 0 40px;
    line-height: normal;
	}
	
.slideon-btn{
	font-family: "oswald", sans-serif;
    height: 60px;
    max-width: 192px;
    display: table;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background-color: transparent;
    padding: 16px;
    font-size: 20px;
    line-height: normal;
    border: 2px solid;
    color: #333;
	}

:hover{transition:all .6s;}
#headr-nav{
    width: 100%;
    float: left;
    display: table;
    height: 100%;
	}
	
#headr-nav ul{
    display: table;
    float: right;
    height: 100%;
    /*background-image: url(images/navbreak.jpg);
    background-repeat: repeat-y;
    background-position: right;
    padding-right:2px;*/
	}
.p-0{ overflow:hidden;}	
#sitelogo{ padding:5px 0; float:left;}
#headr-nav li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding: 0 0 0 2px;
	}
.lia1:after{background-color:#ff0000;}	
.lia2:after{background-color:#ff9900;}
.lia3:after{background-color:#f8de00;}
#headr-nav li:first-child:after{ display:none;}
#headr-nav li:after{
    width: 2px;
    height: 14px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #bbb;
    bottom: 0;
    margin: auto;
	}
#headr-nav a:after{
	width:100%;
	height:4px;
	position:absolute;
	content:"";
	bottom:1px;
	left:0;
	}
#headr-nav a:hover{ color:#3c92ca; transition:all 1s;}
#user-area{
    width: 100%;
    float: left;
    display: table;
    height: 100%;
	}	
#user-area ul{
	display: table;
    float: right;
    height: 100%;
	}
#user-area li{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
	position:relative;
	}	
#user-area a{
    font-size: 14px;
    text-align: center;
    padding: 6px 0;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    position: relative;
    text-transform: uppercase;
    color: #a4a4a4;
    font-weight: bold;
	}
#user-area a i{
    font-size: 25px;
    margin-left: 10px;
    position: relative;
    bottom: -3px;
	}
#headr-nav a:hover:after{ width:4px;transition:all 1s;}			
#headr-nav a{
font-size: 14px;
    color: #333;
    text-align: center;
    padding: 6px 13px;
    line-height: normal;
    float: left;
    position: relative;
    width: 100%;
    font-weight: bold;
	}
#headr-nav a i{
	color: #66a5e3;
    font-size: 34px;
	}
#footer{ text-align:center; padding:20px 0;}	
#foot-border{
    font-weight: bold;
    font-size: 15px;
    color: #66a5e3;
    margin: 0 0 20px;
    float: left;
    width: 100%;
    text-align: center;
	}
#foot-border span{
	background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 0 20px;
	}
	
#foot-border:after{
    position: relative;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #66a5e3;
    float: left;
    top: -11px;
    left: 0;
	}
	
#foot{
	float:left;
	text-align: center;
	height:auto;
	width:100%;
	}
#foot ul{ margin:0; padding:0; text-align:center;}	
#foot li{
	list-style:none;
	display:inline-block;
	text-align:center;
	padding:0 5px;
	}
#foot a{
	color:#333;
	font-size:20px;
	padding:0;
	}
#foot a:hover{}
	
#numbers{
    margin: 0 auto;
    padding: 0;
    display: table;
    width: auto;
	}
#numbers li span{
    font-size: 14px;
    list-style: none;
    color: #666;
    display: table;
    font-family: "postscript", sans-serif;
    min-height: 32px;
    margin-top: 8px;
    line-height: normal;
    width: 100%;
	}
#numbers li span i{
    font-style: normal;
    display: table-cell;
    vertical-align: bottom;
	}	
#footer-head{
	background-color: #eee;
    padding: 20px 0;
    text-align: center;
	}
		
#numbers li{
    font-family: "oswald", sans-serif;
    display: block;
    line-height: normal;
    font-size: 23px;
	color:#333;
	
	display: table-cell;
    vertical-align: bottom;
    padding: 0 20px;
    line-height: 1;
    
    text-align: center;
    width: 20%;
	}
#foot p{
	margin: 0;
    font-size: 13px;
    color: #999;
    line-height: normal;
    text-align: center;
	}
#foot p b{ color:#555;}	
#footlogo{
    float: left;
    width: 100%;
    text-align: center;
    padding: 10px 0;
	}
#footlogo img{ max-width:50px;}
	
#headr-nav a:hover i{ color:#333;}		
#headr-nav a:hover{ text-decoration:none;}
		
.slideon-btn:hover{text-decoration:none;}
#contenton{
    display: table;
    width: 100%;
    text-align: center;
	}
#cright h1{
    font-family: "oswald", sans-serif;
    text-align: center;
    padding: 0;
    font-size: 30px;
    margin: 0 auto;
    display: table;
    color: #3c92ca;
	}
#cright{
	display: table-cell;
    vertical-align: middle;
    width: 80%;
	}
#vd{
	float:left;
	height:auto;
	width:100%;
	}
#vd img{ width:100%;}		
.bigb{
	background-color: #ff6600;
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 10px;
    float: left;
    margin: 37px 0 0;
    font-size: 16px;
    border-radius: 2px;
	}
	
.bigb:hover{ text-decoration:none; color:#fff; background-color:#ccc;}	
#content{ padding:60px 0;}	
#cright h4{
    text-align: center;
    line-height: normal;
    font-size: 17px;
    color: #999;
    margin: 0 0 20px;
	}	
#box{
    text-align: center;
    width: 100%;
    padding:15px 0 0;
    display: table;
    margin: 0 auto;
    max-width: 400px;
	}
#cleft{
	display: table-cell;
    vertical-align: middle;
    width: 20%;
	}
#socialv{}
#socialv img{}	
#box span{
	display: table;
    margin: 0 auto;
    max-width: 61px;
    text-align: center;
	}
	
#box span img{
	width:100%;
	max-width: 61px;
	}
		
#box h6 {
    font-size: 14px;
    font-family: "oswald", sans-serif;
    text-align: center;
    margin: 10px 0 0;
    color: #333;
}	
#box:hover{}	
#box h3{
	color: #66a5e3;
    text-align: center;
    font-size: 18px;
    margin: 30px 0 10px;
    float: left;
    width: 100%;
    font-family: "oswald", sans-serif;
	}
.contenton-first{padding-top: 54px;}	
#box p{
	font-size: 13px;
    color: #676767;
    margin: 0;
    float: left;
    width: 100%;
    height: auto;
	}

@media (max-width:1200px) {
#cright-full {
    width: 91%;
    float: right;
}
#tablebg{ min-height:248px;}
    
}
@media (max-width:992px) {
.cfull{ width:100%!important;}
#headr-nav a{ font-size:12px; padding:6px;}
#cright h1{ line-height:1;}
.bigb{ font-size:14px;}
#numbers li span{ min-height:48px;}
#cright-full h6{ font-size:16px; margin:0 0 50px;}
#cright-full{ width:86%;}
.frontform p{
    font-size: 13px;
    padding: 0;
    line-height: 1;
	}
.loginti{ font-size:20px;}
#donth a{ display:block; padding:0;}
.frontform p a i{ margin-left:0;}
#formbt{ font-size:14px;}
#footer-capt{ padding:40px 0 10px;}
#selectbarea .col-md-4{
	flex:unset;
    max-width:100%;
	}
    
}

@media (max-width:768px) {
#selectbarea select {
    max-width: 100%;
}
.insignup {
    top: 0!important;
    height: 1px!important;
}
.frontform p {
    line-height: normal;
    margin: 0 0 4px;
}
#sitelogo{ float:none; display:table; margin:0 auto;}
#headr-nav ul {
    float: none;
    margin: 20px auto;
	height:auto;
}
#vd{ margin-bottom:50px;}
#numbers li {
    padding: 0 0 10px;
    width: 100%;
    display: inline-block;
}
#numbers li span {
    min-height: auto;
}
#numbers li span i{ vertical-align:top;}
.frontform {
    float: none;
    max-width: 300px;
    margin: 0 auto;
    display: table;
}
.loginti{ text-align:center; margin:0 0 20px;}
#cright-full {
    width: 100%;
}
#borderv {
    top: 0;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    text-align: center;
}
#borderv span{ left:0; right:0;}
#cright-full h6{ padding:60px 0 0;}
#footer-capt{ margin:0 auto;}
   

}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #ddd;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }

@media (max-width:576px) {
#cleft{ display:none;}
#cright{ width:100%;}
    
}


/*main menu*/
.main {
    width: 100%;
  
}

/*General Menu Styling*/
.mainnav {
    padding: 0 0 0 20px;
}

li {
    list-style: none;
    box-sizing: border-box;
}

    li a {
        text-decoration: none;
    }

.dropdown {
    position: absolute;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
    z-index: 11;
}

.dropdown {
    top: 100%;
    padding: 0;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    right: 0;
}

.mainnav li:after, .mainnav a:after {
    display: none;
}

.mainnav li {
    float: left;
    padding: 0;
}

    .mainnav li:first-child {
        border: none;
    }

.firstone a {
    padding: 2px 20px !important; 
    border: 1px solid #ccc;
    border-radius: 3px;
}

.mainnav a {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.mainnav li:hover {
    background: #fff;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
}

    .mainnav li:hover a {
        color: #000;
        transition: ease-in .35s;
        -moz-transition: ease-in .35s;
        -webkit-transition: ease-in .35s;
    }
/*First Level*/
.subs {
    left: 0;
    position: relative;
    top: 0px;
    width: 100%;
    box-sizing: border-box;
}

.mainnav li:hover ul a span {
    float: left;
}

.subs:last-child a {
    border-bottom: none !important;
}

.hassubs:hover .dropdown, .hassubs .hassubs:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transition: ease-in .35s;
    -moz-transition: ease-in .35s;
    -webkit-transition: ease-in .35s;
}

.mainnav li ul a {
    color: #666;
    border: none;
    padding: 8px 20px;
    border-bottom: 1px dashed #ddd;
}

.mainnav li ul li:hover, .mainnav li ul li ul li:hover {
    background: #fff;
    transition: ease-in-out .35s;
    -moz-transition: ease-in-out .35s;
    -webkit-transition: ease-in-out .35s;
}

    .mainnav li ul li:hover a, .mainnav li ul li ul li:hover a {
        color: #666;
        transition: ease-in-out .35s;
        -moz-transition: ease-in-out .35s;
        -webkit-transition: ease-in-out .35s;
    }
/*Second Level*/
.hassubs .hassubs .dropdown .subs {
    left: 0;
    position: relative;
    width: 100%;
    top: 0px;
}

.hassubs .hassubs .dropdown {
    position: absolute;
    width: 200px;
    right: 100%;
    top: 0px;
    opacity: 0;
    visibility: hidden;
    transition: ease-out .35s;
    -moz-transition: ease-out .35s;
    -webkit-transition: ease-out .35s;
}
#twitter-button {
    margin-top: 10px;
    margin-left: 190px;
}
.g-signin2 {
    margin-left: 200px;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .main {
        padding-left: 20px;
    }
    .g-signin2 {
        margin-left: 140px;
    }
    #twitter-button {
        margin-top: 10px;
        margin-left: 130px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .g-signin2 {
        margin-left: 80px;
    }
    #twitter-button {
        margin-top: 10px;
        margin-left: 70px;
    }
}
@media (min-width: 480px) and (max-width: 767px) {
    #borderv span {
        margin-top: 50px;
    }
    #fblink {
        margin-top: 80px;
    }
    .g-signin2 {
        margin-left: 200px;
    }
}
@media (max-width: 775px) {
    .g-signin2 {
        margin-left: 200px;
    }
    #twitter-button {
        margin-top: 10px;
        margin-left: 180px;
    }
   
}
@media (max-width: 760px) {
    #borderv span {
        margin-top: 50px;
    }
    #apis {
        margin-top: 70px;
    }
}
@media (max-width: 479px) {
    .g-signin2 {
        margin-left: 270px;
    }
   
}

