﻿#ContentContainerWizard {
    left: 205px;
    margin: 50px auto auto;
    padding: 0;
    position: absolute;
    top: 0px;
    width: 1270px;
    z-index: 2;
}

div.t-tabstrip .rightTab
{
    float: right;
    margin-right: 0;
    border-color: #1C1D1C;
}

div.t-tabstrip .leftTab
{
    float: left;
    margin-right: 0;
    border-color: #1C1D1C;
}

.t-tabstrip {
    border: medium none;
    margin: 0;
    padding: 0;
}

.t-tabstrip-items .t-state-active .t-link:link a {
    color: #ffffff;
}

.t-arrow-down
{
    background-image: url('RMSSDefault/DownArrowGrid.png');
}

.t-arrow-up
{
    background-image: url('RMSSDefault/UpArrowGrid.png');
}

div.t-window-content
{
    background-color: #595959;
}

.t-close {
    background-image: url('RMSSDefault/windowimages.gif');
    background-position: -100px -25px;
}

.t-add {
    background-image: url('RMSSDefault/Grid/add.gif');
}

.t-edit
{
    background-image: url('RMSSDefault/Grid/edit.gif');
}

.t-delete
{
    background-image: url('RMSSDefault/Grid/delete.gif');
}

.t-cancel
{
    background-image: url('RMSSDefault/Grid/cancel.gif');
}

.t-update, .t-insert
{
    background-image: url('RMSSDefault/Grid/greentick.gif');
}

.t-refresh
{
    background-image: url('RMSSDefault/Grid/refresh.gif');
}

.t-arrow-first
{
    background-image: url('RMSSDefault/Grid/sprite.gif');
    background-position: 0 -549px;
    height: 22px;
    vertical-align: top;
    width: 20px;
}

.t-arrow-first:hover
{
    background-position: 0 -599px;
}
.t-arrow-next
{
    background-image: url('RMSSDefault/calendarimages.gif');
    background-position: 5px -395px;
}

.t-pager .t-arrow-next
{
    background-image: url('RMSSDefault/Grid/sprite.gif');
    background-position: 0 -849px;
    height: 22px;
    vertical-align: top;
    width: 20px;
}

.t-pager .t-arrow-next:hover
{
    background-position: 0 -899px;
}

.t-arrow-last {
    background-image: url('RMSSDefault/Grid/sprite.gif');
    background-position: 0 -999px;
    height: 22px;
    vertical-align: top;
    width: 20px;
}

.t-arrow-last:hover {
    background-position: 0 -1049px;
}

.t-arrow-prev
{
    background-image: url('RMSSDefault/calendarimages.gif');
    background-position: 5px -295px;
}

.t-pager .t-state-disabled .t-arrow-prev,
.t-pager .t-state-disabled .t-arrow-first,
.t-pager .t-state-disabled .t-arrow-next,
.t-pager .t-state-disabled .t-arrow-last
{
    background-image: url('RMSSDefault/Grid/sprite.gif');
    background-position: 0 0;
    height: 0px;
    vertical-align: top;
    width: 0px;
}

.t-pager .t-arrow-prev {
    background-image: url('RMSSDefault/Grid/sprite.gif');
    background-position: 0 -699px;
    height: 22px;
    vertical-align: top;
    width: 20px;
}

.t-pager .t-arrow-prev:hover {
    background-position: 0 -749px;
}

.t-calendar, .t-grid {
    border-color: #989898;
    /*font-size: .75em; /* 12px base, if there are no inherited font-sizes (MVC default) */
    background-color: #fff;
}
/* .small .t-widget { font-size: .687em; } /* 11px base, if there are no inherited font-sizes (MVC default) */

.t-editor .t-tool-icon { background-image: url('Default/editor.png'); }

.t-loading,
.t-widget .t-loading { background: transparent url('Default/loading.gif') no-repeat 0 0; }

.t-calendar td {
    border-color: white;
    border-style: solid;
    border-width: 1px;
}

td.t-state-hover
{
    background: url("RMSSDefault/calendarimages.gif") repeat-x scroll 0 -1600px #C5C5C5;
    border-color: #C4C4C4 #B2B2B2 #9E9E9E;
    border-style: solid;
    border-width: 1px;
}

li.t-state-hover
{
    background: none repeat scroll 0 0 #DFDFDF;
    color: #000000;
}

.t-calendar,
.t-link:link,
.t-link:active,
.t-link:visited,
.t-popup
{
    color: #333333;
}

.t-content {
    color: #333333;
}

.t-group,
.t-content,
.t-editable-area
{
    border-color: #828282;
    background-color: #fff;
}

.t-colorpicker .t-arrow-down
{
    border-color: #989898;
}

.t-separator
{
    border-color: #d8d8d8;
    background-color: #999;
}

.t-alt
{
    background-color: #f7f7f7;
}

.t-state-default
{
    border-color: #828282;
}

.t-active-filter
{
    background-color: #cdcdcd;
}

.t-state-active,
.t-header .t-state-active
{
    background-color: #fff;
    border-color: #828282;
}

.t-state-selected
{
    background-color: grey;
}

.t-state-focused
{
    background-color:#c2c2c2;
}

.t-state-error,
.t-widget.input-validation-error,
.t-widget .input-validation-error
{
    border-color: #f00;
    background-color: #ffc0cb;
}

.t-button
{
    background-color: #515151;
    border-color: #1A1A1A;
    color: #FFFFFF;
    background-position: center bottom;
    background-repeat: repeat-x;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    padding: 3px 10px;
    text-decoration: none;
    border-radius: 0 0 0 0;
}

.t-button:hover
{
    background-color: #F0F0F0;
    border-color: #1A1A1A;
    color: #000000;
}

.t-state-disabled,
.t-state-disabled .t-link,
.t-state-disabled .t-button
{
    color: #888;
}

.t-toolbar,
.t-grouping-header,
.t-grid-pager,
.t-widget .t-status
{
    border-color: #000;
    background-color: #494949;
}

.t-grid-header-wrap,
.t-grid-footer-wrap
{
    border-color: #989898;
}

.t-grid td
{
    border-color: #ddd;
}

.t-grouping-row td
{
    background: #fff url('Default/sprite.png') repeat-x 0 -48px;
}

.t-footer-template td
{
    background-color: #eee;
    border-color: #828282 #eee #fff;
}

.t-group-footer td,
.t-grid-footer
{
    background-color: #eee;
    border-color: #828282;
}

.t-grouping-header .t-group-indicator
{
    color: #333;
    border-color: #ccc;
}

.t-grouping-dropclue
{
    background: url('Default/sprite.png') no-repeat -48px -288px;
}

.t-grouping-row .t-group-cell,
.t-grouping-row p
{
    background: #fff;
}

.t-treeview .t-drop-clue
{
    background-image: url('Default/sprite.png');
    background-position: 0 -358px;
}

.t-treeview .t-state-selected
{
    border-color: #838383;
}

.t-panelbar .t-link,
.t-panelbar .t-group,
.t-panelbar .t-content
{
    border-color: #aaa;
}

.t-calendar th
{
    border-color: #c5c5c5;
}

.t-other-month .t-link
{
    color: #898989;
}

.t-treeview-lines .t-top,
.t-treeview-lines .t-mid,
.t-treeview-lines .t-bot
{
    background-image: url('Default/treeview-nodes.png');
}

.t-rtl .t-treeview-lines .t-top,
.t-rtl .t-treeview-lines .t-mid,
.t-rtl .t-treeview-lines .t-bot
{
    background-image: url('Default/treeview-nodes-rtl.png');
}

.t-treeview-lines .t-item { background-image: url('Default/treeview-line.png'); }
.t-treeview-lines .t-last { background-image: none; }

.t-editor-button .t-state-hover
{
    border-color: #e2e2e2 #878787 #878787 #e2e2e2;
    background-color: #c6c6c6;
}

.t-editor-button .t-state-active
{
    border-color: #767676 #d0d0d0 #d0d0d0 #767676;
    background-color: #9e9e9e;
}

/* Slider */

.t-slider .t-draghandle
{
	background-image: url('Default/sprite.png');
	color: #333;
}

.t-slider-track
{
	border-color:#a5a5a5;
}

.t-slider-horizontal .t-slider-track,
.t-slider-horizontal .t-slider-selection
{
	background-image: url('Default/sprite.png');
}

.t-slider-vertical .t-slider-track,
.t-slider-vertical .t-slider-selection
{
	background-image: url('Default/sprite-vertical.png');
}

.t-slider-horizontal .t-tick
{
    background-image:url('Default/slider-h.gif');
}

.t-slider-vertical .t-tick
{
    background-image:url('Default/slider-v.gif');
}

/* Tooltip */

.t-tooltip
{
	background: #adadad 0 -624px repeat-x url('Default/sprite.png');
}

.t-callout
{
	background-image: url('Default/sprite.png');
}

/* Splitter */

.t-splitbar-vertical,
.t-ghost-splitbar-vertical
{
    background-image: url('Default/sprite.png');
}

.t-splitbar-horizontal,
.t-ghost-splitbar-horizontal
{
    background-image: url('Default/sprite-vertical.png');
}

/* Upload */

.t-dropzone-active,
.t-upload-files
{
    border-color: #828282;
}

.t-dropzone-hovered,
.t-upload-files
{
    background-color: #e2e2e2;    
}

.t-dropzone em
{
    color: #828282;
}

.t-progress,
.t-progress-status
{
    background-image: url('Default/sprite.png');
}

.t-progress
{
    background-position: 0 -465px;
    border-color: #a1a1a1 #b3b3b3 #c8c8c8;
}

.t-progress-status
{
    background-position: 0 -472px;
    border-color: #989898 transparent #6b6b6b;
}

/* ImageBrowser */

.t-imagebrowser .t-content
{
    background: #f1f1f1;  
}

.t-breadcrumbs .t-first,
.t-breadcrumbs .t-first:hover,
.t-search-wrap label
{
    color: #9f9f9f;
}

.t-tiles
{
    border-color: #e2e3ea;
    background: #fff;
}

.t-tile
{
    border-color: #fff;
    background: 0 100px repeat-x url('Default/imagebrowser.png');
}

.t-tiles 
{
    border-color: #989898;
    background-position: 0 0;
}

.t-tiles li.t-state-selected
{
    border-color: #989898;
    background-position: 0 -100px;
}

.t-tile .t-folder
{
    background-image: url('Default/imagebrowser.png');
}

.t-tile em,
.t-tile .t-filesize
{
    color: #666;
}

.t-tile-empty strong
{
    color: #aaa;
}

/* Overidden from telerik common*/
.t-icon, .t-sprite, .t-editor-button .t-tool-icon {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    text-align: center;
    text-indent: -3333px;
    vertical-align: middle;
}

.t-icon-calendar {
    background-image: url('../Images/date.png');
    background-position: inherit;
}
/* To Here*/

.t-grid
{
    position: relative;
    zoom: 1;
    background-color: #4F4F4F;
    color: #FFFFFF;
}

.t-grid .t-alt
{
    background: none repeat scroll 0 0 #494949;
}

.t-grid table
{
    width: 100%;
    border-collapse: separate;
    empty-cells: show;
    border: solid;
    border-color: #000000;
    border-width: 1px;
    table-layout:fixed;
}

.t-grid th
{

}

.t-grid-header {
    height: 50px;
}

.t-grid-header .t-header
{
    text-align: left;
}

.t-grid-header .t-header
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    color: #FFFFFF;
    background: url("RMSSDefault/Grid/sprite.gif") repeat-x scroll 0 -2300px #191919;
    border-color: -moz-use-text-color -moz-use-text-color #000000;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    font-weight: normal;
    white-space: normal;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-left: 5px;
}

.t-grid-header .t-header .t-link
{
    color: #FFFFFF;
    line-height: 18px; /* due to sorting icons*/
    height: 18px;
    display: block;
    margin: -.3em -.6em;
    padding: .3em 2.4em .3em .6em;
    border: 0;
}

.t-grid-header .t-header .t-icon
{
    position: static;
}

.t-grid .t-state-hover
{
    cursor: pointer;
}

.t-grid td
{
    border-style: none;
    padding: 2px 2px;
    border-width: 0;
    border-left-width: 1px;
    vertical-align: middle;
    line-height: 1.6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.t-grid .t-grouping-row td,
.t-grid .t-hierarchy-cell
{
    overflow: visible;
}

.t-grid-edit-row td
{
   text-overflow: clip;
}

.t-grid-header-wrap,
.t-grid-footer-wrap
{
    position: relative;
    overflow: hidden;
    width: 100%;
    zoom: 1;
    border-style: solid;
    border-width: 0 1px 0 0;
}

div.t-grid-header,
div.t-grid-footer
{
    padding-right: 17px; /* width of scrollbar. may vary across operating systems. can be calculated. */
    zoom: 1;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

div.t-grid-header .t-header
{
    border-bottom-width: 0;
}

.t-grid-content
{
    position: relative;
    overflow: auto;
    overflow-x: auto;
    overflow-y: scroll;
    width: 100%;
    zoom: 1;
}

.t-grid-header table,
.t-grid-content table,
.t-grid-footer table
{
    table-layout: fixed;
}

* html .t-grid-header table, * html .t-grid-content table { width: auto; }
*+html .t-grid-header table, *+html .t-grid-content table { width: auto; }

.t-grid-toolbar
{
    border-width: 1px 0 0;
    border-style: solid;
}

.t-grid-header .t-header:first-child,
.t-grid tbody td:first-child,
.t-grid tfoot td:first-child
{
    border-left-width: 0;
}

/* Grid : : paging */

.t-grid-pager
{
    background: url("RMSSDefault/gridimages.gif") repeat-x scroll 0 -8000px #1E1E1E;
    color: #D7D7D7;
    padding: .2em .6em;
    line-height: 1.8em;
    overflow: auto;
    border-width: 1px 0 0;
    border-style: solid;
    border-color: #000000;
}

.t-grid-pager:first-child,
.t-grouping-header+.t-grid-pager,
.t-grid-toolbar:first-child,
.t-grouping-header+.t-grid-toolbar
{
    border-width: 0 0 1px;
}

* html .t-grid-pager input { vertical-align: middle; }
*+html .t-grid-pager input { vertical-align: middle; }

.t-grid .t-pager,
.t-grid .t-status,
.t-grid .t-status-text,
.t-pager .t-numeric,
.t-pager .t-page-i-of-n,
.t-pager .t-link,
.t-pager span,
.t-pager input,
.t-pager .t-page-size,
.t-grouping-row p
{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.t-pager .t-page-size
{
    line-height:1.2em;
}

.t-footer-template td
{
    border-width: 1px 0 0 1px;
    border-style: solid;
}

.t-group-footer td
{
    border-width: 1px 0;
    border-style: solid;
}

.t-grid-footer
{
    border-style: solid;
    border-width: 1px 0 0;
}

.t-grid-footer td
{
    border-top-width: 0;
}

.t-grid .t-status
{
    float: left;
    margin: -.2em .6em -.2em -.6em;
    padding: .2em .6em;
    height: 1.85em;
    border-right-width: 1px;
    border-right-style: solid;
}

.t-grid .t-pager
{
    float: left;
    cursor: default;
}

.t-grid .t-status-text
{
    float: right;
    margin-right: .2em;
}

.t-pager .t-link
{
    text-decoration: none;
    padding: 1px;
    border-width: 0;
    line-height: 16px;
    margin-top: 0px;
}

.t-numeric .t-state-active {
    color: #000000;
}

.t-pager .t-state-active,
.t-pager .t-state-hover
{
    padding: 0;
    border-width: 1px;
    border-style: solid;
    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.t-pager span,
.t-pager .t-link
{
    vertical-align: top;
}

.t-pager .t-numeric,
.t-pager .t-page-i-of-n
{
    margin: 0 7px;
    vertical-align: top;
}

.t-numeric .t-link,
.t-numeric .t-state-active
{
    margin-top: 0;
    padding: 0 5px;
    line-height: 22px;
    vertical-align: top;
}

.t-numeric .t-state-active,
.t-numeric .t-state-hover
{
    padding: 0 4px;
    line-height: 20px;
}

.t-page-i-of-n input
{
    width: 2em;
    vertical-align: baseline;
    font-size: 1em;
}

.t-grid-pager .t-status .t-icon
{
    vertical-align: top;
    margin-top: 3px;
}

/* Grid :: filtering */

.t-grid-filter
{
    float: right;
    height: 18px;
    padding: .3em .2em;
    position: relative;
    display: inline-block;
    *display: inline;
    zoom: 1;
    
    margin: -1.8em -.6em -.3em 3px;
}

.t-grid-filter .t-icon
{
    vertical-align: top;
}

.t-grid .t-animation-container
{
    position: absolute;
}

.t-grid .t-filter-options
{
    position: absolute;
    border-width: 1px;
    border-style: solid;
    padding: 3px;
    width: 148px;
    
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.t-filter-options .t-filter-help-text,
.t-filter-options select,
.t-filter-options input,
.t-filter-options .t-button,
.t-filter-options .t-datepicker
{
    display: block;
    margin-bottom: 4px;
}

.t-filter-options select { width: 148px; }
.t-filter-options input { width: 142px; }
.t-filter-options .t-datepicker { width: 100%; }

.t-filter-options .t-filter-button
{
    margin-bottom: 0;
}

/* Grid :: grouping */

.t-grouping-row .t-icon
{
    margin: 0 4px;
}

.t-grouping-row p
{
    padding: 0 .6em;
    margin-left: -.6em;
}

.t-grid .t-group-cell+td,
.t-grid .t-hierarchy-cell+td
{
    border-left-width: 0;
}

.t-grid .t-group-col,
.t-grid .t-hierarchy-col
{
    width: 30px;
}

.t-grouping-header
{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.t-grouping-header,
.t-grouping-dropclue
{
    height: 24px;
    line-height: 24px;
}

.t-grouping-dropclue
{
    position: absolute;
    width: 6px;
}

.t-grouping-header .t-group-indicator
{
    display: inline-block;
    *display: inline;
    zoom: 1;
    border-width: 1px;
    border-style: solid;
    line-height: 1.5em;
    padding: .15em .15em .15em .4em;
    margin: 0 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.t-grouping-header .t-link
{
    text-decoration: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: normal;
    padding: 0;
    border-style: none;
}

.t-grouping-header .t-button
{
    padding: 0;
    border: 0;
    background: transparent;
    line-height: 1;
}

.t-grouping-header .t-link .t-icon
{
    margin: 0 0 0 -3px;
}

.t-grouping-header .t-button .t-icon
{
    margin: 0 0 0 3px;
}

.t-grouping-header a,
.t-grouping-header .t-button
{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

/* Grid :: editing */

.t-dirty
{
    width: 0;
    height: 0;
    vertical-align: top;
    position: absolute;
    padding: 0;
    margin: -0.45em 0 0 -0.6em;
    overflow: hidden;
    border-width: 3px;
    border-style: solid;
    border-color: #f00 transparent transparent #f00;
}

* html .t-dirty
{
    border-color: #f00 pink pink #f00;
    filter: chroma(color=pink);
}

.t-grouping-header,
.t-grid-toolbar
{
    cursor: default;
    margin: 0;
    padding: .25em;
}

.t-grid .t-edit-container
{
    padding: 0;
}

.t-edit-form
{
    padding: 0;
    margin: 0;
}

.t-grid-edit-row .t-edit-form td
{
    border-bottom-width: 0;
}

.t-grid-edit-row .text-box,
.t-grid-edit-row .t-numerictextbox,
.t-grid-edit-row .t-datepicker
{
    vertical-align: middle;
    width: 5em;
    max-width: 90%;
    min-width: 90%; /* IE8 calculates width: 90% wrong, so we have to trick it */
    margin: -.4em -.3em -.15em;
}

.t-grid-edit-row .t-dropdown,
.t-grid-edit-row .t-combobox
{
    width: 5em;
    max-width: 90%;
    min-width: 90%; /* IE8 calculates width: 90% wrong, so we have to trick it */
    line-height: normal;
    margin: -.1em -.3em -.45em;
}

* html .t-grid .text-box { width: 90%; }

.t-edit-form-container
{
    position: relative;
}

.t-grid .field-validation-error
{
    display: block;
}

.t-grid .input-validation-error
{
    border-style: ridge;
    border-color: #f00;
    background-color: #ffc0cb;
}

.t-grid-toolbar .t-button
{
    vertical-align: middle;
}
.t-grid-actions
{
    display: inline-block;
}

* html .t-grid-actions{display: inline;zoom: 1;vertical-align: bottom}
*+html .t-grid-actions{display: inline;zoom: 1;vertical-align: bottom}

.t-grid .t-button,
.t-edit-form .t-button
{
    margin: 0 .2em;
}

.t-grid tbody .t-button
{
    min-width: 64px; /*main setting*/
}

.t-grid tbody button.t-button, #ie8#skips
{
	min-width: 78px; /*+14 for buttons, except IE8*/
}

*+html .t-grid tbody a.t-button
{
	min-width: 62px; /*-2 for links for IE7*/
}

html body div.t-grid tbody .t-button-icon
{
	min-width: 0;
	width: auto;
}

.t-detail-row
{
    position: relative;
}

.t-grid .t-detail-cell
{
    overflow: visible;
}

/* Grid :: resizing */

.t-grid-resize-indicator
{
    position: absolute;
    width: 2px;
    background-color: #aaa;
}

.t-grid .t-resize-handle
{
    cursor: col-resize;
    position: absolute;
    height: 25px;
}

/* tabstrip */
.t-header .t-state-active {
    background-color: #595959;
    border-color: #373737;
    color: #FFFFFF;
}

.t-header .t-state-default .t-tabstrip-items {
    background-color: #FFFFFF;
    border-color: #828282;
}

/* tabstrip  */
.t-tabstrip-items .t-state-default a {
    background-image: url("RMSSDefault/TabUnselected.png");
    border-bottom-width: 0;
    outline: 0 none;
    padding: 0.3em 0.9em;
    color: #ffffff;
}

.t-state-default a:hover {
    background-image: url("RMSSDefault/TabHover.png");
    border-bottom-width: 0;
    outline: 0 none;
    padding: 0.3em 0.9em;
    color: #ffffff;
}

.t-tabstrip-items .t-state-active a {
    background-image: url("RMSSDefault/TabSelected.png");
    border-bottom-width: 0;
    outline: 0 none;
    padding: 0.3em 0.9em;
    color: #ffffff;
}

.t-tabstrip-items .t-item, .t-panelbar .t-tabstrip-items .t-item {
    border-style: solid;
    border-width: 1px 1px 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    list-style-type: none;
    margin: 0.1em 0.3em 0 0;
    padding: 0;
    position: relative;
    vertical-align: top;
}


.t-tabstrip .t-tabstrip-items {
    height: 25px;
    padding: 0 0.3em;
}


