﻿.ui-accordion .ui-accordion-content
{
	padding: 0.5em 0.5em;
}

.ui-autocomplete
{
	max-height: 200px;
}

.t-dropdown-wrap .t-icon
{
	background-image: url('RMSSDefault/downarrow.gif');
}

.t-dropdown-loading .t-icon
{
	background-image: url('Telerik/loading.gif');
}

div .t-dropdown-loading
{
	margin-top: 0px;
	background-color: white;
	height: 22px;
}

div .t-dropdown-wrap
{
	margin-top: 0px;
	background-color: white;
	height: 21px;
}

.ControlSmallest
{
	width: 30px;
}

.ControlSmaller
{
	width: 50px;
}

.ControlSmall
{
	width: 80px;
}

.ControlMedium
{
	width: 100px;
}

.ControlMediumPlus
{
	width: 150px;
}

.ControlLarge
{
	width: 200px;
}

.ControlLarger
{
	width: 250px;
}

.ControlLargest
{
	width: 300px;
}

.EditRowItemIcon
{
	background-image: url('RMSSDefault/magnifying-glass.gif');
	height: 20px;
	width: 30px;
	background-repeat: no-repeat;
	display: block;
}

.EditRowItemInLineIcon
{
	background-image: url('RMSSDefault/Grid/EditInLine.gif');
	height: 20px;
	width: 30px;
	background-repeat: no-repeat;
	display: block;
	margin-top: 7px;
}

.mvcGridTable
{
	border: none;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}

.mvcGridHeader th
{
	width: 25%;
}

.mvcGridFooter
{
	text-align: center;
}

.mvcGridColumn
{
	width: 25%;
}

.mvcSearchTable
{
	overflow: hidden;
	table-layout: fixed;
	width: 100%;
}

	.mvcSearchTable .labelColumn
	{
		width: 200px;
	}

	.mvcSearchTable .textColumn
	{
		width: 350px;
	}

	.mvcSearchTable .filterColumn
	{
		width: 200px;
	}

	.mvcSearchTable tr
	{
		height: 30px;
	}

.mvcSearchSubTable
{
	overflow: hidden;
	table-layout: fixed;
	width: 100%;
}

	.mvcSearchSubTable .labelColumn
	{
		width: 200px;
	}

	.mvcSearchSubTable .filterColumn
	{
		width: 200px;
	}

	.mvcSearchSubTable tr
	{
		height: 30px;
	}

	.mvcSearchSubTable td
	{
		padding-left: 0px;
		padding-right: 0px;
	}

.mvcGridTable
{
	overflow: hidden;
	table-layout: fixed;
	width: 100%;
	border: 1px solid #080808;
	background-color: #4F4F4F;
	border-collapse: separate;
}

	.mvcGridTable .labelColumn
	{
		width: 200px;
		padding-left: 2px;
	}

	.mvcGridTable tr
	{
		height: 30px;
	}

	.mvcGridTable td
	{
		padding-left: 0px;
		padding-right: 0px;
	}

	.mvcGridTable .AltRow
	{
		background-color: #494949;
	}
