﻿.DirectionalContainer
{
    display: block;
    width: inherit;
    overflow: hidden;
    clear:both;
}

.DirectionalLayout
{    
    /*display: block;*/
    width: 100%;   
}

.DirectionalLayout_Horizontal
{        
	display: block;
	float: left;
	/*padding: 5px 5px 5px 5px;*/
	padding: 5px 0px 5px 0px;
	/*margin-bottom: 20px;*/
}

.DirectionalLayout_Vertical, .DirectionalLayout_Vertical_Alternative
{    
    margin: 0;
    padding: 0 0 15px 0;	
    text-align: left;    	
}