﻿.FluidLayout_Center  { text-align: center;   }
.FluidLayout_Justify { text-align: justify;  }
.FluidLayout_Left    { text-align: left;     }
.FluidLayout_Right   { text-align: right;    }
.FluidLayout_Inherit { text-align: inherit;  }