﻿/* Form elements
-------------------------------------------------------- */		
	
fieldset 
	{  	
	    background-color:       #ffffff;
	    border:                 solid 1px #7e9cb1;
		float:			        left;
		clear:			        left;
	    display:                inline-block;
		width:			        95%;
		margin:			        0 0 1em 0;
		padding:		        0;
	} 
textarea
	{
		font-family:Sans-Serif ;
		font-size:small ;
	}
legend 
	{  
		margin-left:	1em;  
		color:			#000000;  
		font-weight:	bold; 
	} 

fieldset ol 
	{  
		padding:		10px 10px 0 10px;  
		list-style:		none; 
	} 
	
fieldset li 
	{
		float:			left;
		clear:			left;
		width:			100%;
		padding-bottom: 0.5em;
	}
	
fieldset.Submit 
	{
	    background-color:   Transparent;
	    border-width:       0;		
		float:			    none;				
		text-align:         right;			
		width:              95%;
	}
	
fieldset.Submit a.Button
{    
    
    margin-left: 10px;
    margin-right: -10px;
    float: none;
    
} 

.RightAlign
{     
    display: block;
    width: 223px;   
}

label 
	{  
		/*float:			left;  */
	    font-weight:    normal;
		width:			10em;  
		margin-right:	1em; 
	}
	
label.Expanded 
	{  			    
		width:			15em;  	
	}
	
label.Massive
	{  		
		width:			20em;  		
	}
	
input, select
	{	    
	    /*float:			left;	    */
	    clear:			none;
	    margin-right:	10px;	    
	}
	
div.Button
	{	    
	    height:			24px;
	    float:			none !important;
	    margin-right:	10px;
	}
	
input.TextBox
	{
	    border-color:	#AEAEAE;
	    border-style:	solid;
	    border-width:	1px;
	    height:			20px;	    
	    vertical-align: middle;
	}
input.Time 
	{
		width:5em;
	}
	
.CheckBox {
    width: auto;
    float: left;
}

.CheckBokImage
	{
		float:			left; 
		vertical-align: middle; 
		margin-top:		3px; 
		margin-right:	6px;
	}
	
	.Grid_Alternating
{
	background-color: #E7F1FE;
}
	.Grid_Selected
{
	background-color: #EBECED;
}
.Grid_Header
	{
	    border-bottom:	1px solid #010101;
		background:		url('../Skins/Default/Grid/headers.gif') repeat-x #434343;
		color:			White;
		height:			30px;		
		padding:		10px 6px 10px 11px;
		text-align:		left;
		font-size:		1em;
		font-weight:	bold;	
	}
	
.Grid td, th
	{
	    padding:5px;	
	}
	
.Grid_Pager
	{
	    background-color: #EFEFFF;	
	}
	
.Grid_Pager a
	{
		color: Navy;
	    margin-left: 5px;
	}

.rtContainer
{
 position: relative;
 font-size: 1px; 
}

.rtTextArea
{
  position: relative;
  left: 1px;
  top: 1px;
  border: 0px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  
  /* This sets the color of the textarea */
  background-color: White;
}

.rtTopEdge, .rtLeftEdge
{
  position: absolute;
  left: 0px; 
  
  /* This sets the color of the left and top edge
   * for the other edges, you will have to modify
   * the images */
  background-color: #A5ACB2;
}

.rtTopEdge
{
  height: 1px;  
}

.rtLeftEdge
{
  width: 1px;
}

.rtRightEdge
{
  position: absolute;
  width: 4px;
  top: 3px;
  cursor: e-resize;
  background-image: url('../Media/Layout/vert_repeater.gif');
  background-repeat: repeat-y;
}

.rtBottomEdge
{
  position: absolute;
  height: 4px;
  left: 3px;
  cursor: s-resize;
  background-image: url('../Media/Layout/horz_repeater.gif');
  background-repeat: repeat-x;
}

.rtCorner, .rtLeftCorner, .rtTopCorner, .rtBottomHandle, .rtRightHandle, .rtTopRightImage, .rtBottomLeftImage
{
  position: absolute;
  background-image: url('../Media/Layout/non_repeaters.gif');
  background-repeat: no-repeat;
}

.rtCorner
{
  height: 7px;
  width: 7px;
  cursor: se-resize;
  background-position: -23px -7px;
}

.rtLeftCorner
{
  height: 7px;
  width: 7px;
  top: 0px;
  left: -7px;
  background-position: -16px -7px;
}

.rtTopCorner
{
  height: 7px;
  width: 7px;
  top: -7px;
  left: 0px;
  background-position: -23px 0px;
}

.rtRightHandle
{
  width: 8px;
  height: 22px;
  left: 0px;
  background-position: 0px 0px;
}

.rtBottomHandle
{
  width: 22px;
  height: 8px;
  top: 0px;
  background-position: -8px -14px;
}

.rtTopRightImage
{
   width: 4px;
   height: 3px;
   top: -3px;
   left: 0px;
   background-position: -10px -6px;
}

.rtBottomLeftImage
{
   width: 3px;
   height: 4px;
   top: 0px;
   left: -3px;
   background-position: -10px -1px;
}

.PanelBorder
{
    border:             solid 1px #7e9cb1;
    padding:            10px 10px 20px 10px;    
    display:            inline-block;
}

.ViewSelection input { float: none; }