﻿.PerimeterLayout
{
    width: 500px;
}

.BorderLayout_Center
{
    background-color: Red;
    float: left;
    text-align: center;
    width: 50%;
}

.PerimeterLayout_East
{
    background-color: Blue;        
    float: left;
    text-align: left;
    width: 25%;
}

.PerimeterLayout_North
{
    background-color: Green;    
    display: block;
    text-align: center;
    width: 100%;    
}

.PerimeterLayout_South
{
    background-color: Yellow;
    display: block;
    text-align: center;
    width: 100%;
}

.PerimeterLayout_West
{
    background-color: Purple;
    float: left;
    text-align: right;
    width: 25%;
}