﻿@{
    ViewData["MetaDescription"] = "The riskmanager is risk management software that provides a seamless and integrated approach to managing risk.Using a unique patented process of master risk categories(e.g.health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models";
    ViewData["MetaKeywords"] = "Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks";
}
<meta charset="UTF-8">
<title>The Risk Manager - Australia's Best Online Risk Tracker</title>
<meta name="Description" content="The riskmanager is risk management software that provides a seamless and integrated approach to managing risk. Using a unique patented process of master risk categories (e.g. health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models.">
<meta name="Keywords" content="Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks">
<meta name="robots" content="index, follow">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="viewport" content="width=device-width, initial-scale=1">
@model RMSS_Website.ViewModels.IndustryViewModel

@section content_Content {

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div id="vd">



                        




                        @*<form name="form1" action="" class="frontform">*@

                            <div class="row">
                                @*<div class="col-md-4 col-sm-12">
                                    <p>First Name</p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><input type="text" name="first-name" /></label>
                                </div>*@
                                @*<div class="col-md-4 col-sm-12">
                                    <p>Last Name</p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><input type="text" name="last-name"></label>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p>Email Address</p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><input type="text" name="email" /></label>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p>Create Password <a href="#" name="Industry risks"><i class="fa fa-question-circle-o"></i></a></p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><input name="create-password" type="password"></label>
                                </div>*@
                                @*<div class="col-md-4 col-sm-12">
                                    <p>Country</p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label>
                                        <select name="country">
                                            <option value="1">Country 1</option>
                                            <option value="2">Country 2</option>
                                        </select>
                                    </label>
                                </div>*@



                                @*<div class="col-md-4 col-sm-12"></div>
                                <div class="col-md-8 col-sm-12">
                                    <div id="foot" class="shorsocial">
                                        <ul>
                                            <li><a name ="Risks for Industry" href="#"><img src="../../Images/Education-risk.png" alt="Education risks" title="Education Risks"></a></li>
                                            <li><a name ="Risks for FREE" href="#"><img src="../../Images/Manufacturing-risks.png" alt="Manufacturing Risks" title="Manufacturing Risks"></a></li>
                                            <li><a name ="FREE Risk Manager" href="#"><img src="../../Images/water-risks.png" alt="Water Risks" title="Water Risks"></a></li>
                                            <li><a name ="Buy Risks" href="#"><img src="../../Images/power-risks.png" alt="Power risks" title="Power risks"></a></li>
                                        </ul>
                                    </div>

                                </div>*@

                                <div class="col-md-4 col-sm-12"></div>
                                <div class="col-md-8 col-sm-12">
                                    <div class="tt-container">
                                        <img id="Industryimg" style="width: 300px; height: 200px; padding-bottom:20px;" src="@Url.Action("GetIndustryImage", "Industry", new { IndustryCat_ID = @Model.IndustryCat_ID, IndustryCatLocation_ID = @Model.IndustryCatLocation_ID })" height="150" style="max-width:100%;" />
                                    </div>
                                    <a class="m-0"><a name="Risks Trial" href="@Url.Action("SignUp","User")" id="formbt" value="Start My FREE Trail now" />Start My FREE Trial Now</a>

                                    <p id="donth">Already have an account <a href=@Url.Action("Login","User")>Sign In</a></p>
                                </div>
                            </div>

                        @*</form>*@




                    </div>


                </div>
                <div class="col-md-6 col-sm-12">

                    <div id="cright-full" class="cfull">


                        <h2 class="loginti loginti2">Industry @Model.Name Top 5 Risks</h2>


                        <div id="tablebg">

                            <table border="0">
                                <thead>
                                    <tr>
                                        <th>Risk Name </th>
                                        <th>Risk Category</th>
                                        <th>Risk score</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td>@Model.Risk1Name</td>
                                        <td>@Model.Risk1Cat</td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Risk2Name</td>
                                        <td>@Model.Risk2Cat</td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Risk3Name</td>
                                        <td>@Model.Risk3Cat</td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Risk4Name</td>
                                        <td>@Model.Risk4Cat</td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr>
                                        <td>@Model.Risk5Name</td>
                                        <td>@Model.Risk5Cat</td>
                                        <td>Pending</td>
                                    </tr>
                                    <tr>
                                </tbody>
                            </table>

                        </div>


                        <form name="form1" action="" class="frontform ffright">

                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <p><i class="fa fa-group"></i> Testimonial</p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><textarea name="testimonial" cols="" rows=""></textarea></label>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p><i class="fa fa-group"></i> Testimonial</p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><textarea name="testimonial" cols="" rows=""></textarea></label>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>

        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <p id="footer-capt">
                        By joining theriskmanager.com, you are indicating, you are read understood and agree to the theriskmanager.com user Agreement and privacy policy.
                    </p>
                </div>
            </div>
        </div>
    </section>




    @*<h3>Industry @Model.Name Top 5 Risks:</h3>
        <table style="width:100%">
            <tr>
                <th>RiskName</th>
                <th>RiskCategory</th>
                <th>RiskScore</th>
            </tr>
            <tr>
                <td>@Model.Risk1Name</td>
                <td>@Model.Risk1Cat</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>@Model.Risk2Name</td>
                <td>@Model.Risk2Cat</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>@Model.Risk3Name</td>
                <td>@Model.Risk3Cat</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>@Model.Risk4Name</td>
                <td>@Model.Risk4Cat</td>
                <td>Pending</td>
            </tr>
            <tr>
                <td>@Model.Risk5Name</td>
                <td>@Model.Risk5Cat</td>
                <td>Pending</td>
            </tr>
        </table>*@
}


