﻿
@{
    ViewBag.Title = "The Risk Manager - Australia's Best Online Risk Tracker";
    ViewData["MetaDescription"] = "The riskmanager is risk management software that provides a seamless and integrated approach to managing risk.Using a unique patented process of master risk categories(e.g.health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models";
    ViewData["MetaKeywords"] = "Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model RMSS_Website.ViewModels.IndustryViewModel

@using RMSS_Website.Models.Quiz;
@using RMSS_Website.Objects.Web_Objects.CustomControl;

@section content_Content {
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title></title>
        <meta name="Description" content="The riskmanager is risk management software that provides a seamless and integrated approach to managing risk. Using a unique patented process of master risk categories (e.g. health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models.">
        <meta name="Keywords" content="Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks">
        <meta name="robots" content="index, follow">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>





        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="vd">
                            <form id="IndustryCat" enctype="multipart/form-data" action="@Url.Action("SaveIndustryCategory", "Industry")" method="post">
                                @Html.AntiForgeryToken();
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <h2 class="loginti3 loginti3first">Risk Details Selection</h2>
                                    </div>


                                    <div class="col-md-3 col-sm-12">

                                        <div id="location">
                                            <label>
                                                <p>Select Location</p>

                                                @Html.DropDownListFor(m => m.Location_ID, Model.LocationList, new { @id = "selectlocation" })
                                                @Html.HiddenFor(m => m.Location, new { @id = "Location" })

                                            </label>
                                        </div>


                                        <div class="alert alert-success" id="success0" style="display:none;">
                                            The industry has been successfully added
                                        </div>
                                        <div class="alert alert-success" id="success" style="display:none;">
                                            The industry has been successfully deleted
                                        </div>
                                        <div class="alert alert-danger" id="not" style="display:none;">
                                            The industry cannot be added
                                        </div>
                                        <div class="alert alert-danger" id="not2" style="display:none;">
                                            The industry cannot be deleted
                                        </div>

                                    </div>
                                    <div class="col-md-3 col-sm-12">


                                        <div id="selectoptions">


                                            <label>
                                                <p>Select Industry Category</p>
                                                <select id="selectindustrycat">
                                                    <option id="" selected="selected"></option>
                                                </select>
                                            </label>
                                        </div>

                                        <ul id="aic-list">
                                            <li><div id="editlink"></div></li>
                                            <li><div id="deletelink"></div></li>
                                            @*<li><a href="#">Edit Link</a></li>
                        <li><a href="#">Delete Link</a></li>*@
                                            <li id="aic-list-last"><button id="addlink">Add Industry Category</button></li>

                                        </ul>


                                    </div>
                                    </div>
                               
                                <div id="newIndustryCat">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">



                                            <div id="errormessage" style="color:red; font-size: 120%"> </div>
                                            <div class="form-group">
                                                <label>

                                                    <p>Category Name</p>
                                                    @Html.TextBoxFor(m => m.Name, new { @id = "Name", required = "required", @class = "form-control" })
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3 col-sm-12">

                                            <div class="form-group">
                                                <label>
                                                    <p>Category Description </p>
                                                    @Html.TextAreaFor(m => m.Description, new { @id = "Description", @class = "form-control", style = "resize:none;" })
                                                </label>
                                            </div>

                                        </div>
                                        </div>





                                        <div class="row">

                                            <div class="col-md-12 col-sm-12">
                                                <h2 class="loginti3">Enter 5 Risks</h2>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label><p>Risk 1</p>  @Html.TextBoxFor(m => m.Risk1Name, new { @id = "Risk1Name", required = "required", @class = "form-control" })</label>
                                                    <label><p>Risk 1 Category</p>@Html.TextBoxFor(m => m.Risk1Cat, new { @id = "Risk1Cat", @class = "form-control" })</label>
                                                    <label><p>Risk 1 Description</p> @Html.TextAreaFor(m => m.Risk1Description, new { @id = "Risk1Description", @class = "form-control", style = "resize:none;" })</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label><p>Risk 2</p> @Html.TextBoxFor(m => m.Risk2Name, new { @id = "Risk2Name", required = "required", @class = "form-control" })</label>
                                                    <label><p>Risk 2 Category</p>@Html.TextBoxFor(m => m.Risk2Cat, new { @id = "Risk2Cat", @class = "form-control" })</label>
                                                    <label><p>Risk 2 Description</p> @Html.TextAreaFor(m => m.Risk2Description, new { @id = "Risk2Description", @class = "form-control", style = "resize:none;" })</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label><p>Risk 3</p>  @Html.TextBoxFor(m => m.Risk3Name, new { @id = "Risk3Name", required = "required", @class = "form-control" })</label>
                                                    <label><p>Risk 3 Category</p>@Html.TextBoxFor(m => m.Risk3Cat, new { @id = "Risk3Cat", @class = "form-control" })</label>
                                                    <label><p>Risk 3 Description</p> @Html.TextAreaFor(m => m.Risk3Description, new { @id = "Risk3Description", @class = "form-control", style = "resize:none;" })</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label><p>Risk 4</p>  @Html.TextBoxFor(m => m.Risk4Name, new { @id = "Risk4Name", required = "required", @class = "form-control" })</label>
                                                    <label><p>Risk 4 Category</p>@Html.TextBoxFor(m => m.Risk4Cat, new { @id = "Risk4Cat", @class = "form-control" })</label>
                                                    <label><p>Risk 4 Description</p> @Html.TextAreaFor(m => m.Risk4Description, new { @id = "Risk4Description", @class = "form-control", style = "resize:none;" })</label>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label><p>Risk 5</p> @Html.TextBoxFor(m => m.Risk5Name, new { @id = "Risk5Name", required = "required", @class = "form-control" })</label>
                                                    <label><p>Risk 5 Category</p>@Html.TextBoxFor(m => m.Risk5Cat, new { @id = "Risk5Cat", @class = "form-control" })</label>
                                                    <label><p>Risk 5 Description</p> @Html.TextAreaFor(m => m.Risk5Description, new { @id = "Risk5Description", @class = "form-control", style = "resize:none;" })</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label>Image</label>
                                            <input type="file" required name="file" id="file" /> <br /> <br />
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12">
                                                @*<input type="submit" id="formbt" value="Save" />
                    <input type="submit" id="formbt" class="formbtcancel" value="Cancel" />*@
                                                <button type="submit" id="form" class="btn btn-primary">Save</button><br />
                                                <a name="Display Risks" href="DisplayIndustryCategory">Cancel</a>
                                            </div>
                                        </div>
                                    </div>

                            </form>
                            </div>


                        </div>

                    </div>

                </div>


            
        </section>








       @* <form id="IndustryCat" enctype="multipart/form-data" action="@Url.Action("SaveIndustryCategory", "Industry")" method="post">*@
            @*<div id="location">
                @SectionHeading.RenderMVC("Select Location")*@
           
                @*@Html.DropDownListFor(m => m.Location_ID, Model.LocationList, new { @id = "selectlocation" })
                @Html.HiddenFor(m => m.Location, new { @id = "Location" })
            </div>*@

            @*<div id="selectoptions">*@
                @*@SectionHeading.RenderMVC("Select Industry Category")
                <select id="selectindustrycat">
                    <option id="" selected="selected"></option>
                </select>
            </div>*@

            @*<div id="editlink"></div>*@
            @*<div id="deletelink"></div>
            <br />*@
            @*<button id="addlink">Add Industry Category</button>*@

            @*<div id="newIndustryCat">
                <br />
                @SectionHeading.RenderMVC("Add Industry Category")*@
                @*<div id="errormessage" style="color:red; font-size: 120%"> </div>*@
                @*<div class="form-group">
                    <label>Category Name</label>
                    <div class="tt-container">*@
                        @*<input id="name" name="name" required type="text" value="" class="form-control" />*@
                        @*@Html.TextBoxFor(m => m.Name, new { @id = "Name", required = "required", @class = "form-control" })
                    </div>
                </div>*@
                @*<div class="form-group">
                    <label>Description</label>
                    <div class="tt-container">*@
                        @* <textarea id="description" name="description" type="text" value="" class="form-control"></textarea>*@
                       @* @Html.TextAreaFor(m => m.Description, new { @id = "Description", @class = "form-control", style = "resize:none;" })*@
                    @*</div>
                </div>
                <br />
                <h3>Enter 5 Risks:</h3>
                <br />
                <div class="form-group">
                    <label style="margin-left: 30px;"> Risk 1:</label>
                    <label style="margin-left: 205px;">Risk 2:</label>
                    <label style="margin-left: 205px;">Risk 3:</label>
                    <label style="margin-left: 177px;">Risk 4:</label>
                    <label style="margin-left: 200px;">Risk 5:</label>
                    <div class="tt-container">*@
                        
                        @*@Html.TextBoxFor(m => m.Risk1Name, new { @id = "Risk1Name", required = "required", @class = "form-control" })
                      
                        @Html.TextBoxFor(m => m.Risk2Name, new { @id = "Risk2Name", required = "required", @class = "form-control", style = "margin-left:70px;" })
                     
                        @Html.TextBoxFor(m => m.Risk3Name, new { @id = "Risk3Name", required = "required", @class = "form-control", style = "margin-left:70px;" })
                     
                        @Html.TextBoxFor(m => m.Risk4Name, new { @id = "Risk4Name", required = "required", @class = "form-control", style = "margin-left:70px;" })
                       
                        @Html.TextBoxFor(m => m.Risk5Name, new { @id = "Risk5Name", required = "required", @class = "form-control", style = "margin-left:70px;" })
                    </div>

                    <br />
                    <label style="margin-left: 30px;"> Risk 1 Category:</label>
                    <label style="margin-left: 150px;">Risk 2 Category:</label>
                    <label style="margin-left: 150px;">Risk 3 Category:</label>
                    <label style="margin-left: 120px;">Risk 4 Category:</label>
                    <label style="margin-left: 140px;">Risk 5 Category:</label>
                    <div class="tt-container">
                      

                        @Html.TextBoxFor(m => m.Risk1Cat, new { @id = "Risk1Cat", @class = "form-control" })
                      

                        @Html.TextBoxFor(m => m.Risk2Cat, new { @id = "Risk2Cat", @class = "form-control", style = "margin-left:70px;" })
                      

                        @Html.TextBoxFor(m => m.Risk3Cat, new { @id = "Risk3Cat", @class = "form-control", style = "margin-left:70px;" })

                      
                        @Html.TextBoxFor(m => m.Risk4Cat, new { @id = "Risk4Cat", @class = "form-control", style = "margin-left:70px;" })

                      
                        @Html.TextBoxFor(m => m.Risk5Cat, new { @id = "Risk5Cat", @class = "form-control", style = "margin-left:70px;" })
                    </div>
                    <br />
                    <label style="margin-left: 30px;"> Risk 1 Description:</label>
                    <label style="margin-left: 136px;">Risk 2 Description:</label>
                    <label style="margin-left: 136px;">Risk 3 Description:</label>
                    <label style="margin-left: 110px;">Risk 4 Description:</label>
                    <label style="margin-left: 126px;">Risk 5 Description:</label>
                    <div class="tt-container">
                       
                        @Html.TextAreaFor(m => m.Risk1Description, new { @id = "Risk1Description", @class = "form-control", style = "resize:none;" })
                      
                        @Html.TextAreaFor(m => m.Risk2Description, new { @id = "Risk2Description", @class = "form-control", style = "margin-left:50px; resize:none;" })
                       
                        @Html.TextAreaFor(m => m.Risk3Description, new { @id = "Risk3Description", @class = "form-control", style = "margin-left:50px; resize:none;" })
                       
                        @Html.TextAreaFor(m => m.Risk4Description, new { @id = "Risk4Description", @class = "form-control", style = "margin-left:50px; resize:none;" })
                      
                        @Html.TextAreaFor(m => m.Risk5Description, new { @id = "Risk5Description", @class = "form-control", style = "margin-left:50px; resize:none;" })
                    </div>
                </div>
                <br />*@
               
                @*<label>Image</label>
                <input type="file" name="file" id="file" /> <br /> <br />*@
             

                @*<button type="submit" id="form" class="btn btn-primary">Save</button><br /> <a href="DisplayIndustryCategory">Cancel</a>*@
            @*</div>
        </form>*@

    </body>
</html>

@Scripts.Render("~/bundles/jqueryval")



    <script>
   @if(TempData.ContainsKey("Success"))
   {
       @:toastr.success("Successfully Added Industry Category");
       TempData.Remove("Success");
   }
   @if(TempData.ContainsKey("Error"))
   {
       @:toastr.error("Category could not be added");
         TempData.Remove("Error");
   }
   $("#selectoptions").hide();
   $("#newIndustryCat").hide();
   $("#addlink").hide();
    $("#Name").val("");
    $("#Description").val("");
    $("#Risk1Name").val("");
    $("#Risk2Name").val("");
    $("#Risk3Name").val("");
    $("#Risk4Name").val("");
    $("#Risk5Name").val("");
    $("#Risk1Description").val("");
    $("#Risk2Description").val("");
    $("#Risk3Description").val("");
    $("#Risk4Description").val("");
    $("#Risk5Description").val("");

        var sd = 0;
        var country = "";
    $("#selectlocation")
        .change(function () {
            var str = "";
            $("select option:selected").each(function () {
                str += $(this).text();
                country = str;
                $("#Location").val(str);
            });
            $.ajax({
                url: "GetIndustryCat",
                type: "POST",
                data: { Country: str },
                success: function (data) {

                }
            }).done(function (data) {
                for (var i = 0; i < data.Cat.length; i++) {
                    $("#selectindustrycat").append('<option id="' + data.CatID[i] +'">' + data.Cat[i] + '</option>');
                }
                $("#selectoptions").show();
                $("#location").hide();
                $('#addlink').show();


                });

        });
    $("#addlink").on("click", function (e) {
        e.preventDefault();
    })
    $(window).on('load', function () {
        $("#selectlocation").val("Select Location");
    });
    $("#selectindustrycat")
        .change(function () {
            $("#editlink").empty('#editbutton');
            $("#deletelink").empty('#deletecat');

            sd = $(this).children(":selected").attr("id");
            if (sd != "") {
                $("#editlink").append('<button id="editbutton">' + 'Edit link' + '</button>');
                $("#deletelink").append('<button id="deletecat">' + 'Delete link' + '</button>');
                $("#editbutton").on("click", function (e) {
                    e.preventDefault();
                    window.location.replace("EditIndustryCategory/" + sd);
                });

                $("#deletecat").on("click", function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: "DeleteIndustryCategory",
                        type: "POST",
                        data: { id: sd, location: country },
                        success: function () {
                            //toastr.success("Category Successfully Deleted");
                            $("#success").show();
                            setTimeout(
                                function () {
                                    window.location.reload();
                                }, 700);
                        },
                        error: function (xhr, status, error) {
                            //ToastrPopup(xhr.responseText, 'error');
                            $("#not2").show();
                            setTimeout(
                                function () {
                                    window.location.reload();
                                }, 700);
                        }
                    })
                   
                });
            }
        });


    $("#addlink").on("click", function () {
        $("#newIndustryCat").focus();
        $("#newIndustryCat").show();
    });

    //$("form").submit(function (e) {
    ////$("#form").on("click",function() {
    //    e.preventDefault();
    //    var errorMessage = "";
    //    var fieldmissing = "";
    //    if ($("#name").val() == "") {
    //        fieldmissing += "<br>Name";
    //    }
    //    if ($("#risk1").val() == "") {
    //        fieldmissing += "<br>Risk 1";
    //    }
    //    if ($("#risk2").val() == "") {
    //        fieldmissing += "<br>Risk 2";
    //    }
    //    if ($("#risk3").val() == "") {
    //        fieldmissing += "<br>Risk 3";
    //    }
    //    if ($("#risk4").val() == "") {
    //        fieldmissing += "<br>Risk 4";
    //    }
    //    if ($("#risk5").val() == "") {
    //        fieldmissing += "<br>Risk 5";
    //    }

    //    if (fieldmissing != "") {
    //        errorMessage += "<p>The following field(s) are missing: " + fieldmissing + "</p>";
    //        $("#errormessage").html(errorMessage);
    //    }
    //    else {

    //        $.ajax({
    //            url: "SaveIndustryCategory",
    //            type: "POST",
    //            data: {
    //                Name: $("#name").val(), Description: $("#description").val(), Location: country, Risk1Name: $("#risk1").val(),
    //                Risk2Name: $("#risk2").val(), Risk3Name: $("#risk3").val(), Risk4Name: $("#risk4").val(), Risk5Name: $("#risk5").val(),
    //                Risk1Description: $("#risk1desc").val(), Risk2Description: $("#risk2desc").val(), Risk3Description: $("#risk3desc").val(),
    //                Risk4Description: $("#risk4desc").val(), Risk5Description: $("#risk5desc").val()
    //            },

    //            error: function (xhr, status, errorThrown) {
    //                ToastrPopup(xhr.responseText, 'error');
    //                setTimeout(
    //                    function () {
    //                        window.location.reload();
    //                    }, 700);

    //            }
    //        }).done(function () {
    //            toastr.success("Successfully Added Industry Category");
    //            setTimeout(
    //                function () {
    //                    window.location.reload();
    //                }, 700);

    //        });
    //    }
    //});
    </script>
    
}
