﻿
@{
    ViewBag.Title = "The Risk Manager - Australia's Best Online Risk Tracker";
    ViewData["MetaDescription"] = "The riskmanager is risk management software that provides a seamless and integrated approach to managing risk.Using a unique patented process of master risk categories(e.g.health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models";
    ViewData["MetaKeywords"] = "Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model RMSS_Website.ViewModels.IndustryViewModel

@using RMSS_Website.Models.Quiz;
@using RMSS_Website.Objects.Web_Objects.CustomControl;

@section content_Content {

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>The Risk Manager - Australia's Best Online Risk Tracker</title>
        <meta name="Description" content="The riskmanager is risk management software that provides a seamless and integrated approach to managing risk. Using a unique patented process of master risk categories (e.g. health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models.">
        <meta name="Keywords" content="Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks">
        <meta name="robots" content="index, follow">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div id="vd">

                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <h2 class="loginti3 loginti3first">Edit industry Category</h2>
                                    <div id="errormessage" style="color:red; font-size: 120%"> </div>
                                </div>
                                <div class="alert alert-success" id="success" style="display:none;">
                                    The industry has been successfully modified
                                </div>
                                <div class="alert alert-danger" id="not" style="display:none;">
                                    The industry cannot be modified
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label>

                                                <p>Category Name</p>
                                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "required", id = "name", style = "margin-left:30px;" })
                                            </label>
                                        </div>
                                    </div>
                                
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            <label>
                                                Description
                                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", id = "description" })
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.IndustryCatLocation_ID, new { @class = "form-control", id = "locationid" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.IndustryCat_ID, new { @class = "form-control", id = "industrycatid" })
                                        </div>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <label><p>Risk 1</p>  @Html.TextBoxFor(m => m.Risk1Name, new { @id = "risk1", required = "required", @class = "form-control" })</label>
                                            <label><p>Risk 1 Category</p>@Html.TextBoxFor(m => m.Risk1Cat, new { @id = "risk1cat", @class = "form-control" })</label>
                                            <label><p>Risk 1 Description</p> @Html.TextAreaFor(m => m.Risk1Description, new { @id = "risk1desc", @class = "form-control", style = "resize:none;" })</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label><p>Risk 2</p> @Html.TextBoxFor(m => m.Risk2Name, new { @id = "risk2", required = "required", @class = "form-control" })</label>
                                            <label><p>Risk 2 Category</p>@Html.TextBoxFor(m => m.Risk2Cat, new { @id = "risk2cat", @class = "form-control" })</label>
                                            <label><p>Risk 2 Description</p> @Html.TextAreaFor(m => m.Risk2Description, new { @id = "risk2desc", @class = "form-control", style = "resize:none;" })</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label><p>Risk 3</p>  @Html.TextBoxFor(m => m.Risk3Name, new { @id = "risk3", required = "required", @class = "form-control" })</label>
                                            <label><p>Risk 3 Category</p>@Html.TextBoxFor(m => m.Risk3Cat, new { @id = "risk3cat", @class = "form-control" })</label>
                                            <label><p>Risk 3 Description</p> @Html.TextAreaFor(m => m.Risk3Description, new { @id = "risk3desc", @class = "form-control", style = "resize:none;" })</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label><p>Risk 4</p>  @Html.TextBoxFor(m => m.Risk4Name, new { @id = "risk4", required = "required", @class = "form-control" })</label>
                                            <label><p>Risk 4 Category</p>@Html.TextBoxFor(m => m.Risk4Cat, new { @id = "risk4cat", @class = "form-control" })</label>
                                            <label><p>Risk 4 Description</p> @Html.TextAreaFor(m => m.Risk4Description, new { @id = "risk4desc", @class = "form-control", style = "resize:none;" })</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label><p>Risk 5</p> @Html.TextBoxFor(m => m.Risk5Name, new { @id = "risk5", required = "required", @class = "form-control" })</label>
                                            <label><p>Risk 5 Category</p>@Html.TextBoxFor(m => m.Risk5Cat, new { @id = "risk5cat", @class = "form-control" })</label>
                                            <label><p>Risk 5 Description</p> @Html.TextAreaFor(m => m.Risk5Description, new { @id = "risk5desc", @class = "form-control", style = "resize:none;" })</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 col-sm-12">
                                        <div class="tt-container">
                                            <img id="Industryimg" src="@Url.Action("GetIndustryImage", "Industry", new { IndustryCat_ID = Model.IndustryCat_ID, IndustryCatLocation_ID = Model.IndustryCatLocation_ID })" height="150" style="max-width:100%;"/>
                                        </div>
                                    </div>
                                </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    <form id="img-upload" enctype="multipart/form-data" action="@Url.Action("UploadIndustryImage", "Industry", new { IndustryCat_ID = Model.IndustryCat_ID, IndustryCatLocation_ID = Model.IndustryCatLocation_ID })" method="post">
                                        <input type="file" name="file" id="file" /> <br /> <br />
                                        <input type="submit" value="Upload Image" />
                                    </form>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-sm-12">
                                    @Html.AntiForgeryToken()
                                    <button class="btn btn-success" id="form">Save</button>
                                </div>
                            </div>
                                </div>
                            </div>
                            </div>
                        </div>
                  
             
            </section>
                            @*@SectionHeading.RenderMVC("Edit Industry Category")*@
                          
                         

                           
                            @*<br />
                            <div class="form-group">
                                <label style="margin-left: 30px;"> Risk 1:</label>
                                <label style="margin-left: 205px;">Risk 2:</label>
                                <label style="margin-left: 170px;">Risk 3:</label>
                                <label style="margin-left: 170px;">Risk 4:</label>
                                <label style="margin-left: 170px;">Risk 5:</label>
                                <div class="tt-container">
                                    @Html.TextBoxFor(m => m.Risk1Name, new { @id = "risk1", required = "required" })
                                    @Html.TextBoxFor(m => m.Risk2Name, new { @id = "risk2", required = "required", style = "margin-left: 50px;" })
                                    @Html.TextBoxFor(m => m.Risk3Name, new { @id = "risk3", required = "required", style = "margin-left: 50px;" })
                                    @Html.TextBoxFor(m => m.Risk4Name, new { @id = "risk4", required = "required", style = "margin-left: 50px;" })
                                    @Html.TextBoxFor(m => m.Risk5Name, new { @id = "risk5", required = "required", style = "margin-left: 50px;" })
                                </div>

                                <br />
                                <label style="margin-left: 30px;"> Risk 1 Category:</label>
                                <label style="margin-left: 150px;">Risk 2 Category:</label>
                                <label style="margin-left: 110px;">Risk 3 Category:</label>
                                <label style="margin-left: 120px;">Risk 4 Category:</label>
                                <label style="margin-left: 113px;">Risk 5 Category:</label>
                                <div class="tt-container">*@
                                  

                                    @*@Html.TextBoxFor(m => m.Risk1Cat, new { @id = "Risk1Cat", @class = "form-control" })
                                  

                                    @Html.TextBoxFor(m => m.Risk2Cat, new { @id = "Risk2Cat", @class = "form-control", style = "margin-left:50px;" })
                                   

                                    @Html.TextBoxFor(m => m.Risk3Cat, new { @id = "Risk3Cat", @class = "form-control", style = "margin-left:50px;" })

                                   
                                    @Html.TextBoxFor(m => m.Risk4Cat, new { @id = "Risk4Cat", @class = "form-control", style = "margin-left:50px;" })

                                  
                                    @Html.TextBoxFor(m => m.Risk5Cat, new { @id = "Risk5Cat", @class = "form-control", style = "margin-left:50px;" })
                                </div>
                                <br />
                                <label style="margin-left: 30px;"> Risk 1 Description:</label>
                                <label style="margin-left: 138px;">Risk 2 Description:</label>
                                <label style="margin-left: 96px;">Risk 3 Description:</label>
                                <label style="margin-left: 107px;">Risk 4 Description:</label>
                                <label style="margin-left: 100px;">Risk 5 Description:</label>
                                <div class="tt-container">
                                    @Html.TextAreaFor(m => m.Risk1Description, new { @id = "risk1desc", style = "resize: none" })
                                    @Html.TextAreaFor(m => m.Risk2Description, new { @id = "risk2desc", style = "margin-left: 30px; resize:none" })
                                    @Html.TextAreaFor(m => m.Risk3Description, new { @id = "risk3desc", style = "margin-left: 30px; resize:none" })
                                    @Html.TextAreaFor(m => m.Risk4Description, new { @id = "risk4desc", style = "margin-left: 40px; resize:none" })
                                    @Html.TextAreaFor(m => m.Risk5Description, new { @id = "risk5desc", style = "margin-left: 30px; resize:none" })

                                </div>
                                <br />*@
                                @* @if (Model.Image != null)*@
                                @*{*@
                                @*<div class="tt-container">
                                    <img id="Industryimg" src="@Url.Action("GetIndustryImage", "Industry", new { IndustryCat_ID = Model.IndustryCat_ID, IndustryCatLocation_ID = Model.IndustryCatLocation_ID })" height="150" style="max-width:100%;" />
                                </div>*@
                                @*<form id="img-upload" enctype="multipart/form-data" action="@Url.Action("UploadIndustryImage", "Industry", new { IndustryCat_ID = Model.IndustryCat_ID, IndustryCatLocation_ID = Model.IndustryCatLocation_ID })" method="post">
                                    <input type="file" name="file" id="file" /> <br /> <br />
                                    <input type="submit" value="Upload Image" />
                                </form>*@

                                @*}*@
                            @*</div>*@

                            @*@Html.AntiForgeryToken()
                            <button class="btn btn-success" id="form">Save</button>*@

    </body>
    </html>

  @Scripts.Render("~/bundles/jqueryval")
        <script>
          $("#industrycatid").hide();
          $("#locationid").hide();
         //$("form").submit(function (e) {
    $("#form").on("click",function(e) {
        e.preventDefault();
        var errorMessage = "";
        var fieldmissing = "";
        if ($("#name").val() == "") {
            fieldmissing += "<br>Name";
        }
        if ($("#risk1").val() == "") {
            fieldmissing += "<br>Risk 1";
        }
        if ($("#risk2").val() == "") {
            fieldmissing += "<br>Risk 2";
        }
        if ($("#risk3").val() == "") {
            fieldmissing += "<br>Risk 3";
        }
        if ($("#risk4").val() == "") {
            fieldmissing += "<br>Risk 4";
        }
        if ($("#risk5").val() == "") {
            fieldmissing += "<br>Risk 5";
        }

        if (fieldmissing != "") {
            errorMessage += "<p>The following field(s) are missing: " + fieldmissing + "</p>";
            $("#errormessage").html(errorMessage);
        }
        else {

            $.ajax({
                url: '@Url.Action("EditSaveIndustryCategory", "Industry")',
                type: "POST",
                data: {
                   Name: $("#name").val(), Description: $("#description").val(), Risk1Name: $("#risk1").val(),
                    Risk2Name: $("#risk2").val(), Risk3Name: $("#risk3").val(), Risk4Name: $("#risk4").val(), Risk5Name: $("#risk5").val(),
                    Risk1Description: $("#risk1desc").val(), Risk2Description: $("#risk2desc").val(), Risk3Description: $("#risk3desc").val(),
                    Risk1Cat: $("#risk1cat").val(), Risk2Cat: $("#risk2cat").val(), Risk3Cat: $("#risk3cat").val(), Risk4Cat: $("#risk4cat").val(),
                    Risk5Cat: $("#risk5cat").val(),
                    Risk4Description: $("#risk4desc").val(), Risk5Description: $("#risk5desc").val(),IndustryCatID: $("#industrycatid").val(), LocationID: $("#locationid").val()
                },

                error: function (xhr, status, errorThrown) {
                    //ToastrPopup(xhr.responseText, 'error');
                    $("#not").show();
                    setTimeout(
                        function () {
                            window.location.reload();
                        }, 700);

                }
            }).done(function () {
                //toastr.success("Successfully Added Industry Category");
                $("#success").show();
                setTimeout(
                    function () {
                        window.location.replace("/Industry/DisplayIndustryCategory");
                    }, 700);

            });
        }
    });
        </script>
}
