﻿@model RMSS_Website.Models.Industry.IndustryRetrievalModel
@{
    ViewBag.Title = "The Risk Manager - Australia's Best Online Risk Tracker";
    ViewData["MetaDescription"] = "The riskmanager is risk management software that provides a seamless and integrated approach to managing risk.Using a unique patented process of master risk categories(e.g.health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models";
    ViewData["MetaKeywords"] = "Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks";
}

<h2>Index</h2>


@section content_Content {
    <meta charset="UTF-8">
    <title>The Risk Manager - Australia's Best Online Risk Tracker</title>
    <meta name="Description" content="The riskmanager is risk management software that provides a seamless and integrated approach to managing risk. Using a unique patented process of master risk categories (e.g. health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models.">
    <meta name="Keywords" content="Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks">
    <meta name="robots" content="index, follow">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<p>Your IP address is: @Model.IPaddress</p>
    <p>Your country is: @Model.Country</p>*@

    @if (Model.Industries.Count() > 0)
    {
        var selectList = new List<SelectListItem>();




        // ViewBag.LocationName = new SelectList(elements, elements.Select(d => d.Location_ID), elements.Select(d => d.Location_Name));
        foreach (var element in Model.Industries)
        {   
            selectList.Add(new SelectListItem
            {
                Value = element.ToString(),
                Text = element
            });
        }
        <style>
            .industryrisks {
                color: #7c795d;
                font-family: 'Trocchi', serif;
                font-size: 40px;
                font-weight: normal;
                line-height: 48px;
                margin: 0;
                text-align: center;
            }
        </style>


        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="industryrisks">Top 5 Industry Risks</h3>
                </div>
            </div>
            <div class="row" style="margin:20px;">
                <div class="col-md-3" col-sm-2>
                    <form action="@Url.Action("ChosenIndustry", "Industry", new { IndustryCat_Name = "Aviation", Location = Model.Country })" method="post">
                        <input type="image" src="../../Images/Aviation.JPG" alt="Aviation Risks" width="180" height="70" title="Aviation Risks"> 
                    </form>
                </div>
                <div class="col-md-3 col-sm-2">
                    <form action="@Url.Action("ChosenIndustry", "Industry", new { IndustryCat_Name = "Education", Location = Model.Country })" method="post">
                        <input type="image" src="../../Images/Education.jpg" alt="Education Risks" width="180" height="70" title="Education Risks">
                    </form>
                </div>
                <div class="col-md-2 col-sm-2">
                    <form action="@Url.Action("ChosenIndustry", "Industry", new { IndustryCat_Name = "Mining", Location = Model.Country })" method="post">
                        <input type="image" src="../../Images/Mining.jpg" alt="Mining Risks" width="180" height="70" title="Mining Risks">
                    </form>
                </div>
                <div class="col-md-2 col-sm-2">
                    <form action="@Url.Action("ChosenIndustry", "Industry", new { IndustryCat_Name = "Financial", Location = Model.Country })" method="post">
                        <input type="image" src="../../Images/Financial.jpg" alt="Financial Risks" width="180" height="70" title="Financial Risks">
                    </form>
                </div>
                <div class="col-md-2 col-sm-2">
                    <form action="@Url.Action("ChosenIndustry", "Industry", new { IndustryCat_Name = "Manufacturing", Location = Model.Country })" method="post">
                        <input type="image" src="../../Images/Manufacturing.jpg" alt="Manufacturing Risks" width="180" height="70" title="Manufacturing Risks">
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 col-sm-12">
                <form action="@Url.Action("ChosenIndustry", "Industry", new { IndustryCat_Name = Model.IndustryCat_Name, Location = Model.Country })" method="post">
                    <div id="selectbarea">

                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <p>Other Industries</p>
                            </div>
                           
                                @*<label>
                            <select name="country">
                                <option value="1">Industry 1</option>
                                <option value="2">Industry 2</option>
                            </select>
                        </label>*@
                             
                       
                            <div class="col-md-4 col-sm-12">
                                @*<a href="view.html" class="bigb">Get started</a>*@
                                @if (Model.Industries.Count() == 0)
                                {
                                    <div class="row">
                                        <div class="col-md-4 col-sm-12">
                                            <p>No Industry Found</p>
                                            <script>
                                                $("#selectind").hide();
                                            </script>
                                        </div>
                                    </div>
                                }
                                @if (Model.Industries.Count() > 0)
                                {
                                    <input type="hidden" value="@Model.Country" id="location" />
                                    @Html.DropDownListFor(m => m.IndustryCat_Name, selectList, new { @id = "selectind", onChange = "this.form.submit()" })
                                    @Html.HiddenFor(m => m.IndustryCat_Name, new { @id = "selectedind" })
                                }
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>



        <section id="content">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <div id="vd">
                            <img src="../../Images/oil-and-gas-risks.jpg" alt="Oil and Gas risks" title="Oil and Gas risks ">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">

                        <div id="cleft">
                            <div id="socialv">
                                <img src="../../Images/Aviation-risks.png" alt="Aviation Risks" title="Aviation Risks">
                            </div>
                        </div>

                        <div id="cright">
                            <h1>Welcome to the Risk manager.com</h1>
                            <h4>The Enterprise Risk Manager</h4>

                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <div id="box">
                                        <span><img src="../../Images/board-reporting.png" alt="Board Reporting Risk Manager" title="Board Reporting Risk Manager"></span>
                                        <h6>Board Reporting  </h6>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div id="box">
                                        <span><img src="../../Images/risk-trending.png" alt="Risks Trending Risk Manager" title="Risks Trending Risk Manager"></span>
                                        <h6>Risk Trending  </h6>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div id="box">
                                        <span><img src="../../Images/mitigation-strategies.png" alt="Mitigation Strategies Risk Manager" title="Mitigation Strategies Risk Manager"></span>
                                        <h6>Mitigation Strategies  </h6>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div id="box">
                                        <span><img src="../../Images/top-risks.png" alt="Top risks RiskManager" title="Top risks RiskManager"></span>
                                        <h6>Top Risks  </h6>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div id="box">
                                        <span><img src="../../Images/risks-benchmarking.png" alt="Risks Benchmarking RiskManager" title="Risks Benchmarking RiskManager"></span>
                                        <h6>Risks Benchmarking  </h6>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4">
                                    <div id="box">
                                        <span><img src="../../Images/risks-by-industry.png" alt="Risks By Industry" title="Risks By Industry"></span>
                                        <h6>Risks by Industry </h6>
                                    </div>
                                </div>

                                

                                @*<form action="@Url.Action("ChosenIndustry","Industry",new { Industry = Model.IndustryCat_Name, Location = Model.Country })" method="post">
                                         <input type="hidden" value="@Model.Country" id="location" />
                                         @Html.DropDownListFor(m => m.IndustryCat_Name, selectList, new { @id = "selectind" })
                                         @Html.HiddenFor(m => m.IndustryCat_Name, new { @id = "selectedind" })
                                         <button id="displayindustry" type="submit">Get Started</button>
                                    </form>*@

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </section>



        <section id="footer-head">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">

                        <ul id="numbers">

                            <li> 112<span> Industries Listing TheRiskManager.com</span></li>
                            <li> 1,567<span> Members Online</li>
                            <li> 150,988<span> Risks Online</span></li>
                            <li> 497,452<span> Risk Mitigation Strategies</span></li>
                            <li> 1,372,276<span> Live Risk Trends / Benchmarks</span></li>

                        </ul>

                    </div>
                </div>
            </div>
        </section>


    }


    <script>

    $(window).on('load', function () {
        $("#selectind").val("Select Location");
    });
    var industry = "";
    $("#selectind")
        .change(function () {
            var str = "";
            $("select option:selected").each(function () {

                str += $(this).text();
                //console.log(str);
                industry = str;
                $("#selectedind").val(str);
                console.log($("#selectedind").val());
            })
        });

    @*$("#displayindustry").on("click", function () {
        $.ajax({
            url: "ChosenIndustry",
            type: "POST",
            data: { Industry: industry, Location: $("#location").val() },
            error: function (xhr, status, errorThrown) {
                ToastrPopup(xhr.responseText, 'error');
                setTimeout(
                    function () {
                        window.location.reload();
                    }, 700);

            }
        }).done(function () {
            var Url = '@Url.Action("ChosenIndustry", "Industry", new { Industry = Model.IndustryCat_Name, Location = Model.Country })'
                    window.location.replace(Url);
        });


    });*@


    </script>

}


