﻿
@{
    ViewBag.Title = "Success";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using RMSS_Website.Models.Quiz;
@using RMSS_Website.Objects.Web_Objects.CustomControl;

@section content_Content {
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <h3>Industry Category Successfully Editted</h3>
    </body>
</html>

@Scripts.Render("~/bundles/jqueryval")
<script>
    setTimeout(
        function () {
            window.location.replace("DisplayIndustryCategory");
        }, 800);
   

</script>

    }
