﻿@{
    Layout = null;
    ViewBag.Title = "The Risk Manager - Australia's Best Online Risk Tracker";
    ViewData["MetaDescription"] = "The riskmanager is risk management software that provides a seamless and integrated approach to managing risk.Using a unique patented process of master risk categories(e.g.health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models";
    ViewData["MetaKeywords"] = "Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content_Content {
    <!DOCTYPE html>

 
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="UTF-8">
        <title>The Risk Manager - Australia's Best Online Risk Tracker</title>
        <meta name="Description" content="The riskmanager is risk management software that provides a seamless and integrated approach to managing risk. Using a unique patented process of master risk categories (e.g. health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models. Start Now for FREE">
        <meta name="Keywords" content="Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks">
        <meta name="robots" content="index, follow">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>
    <body>
        @*<div id="Content">
            <div style="text-align:center;">
                <span style="font-weight:bold;">Username: </span>
                <br /> <br />
                <input type="text" id="txtUsername" />
                <br /> <br />
                <span style="font-weight:bold;">Password: </span>
                <br /> <br />
                <input type="password" id="txtPassword" />
                <br /> <br />
                <button id="btnLogin">Login</button>
            </div>
        </div>*@





        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div id="vd">
                            <h1 class="loginti">Welcome Back!</h1>

                            <div class="alert alert-danger" id="loginalert">
                                <strong>User does not exists! </strong> Please check your email or password.
                            </div>

                            @*<form name="form1" action="" class="frontform">*@

                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <p>Email Address</p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><input type="text" id="txtUsername" /></label>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p>Password</p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><input id="txtPassword" required type="password"></label>
                                </div>
                                <div class="col-md-4 col-sm-12"></div>
                                <div class="col-md-8 col-sm-12">
                                    <label id="rme"><input type="checkbox" name="remember" class="checkbox_check"/> Remember Me</label>
                                    <button id="btnLogin" class="btn-primary">Login</button>
                                    <p id="donth">Don't have an account <a name="Risk Management System" href="@Url.Action("SignUp","User")">Create account</a></p>
                                </div>
                            </div>

                            @*</form>*@




                        </div>


                    </div>
                    @*<div class="col-md-6 col-sm-12">

                        <div id="cright-full">
                            <div id="borderv">
                                <span>OR</span>
                            </div>

                            <h1 style="font-size:140%; ">Save time by using other accounts<br>to Signup theriskmanager.com.</h1>



                            <ul id="withsocial">
                                <li><a name ="Risk software" href="#"><img src="../../Images/identify-risks.png" alt="identify risks" title="identify risks"></a>
                                <li><a name ="Risk system" href="#"><img src="../../Images/assess-risks.png" alt="Assess Risks" title="Assess Risks"></a>
                                <li><a name ="Get Risks" href="#"><img src="../../Images/monitor-risks.png" alt="Monitor Risks" title="Monitor Risks"></a>
                                <li><a name ="Government Risks" href="#"><img src="../../Images/control-risks.png" alt="Control Risks" title="Control Risks"></a>
                                <li><a name ="Training Risks" href="#"><img src="../../Images/manage-risks.png" alt="Manage Risks" title="Manage Risks"></a>
                            </ul>


                        </div>

                    </div>*@

                </div>

            </div>
        </section>



        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p id="footer-capt">
                            By joining theriskmanager.com, you are indicating, you are read understood and agree to the theriskmanager.com user Agreement and privacy policy.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </body>

   
        <script type="text/javascript">
            $("#loginalert").hide();
    $('#txtPassword').keypress(function (e) {
        if (e.which == 13) {
            $('#btnLogin').click();
            return false;
        }
    });
   function createCookie(cookieName,cookieValue,daysToExpire)
        {
          var date = new Date();
          date.setTime(date.getTime()+(daysToExpire*24*60*60*1000));
          document.cookie = cookieName + "=" + cookieValue + "; expires=" + date.toGMTString();
        }
    document.addEventListener("DOMContentLoaded", function (event) {
        document.getElementById("btnLogin").onclick = function LoginClick() {
            if ($('input.checkbox_check').is(':checked')) {
                //Cookies.set('uname', $("#txtUsername").val(), { expires: 1 });
                //Cookies.set('password', $("#txtPassword").val(), { expires: 1 });
            }
            $.ajax({
                type: 'Post',
                url: "@Url.Action("ProcessLogin", "User")",
                data: { Username: $('#txtUsername').val(), Password: $('#txtPassword').val() },
                success: function (data, status, xhr) {
                    window.location.href = data;
                },
                error: function (xhr, status, errorThrown) {
                    $("#loginalert").show();
                    ToastrPopup(xhr.responseText, 'error');
                    console.log("xhr: " + xhr.responseText + " status: " + status + " errorThrown: " + errorThrown);
                }
            });
        }
    });
          
        </script>
 

}
