﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RMSS_Website.Objects.Web_Objects.CustomControl;

@model RMSS_Website.Models.Users.UserModel

@section content_Content {
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>
            <span style="display:none;" id="spanUserID">@Model.UserID</span>
            @SectionHeading.RenderMVC("Select User")
            @(Html.Kendo().ComboBox().Name("SelectUser").Placeholder("--- Select ---").BindTo(Model.UserViewModel.AvailableUsers).Filter("contains").Events(
                                        e => e.Change("UserChanged")).Value(Model.UserID).AutoWidth(true).HtmlAttributes(new { style = "width: 50%;" }))
            <table>
                <tr><td><label>Person: </label></td><td><label>@Model.Person.FirstName @Model.Person.LastName</label></td></tr>
                <tr><td><label>Username: </label></td><td><input type="text" onchange="UserTextboxChanged('Username', this);" value="@Model.Username" /></td></tr>
                <tr><td><label>Password: </label></td><td><input type="password" onchange="UserTextboxChanged('Password', this);" /></td></tr>
                <tr><td><label><input type="checkbox" name="chkEmployee" checked="@Model.IsEmployee" onclick="EmployeeCheckboxChanged(this);" />Is Employee</label></td></tr>
                <tr><td><label><input type="checkbox" name="chkAdmin" checked="@Model.IsAdmin" disabled="disabled" />Is Admin</label></td></tr>
            </table>
            <table>
                @{
                    var count = 0;
                    foreach (SelectListItem item in Model.UserViewModel.AvailablePermissions) {
                        if (count % 4 == 0) {
                            @Html.Raw("<tr>");
                        }
                        //ignore this warning, necessary to split the checkboxes into rows
                        <td>
                            <label>
                                <input type="checkbox" name="chkPermission" value="@item.Value" checked="@Model.PermissionIDs.Contains(item.Value)" onclick="PermissionCheckboxChanged(this);" />
                                @item.Text
                            </label>
                        </td>
                        if (count % 4 == 3) {
                            @Html.Raw("</tr>");
                        }
                        count++;
                    }
                }
            </table>
            <br />
            @SectionHeading.RenderMVC("Add User")
            <form action="@Url.Action("AddUser","User")">
                <label>Select Person: </label>
                @(Html.Kendo().ComboBox().Name("SelectedPersonID").Placeholder("--- Select ---").BindTo(Model.UserViewModel.AvailablePersons).Filter("contains").AutoWidth(true).HtmlAttributes(
                                    new { style = "width: 50%;" }))
                <br />
                <table>
                    <tr>
                        <td><label>Username: </label> </td>
                        <td><input type="text" name="Username" /></td>
                    </tr>
                    <tr>
                        <td><label>Password: </label> </td>
                        <td><input type="password" name="Password" /></td>
                    </tr>
                </table>
                <input type="submit" value="Add User" />
            </form>
        </div>
        <script>
            function UserTextboxChanged(Type, textbox) {
                var newText = textbox.value;
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("UpdateUserTextbox", "User")",
                    data: { NewText: newText, Type: Type, UserID: $('#spanUserID').text() },
                    error: function (xhr, status, errorThrown) {
                        ToastrPopup(xhr.responseText, 'error');
                    }, success: function (data) {
                        ToastrPopup('Successfully updated ' + Type, 'success');
                    }
                });
            }
            function UserChanged() {
                var link = "@Url.Action("ModifyUsers", "User", new { UserID = "x01" })";
                link = link.replace("x01", $('#SelectUser').data("kendoComboBox").value());
                window.location = link;
            }
            function PermissionCheckboxChanged(checkbox) {
                        var value = checkbox.value;
                $.ajax({
                            type: 'POST',
                    url: "@Url.Action("UpdatePermission", "User")",
                    data: { PermissionID: value, UserID: $('#spanUserID').text() },
                    error: function (xhr, status, errorThrown) {
                        ToastrPopup(xhr.responseText, 'error');
                    }, success: function (data) {
                        ToastrPopup(data, 'success');
                    }
                        })
            }

            function EmployeeCheckboxChanged(checkbox) {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("ModifyIsEmployee", "User")",
                    data: { UserID: $('#spanUserID').text() },
                    error: function (xhr, status, errorThrown) {
                        ToastrPopup(xhr.responseText, 'error');
                    }, success: function (data) {
                        ToastrPopup('Successfully updated employee status', 'success');
                    }
                });
            }
        </script>
    </body>
</html>
}
