﻿
@{
    ViewBag.Title = "The Risk Manager - Australia's Best Online Risk Tracker";
    ViewData["MetaDescription"] = "The riskmanager is risk management software that provides a seamless and integrated approach to managing risk.Using a unique patented process of master risk categories(e.g.health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models";
    ViewData["MetaKeywords"] = "Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks";
}



@section content_Content {
    <title>The Risk Manager - Australia's Best Online Risk Tracker</title>
    <meta name="Description" content="The riskmanager is risk management software that provides a seamless and integrated approach to managing risk. Using a unique patented process of master risk categories (e.g. health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models.">
    <meta name="Keywords" content="Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks">
    <meta name="robots" content="index, follow">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="693198484077-jc0532dd296n2sssr201rao15pqe7jhv.apps.googleusercontent.com">
    @*<script src="https://apis.google.com/js/platform.js" async defer></script>*@
    <script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>

    <body>

        <script>

            window.fbAsyncInit = function () {
                FB.init({
                    appId: '2054568917995824',
                    cookie: true,
                    xfbml: true,
                    version: 'v3.2'
                });


                //FB.getLoginStatus(function (response) {
                //    statusChangeCallback(response);
                //});

            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) { return; }
                js = d.createElement(s); js.id = id;
                js.src = "https://connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            function statusChangeCallback(response) {
                var name = "";
                var email = "";
                if (response.status === 'connected') {
                    console.log('connected');
                    //FB.logout(statusChangeCallback);
                    FB.api('/me?fields=name,email,first_name,last_name', function (response) {
                        if (response && !response.error) {
                            name = response.name;
                            email = response.email;
                            firstName = response.first_name;
                            lastName = response.last_name;
                          
                        }
                         $.ajax({
                            url: "@Url.Action("AuthApi", "SignUp")",
                            type: "post",
                             data: {
                                 FirstName: firstName,
                                 LastName: lastName,
                                 Email: email
                             },
                   success: function (data) {
                    if (data.success == "exists") {
                        $("#exists").show();
                        FB.logout(statusChangeCallback);
                        setTimeout(
                            function () {
                                $("#exists").hide();
                            }, 900);
                    }
                    if (data.success == "empty") {
                        $("#empty").show();
                        setTimeout(
                            function () {
                                $("#empty").hide();
                            }, 900);
                    }
                    else if (data.success == "done") {
                        FB.logout(statusChangeCallback);
                        window.location.href = '@Url.Action("SignUpVisitor", "SignUp")?PersonID=' + data.id;
                    }
                    },
                             error: function (xhr, status, error) {
                                 //ToastrPopup(xhr.responseText, 'error');
                                 $("#error").show();
                                 setTimeout(
                                     function () {
                                         window.location.reload();
                                     }, 700);
                             }

                    });
                    })

                       }

                else {

                    console.log('Not authenticated');
                }


            }

            function checkLoginState() {
                FB.getLoginStatus(function (response) {

                    statusChangeCallback(response);
                });
            }
            //function onSignIn(googleUser) {
            //    var profile = googleUser.getBasicProfile();
            //    var email = profile.getEmail();
            //    var name = profile.getName();
            //    console.log(name + " " + email);
            //}



            //function testAPI() {
            //    FB.api('/me?fields=name,email', function (response) {
            //        if (response && !response.error) {
            //            console.log(response.email);
            //        }

            //    })
            //}
        </script>


        @*<fb:login-button scope="public_profile,email"
                             onlogin="checkLoginState();">
            </fb:login-button>*@
        @*<button onclick="testAPI()">Test</button>*@
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div id="vd">
                            <h1 class="loginti">To join theriskmanager.com, Sign up below for free!</h1>



                            @*<form action="@Url.Action("AuthApi", "SignUp")" method="post">*@
                            <div class="alert alert-danger" id="exists" style="display:none;">
                                User already exists
                            </div>
                            <div class="alert alert-danger" id="empty" style="display:none;">
                                Person's first, last name or email cannot be empty.
                            </div>
                            <div class="alert alert-danger" id="error" style="display:none;">
                                Cannot proceed with sign up process, Please try again later
                            </div>
                            <label style="color:red;">@ViewData["Error"]</label>
                            <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <p>First Name</p>

                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><input type="text" id="FirstName" required name="FirstName" /></label>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p>Last Name</p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><input type="text" id="LastName" required name="LastName"></label>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p>Email Address</p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><input type="text" id="EmailAddress" required name="Email" /></label>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p>Office Number <a name="Experiment Risks" href="#"></a></p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><input name="OfficeNumber" id="OfficeNumber" type="text"></label>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <p>Mobile Number</p>
                                </div>
                                <div class="col-md-8 col-sm-12">
                                    <label><input type="text" name="MobileNumber" id="MobileNumber" /></label>
                                </div>
                                @*<div class="col-md-8 col-sm-12">
                <label>
                    <select name="country">
                        <option value="1">Country 1</option>
                        <option value="2">Country 2</option>
                    </select>
                </label>
            </div>
            <div class="col-md-4 col-sm-12">
                <p>Industry <a name="Monthly risks" href="#"><i class="fa fa-question-circle-o"></i></a></p>
            </div>
            <div class="col-md-8 col-sm-12">
                <label>
                    <select name="industry">
                        <option value="1">Industry 1</option>
                        <option value="2">Industry 2</option>
                    </select>
                </label>
            </div>*@

                                <div class="col-md-4 col-sm-12"></div>
                                <div class="col-md-8 col-sm-12">
                                    <label class="m-0"><button id="formbt" value=""> Start My FREE Trial now</button></label>
                                    <p id="donth">Already have an account <a name="Yearly Risks" href="@Url.Action("Login","User")">Sign In</a></p>
                                </div>
                            </div>

                            @*</form>*@




                        </div>


                    </div>
                    <div class="col-md-6 col-sm-12">

                        <div id="cright-full">
                            <div id="borderv" class="insignup">
                                <span>OR</span>
                            </div>

                            <h1 style="font-size: 140%;">Save time by using other accounts<br>to Signup theriskmanager.com.</h1>

                            <div id="apis">

                                <ul id="withsocial">
                                    <li id="fblink">
                                        <fb:login-button scope="public_profile,email"
                                                         onlogin="checkLoginState();"></fb:login-button>
                                    </li>
                                    @*<img src="../../Images/identify-risks.png" alt="identify risks" title="identify risks">*@

                                    @*<li><a name="Google Risks" href="#"><img src="../../Images/assess-risks.png" alt="Assess Risks" title="Assess Risks"></a>*@

                                    <li>
                                        <div class="g-signin2" id="login-button"></div>
                                        @*<a id="linkedin-button" class="btn btn-block btn-social btn-linkedin">
                    <i class="fa fa-linkedin"></i> Sign in with Linkedin
                </a>*@
                                        <a id="twitter-button" class="btn btn-block btn-social btn-twitter" style="width: 150px;">
                                            <i class="fa fa-twitter"></i> Sign in with Twitter
                                        </a>
                                        <script type="in/Login">
                                        </script>
                                    @*<li><a name="Linked In Risks" href="#"><img src="../../Images/monitor-risks.png" alt="Monitor Risks" title="Monitor Risks"></a>
                                    <li><a name="Twitter Risks" href="#"><img src="../../Images/control-risks.png" alt="Control Risks" title="Control Risks"></a>
                                    <li><a name="Social Risks" href="#"><img src="../../Images/manage-risks.png" alt="Manage Risks" title="Manage Risks"></a>*@
                                </ul>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </section>



        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <p id="footer-capt">
                            By joining theriskmanager.com, you are indicating, you are read understood and agree to the theriskmanager.com user Agreement and privacy policy.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </body>

    <script async defer src="https://apis.google.com/js/api.js" onload="this.onload=function(){};HandleGoogleApiLibrary()" onreadystatechange="if (this.readyState === 'complete') this.onload()"></script>
    @*<script type="text/javascript" src="//platform.linkedin.com/in.js">
        api_key: 78yj537rpgdgax
        authorize: true
        //onLoad: onLinkedInLoad
    </script>*@

    <script>
        //$("#empty").hide();
        //$("#exists").hide();
        //Submitting sign up form:
        $("#formbt").on("click", function () {

            $.ajax({
                        url: "@Url.Action("AuthApi", "SignUp")",
                        type: "post",
                        data: {
                            FirstName: $("#FirstName").val(),
                            LastName: $("#LastName").val(),
                            Email: $("#EmailAddress").val(),
                            OfficeNumber: $("#OfficeNumber").val(),
                            MobileNumber: $("#MobileNumber").val()
                        },
                success: function (data) {
                    if (data.success == "exists") {
                        $("#exists").show();
                        setTimeout(
                            function () {
                                $("#exists").hide();
                            }, 900);
                    }
                    if (data.success == "empty") {
                        $("#empty").show();
                        setTimeout(
                            function () {
                                $("#empty").hide();
                            }, 900);
                    }
                    else if (data.success == "done") {

                        window.location.href = '@Url.Action("SignUpVisitor", "SignUp")?PersonID=' + data.id;
                    }
                    },
                        error: function (xhr, status, error) {
                           // ToastrPopup(xhr.responseText, 'error');
                            $("#error").show();
                            console.log(error);
                            setTimeout(
                                function () {
                                    window.location.reload();
                                }, 700);
                        }
                    })

        });


        //$('#linkedin-button').on('click', function () {
        //    // Initialize with your OAuth.io app public key
        //    OAuth.initialize('uAYCq04ZPwFn_NcPbVrV2xyrViI');
        //    // Use popup for oauth
        //    OAuth.popup('linkedin2').then(linkedin => {
        //        console.log('linkedin:', linkedin);
        //        // Prompts 'welcome' message with User's email on successful login
        //        // #me() is a convenient method to retrieve user data without requiring you
        //        // to know which OAuth provider url to call
        //        linkedin.me().then(data => {
        //            console.log('me data:', data);
        //            alert('Linkedin says your email is:' + data.email + ".\nView browser 'Console Log' for more details");
        //        })
        //        // Retrieves user data from OAuth provider by using #get() and
        //        // OAuth provider url

        //        linkedin.get('/v1/people/~:(id,first-name,last-name,headline,picture-url,email-address,public-profile-url)?format=json').then(data => {
        //            console.log('self data:', data);
        //        })
        //    });
        //})

        // Setup an event listener to make an API call once auth is complete
     //   function onLinkedInLoad() {
      //      IN.Event.on(IN, "auth", getProfileData);
      //  }

        // Logout user
       // function logout() {
      //      IN.User.logout(onLogout);
       // }

       // function onLogout() {
      //      console.log('Logout successfully');
       // }

        // Use the API call wrapper to request the member's basic profile data
        //function getProfileData() {

           // IN.API.Profile("me").fields("first-name", "last-name", "email-address", "picture-url").result(function (data) {

               // var userdata = data.values[0];
               // var fname = userdata.firstName;
                //var lname = userdata.lastName;
               // var email = userdata.emailAddress;
              //  var profile_photo = userdata.pictureUrl;
             
              
                //  $.ajax({
                           // url: "@Url.Action("AuthApi", "SignUp")",
                          //  type: "post",
                          //   data: {
                                // FirstName: fname,
                              //   LastName: lname,
                               //  Email: email.text()
                            // },
                             //success: function (data) {
                                 //FB.logout(statusChangeCallback);
                             
                               @*window.location.href = '@Url.Action("SignUpVisitor", "SignUp")?PersonID=' + data.id;*@
                             //},
                            // error: function (xhr, status, error) {
                               //  ToastrPopup(xhr.responseText, 'error');
                             //    setTimeout(
                                //     function () {
                              //           window.location.reload();
                              //       }, 700);
                       //      }
                  //
               //     });

            //    logout();
          //  }).error(function (data) {
          //      console.log(data);
           // });
           // //IN.API.Raw("/people/~:(id,firstName,lastName,emailAddress)?format=json")
           // //    .result(function (onSuccess) {
           // //        console.log(onSuccess);
         //   //    })
           // //    .error(onError);
        //}

        


        // Called when Google Javascript API Javascript is loaded
        function HandleGoogleApiLibrary() {
            // Load "client" & "auth2" libraries
            gapi.load('client:auth2', {
                callback: function () {
                    // Initialize client library
                    // clientId & scope is provided => automatically initializes auth2 library
                    gapi.client.init({
                        apiKey: 'AIzaSyDsLS1B30L6ion2kLUkAnen4RtWwR3BcN0',
                        clientId: '693198484077-jc0532dd296n2sssr201rao15pqe7jhv.apps.googleusercontent.com',
                        scope: 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/plus.me'
                    }).then(
                        // On success
                        function (success) {
                            // After library is successfully loaded then enable the login button

                        },
                        // On error
                        function (error) {
                            alert('Error : Failed to Load Library');
                        }
                    );
                },
                onerror: function () {
                    // Failed to load libraries
                }
            });
        }



        // Click on login button
        $("#login-button").on('click', function () {


            // API call for Google login
            gapi.auth2.getAuthInstance().signIn().then(
                // On success
                function (success) {
                    // API call to get user information
                    //gapi.client.request({ path: 'https://www.googleapis.com/plus/v1/people/me' }).then(
                    //    // On success
                    //    function (success) {
                    //        console.log(success);
                    //        var user_info = JSON.parse(success.body);
                    //        console.log(user_info);

                    //        //$("#user-information div").eq(0).find("span").text(user_info.displayName);
                    //        //$("#user-information div").eq(1).find("span").text(user_info.id);
                    //        //$("#user-information div").eq(2).find("span").text(user_info.gender);
                    //        //$("#user-information div").eq(3).find("span").html('<img src="' + user_info.image.url + '" />');
                    //        //$("#user-information div").eq(4).find("span").text(user_info.emails[0].value);


                    //    },
                    //    // On error
                    //    function (error) {

                    //        alert('Error : Failed to get user user information');
                    //    }
                    //);
                    var auth2 = gapi.auth2.init();
                    var profile = auth2.currentUser.get().getBasicProfile();
                    $.ajax({
                        url: "@Url.Action("AuthApi", "SignUp")",
                        type: "post",
                        data: {
                            FirstName: profile.getGivenName(),
                            LastName: profile.getFamilyName(),
                            Email: profile.getEmail()
                        },
                       
                    success: function (data) {
                    if (data.success == "exists") {
                        $("#exists").show();
                        gapi.auth2.getAuthInstance().signOut();
                        setTimeout(
                            function () {
                                $("#exists").hide();
                            }, 900);
                    }
                    if (data.success == "empty") {
                        $("#empty").show();
                        setTimeout(
                            function () {
                                $("#empty").hide();
                            }, 900);
                    }
                    else if (data.success == "done") {
                        gapi.auth2.getAuthInstance().signOut();
                        window.location.href = '@Url.Action("SignUpVisitor", "SignUp")?PersonID=' + data.id;
                    }
                    },
                        error: function (xhr, status, error) {
                         //   ToastrPopup(xhr.responseText, 'error');
                            $("#error").show();
                            setTimeout(
                                function () {
                                    window.location.reload();
                                }, 700);
                        }
                    })


                    //console.log('Full Name: ' + profile.getName());
                    //console.log('Email: ' + profile.getEmail());

                },
                // On error
                function (error) {

                    alert('Error : Login Failed');
                }
            );
        });

        //////////Twitter API with OAuth
        $('#twitter-button').on('click', function () {
            // Initialize with your OAuth.io app public key
            OAuth.initialize('uAYCq04ZPwFn_NcPbVrV2xyrViI');
            // Use popup for OAuth
            OAuth.popup('twitter').then(twitter => {
               // console.log('twitter:', twitter);
                // Prompts 'welcome' message with User's email on successful login
                // #me() is a convenient method to retrieve user data without requiring you
                // to know which OAuth provider url to call
                twitter.me().then(data => {
                    console.log('Name:', data.name);
                    
                    alert('Twitter says your email is:' + data.email + ".\nView browser 'Console Log' for more details");
                });
                // Retrieves user data from OAuth provider by using #get() and
                // OAuth provider url    
                //twitter.get('/1.1/account/verify_credentials.json?include_email=true').then(data => {
                //    console.log('self data:', data);
                //})
            });
        })
    </script>
}
