﻿@{
    ViewBag.Title = "Transaction log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RMSS_Website.Models.Admin
@model IEnumerable<RMSS_Website.Models.Admin.TransactionLogModel>
@using objects = RMSS_Website.Objects;

@section content_Content {
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @(Html.Kendo().Grid(Model).Name("TransactionLogGrid").Columns(columns => {
        columns.Bound(c => c.Username);
        columns.Bound(c => c.PersonName);
        columns.Bound(c => c.Message);
        columns.Bound(c => c.OccurrenceDate).ClientTemplate("#= kendo.toString(OccurrenceDate, \"dd/MM/yyyy hh:mm\")#");
        columns.Bound(c => c.IP);
        columns.Bound(c => c.MAC);
    }
    ).Scrollable().Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn).ShowIndexes(true)).Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5)).DataSource(
        dataSource => dataSource.Ajax().Read(read => read.Action("GetTransactionLogData", "Admin")).PageSize(20)).HtmlAttributes(new { style = "Height: 720px;" }))

    </div>
</body>
</html>
}
