﻿@{
    ViewBag.Title = "The Risk Manager - Australia's Best Online Risk Tracker";
    ViewData["MetaDescription"] = "The riskmanager is risk management software that provides a seamless and integrated approach to managing risk.Using a unique patented process of master risk categories(e.g.health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models";
    ViewData["MetaKeywords"] = "Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks";

}
<meta charset="UTF-8">
<title>The Risk Manager - Australia's Best Online Risk Tracker</title>
<meta name="Description" content="The riskmanager is risk management software that provides a seamless and integrated approach to managing risk. Using a unique patented process of master risk categories (e.g. health and safety, security, projects, environment, liability, public image, strategic etc.), the riskmanager is configured to integrate with existing business processes and risk management models.">
<meta name="Keywords" content="Risks,Risk Manager, RiskManager,Risk Tool,RiskTool,Risks Australia,,RisksAustralia,Australia,Brisbane,QLD,Queensland,South East Queensland,Risk Tools,Risks Identify,RisksIdentify,Risk,Risk Management,RiskManagement,Risk,Risks Resolve,RisksResolve,Risk Stuff,RiskStuff,Risk Generator, RiskGenerator, risk,risks">
<meta name="robots" content="index, follow">
<meta name="robots" content="index, follow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="viewport" content="width=device-width, initial-scale=1">
@section content_Content {
    @*<div>
            <h1>Placeholder home page</h1>
        </div>*@

    <head>
       
    </head>
    <body>
        
            <section id="content">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6">
                            <div id="vd">
                                <img src="../../Images/oil-and-gas-risks.jpg" alt="Oil and Gas risks" title="Oil and Gas risks ">
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div id="cleft">
                                <div id="socialv">
                                    <img src="../../Images/Aviation-risks.png" alt="Aviation Risks" title="Aviation Risks">
                                </div>
                            </div>


                            <div id="cright">
                                <h1>Welcome to the Risk manager.com</h1>
                                <h4>The Enterprise Risk Manager</h4>

                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div id="box">
                                            <span><img src="../../Images/board-reporting.png" alt="Board Reporting Risk Manager" title="Board Reporting Risk Manager"></span>
                                            <h6>Board Reporting  </h6>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div id="box">
                                            <span><img src="../../Images/risk-trending.png" alt="Risks Trending Risk Manager" title="Risks Trending Risk Manager"></span>
                                            <h6>Risk Trending  </h6>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div id="box">
                                            <span><img src="../../Images/mitigation-strategies.png" alt="Mitigation Strategies Risk Manager" title="Mitigation Strategies Risk Manager"></span>
                                            <h6>Mitigation Strategies  </h6>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div id="box">
                                            <span><img src="../../Images/top-risks.png" alt="Top risks RiskManager" title="Top risks RiskManager"></span>
                                            <h6>Top Risks  </h6>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div id="box">
                                            <span><img src="../../Images/risks-benchmarking.png" alt="Risks Benchmarking RiskManager" title="Risks Benchmarking RiskManager"></span>
                                            <h6>Risks Benchmarking  </h6>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4">
                                        <div id="box">
                                            <span><img src="../../Images/risks-by-industry.png" alt="Risks By Industry" title="Risks By Industry"></span>
                                            <h6>Risks by Industry </h6>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <a name="Risks FREE" href="@Url.Action("Index","Industry")" class="bigb">Get started <b>FOR FREE</b> now</a>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </section>

            <section id="footer-head">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                            <ul id="numbers">

                                <li> 112<span> <i>Industries Listing TheRiskManager.com </i></span></li>
                                <li> 1,567<span> <i>Members Online</i></span></li>
                                <li> 150,988<span> <i>Risks Online</i></span></li>
                                <li> 497,452<span> <i>Risk Mitigation Strategies</i></span></li>
                                <li> 1,372,276<span> <i>Live Risk Trends / Benchmarks</i></span></li>

                            </ul>

                        </div>
                    </div>
                </div>
            </section>



    </body>
    <script>
        //console.log(document.referrer);
        var a = document.createElement('a');
        a.href = document.referrer;
        var name = a.host;
        
        a = ''
        console.log(name);
        console.log(document.referrer);
        
        //var url_string = "https://www.google.com/search?source=hp&ei=iayJXMfDBsT69QO4yZH4AQ&q=oil+and+gas&btnK=Google+Search&oq=oil+and+gas&gs_l=psy-ab.3..35i39l2j0i67l3j0i20i263j0l2j0i131j0.4090.6660..7046...0.0..0.283.2333.0j7j4......0....1..gws-wiz.....0..0i131i67j0i131i20i263.9MTDamzqG30"; //window.location.href
       
        //var url = new URL(url_string);

        //var params = url.searchParams.get("q");
        //console.log(params);
        //$("#toastr").on("click", function () {
        //    ToastrPopup("Hello World");
        //});
        function accessCookie(cookieName) {
            var name = cookieName + "=";
            var allCookieArray = document.cookie.split(';');
            for (var i = 0; i < allCookieArray.length; i++) {
                var temp = allCookieArray[i].trim();
                if (temp.indexOf(name) == 0)
                    return temp.substring(name.length, temp.length);
            }
            return "";
        }
        function checkCookie() {
            var user = accessCookie("test");
            if (user != "") {
                alert("Welcome Back " + user + "!!!");
            }
        }
        //if (Cookies.get('test') === 'undefined') {

        //}
        //else {
        //    alert(Cookies.get('test'));
        //    Cookies.remove('test');
        //}

        
        //public ActionResult LoginController (string username, string password) {
       //Validate Login credentials
      //If user is found
        //set session data with 'rolename' as key and user role name 
        //as value(Session key defined in SessionHandler class)
      //set session data of isLoggedIn key to true (Session key defined in SessionHandler class)
      //set session data of isLoggedIn key to true (Session key defined in SessionHandler class)
      //}

    //public ActionResult SaveEmployeeAccount (string username, string password) {
        //Check if the session['IsLoggedIn'] == true? If true then proceed, if false return unauthorized page
        //Check if the session['rolename'] == 'admin'? If true then save new employee account, If 
        //false then redirect to anauthorized page
        //
        //}
    //public ActionResult LogOut(string username) {
        
        //}
    </script>
    
}
