﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section content_Content {
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Unauthorized</h2>
        <p>You are not authorized to view this page.</p>
    </div>
</body>
</html>
}
