/*Telerik RadGrid Black Skin*/

/*global*/

.RadGrid_Black
{
	background:#313131;
	color:#858585;
}

.RadGrid_Black,
.RadGrid_Black *
{
	outline-color:#858585;
}

.RadGrid_Black,
.MasterTable_Black,
.DetailTable_Black,
.GroupPanel_Black table,
.GridEditForm_Black table,
.GridToolTip_Black
{
	font:11px "segoe ui",arial,sans-serif;
}

.RadGrid_Black,
.DetailTable_Black
{
	border:1px solid #1c1c1c;
}

.MasterTable_Black,
.DetailTable_Black
{
	border-collapse:separate !important;
}

.GridRow_Black td,
.GridAltRow_Black td,
.GridEditRow_Black td,
.GridFooter_Black td,
.GridGroupFooter_Black td
{
	padding-left:10px;
	padding-right:6px;
}

.RadGrid_Black .rgAdd,
.RadGrid_Black .rgRefresh,
.RadGrid_Black .rgEdit,
.RadGrid_Black .rgDel,
.RadGrid_Black .rgFilter,
.RadGrid_Black .rgPagePrev,
.RadGrid_Black .rgPageNext,
.RadGrid_Black .rgPageFirst,
.RadGrid_Black .rgPageLast,
.RadGrid_Black .rgExpand,
.RadGrid_Black .rgCollapse,
.RadGrid_Black .rgSortAsc,
.RadGrid_Black .rgSortDesc,
.RadGrid_Black .rgUpdate,
.RadGrid_Black .rgCancel
{
	width:16px;
	height:16px;
	border:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	vertical-align:middle;
	cursor:pointer;
}

.GroupPanelItems_Black input,
.GridCommandRow_Black img,
.GridHeader_Black input,
.GridFilterRow_Black img,
.GridPager_Black img
{
	vertical-align:middle;
}

/*header*/

.GridHeaderDiv_Black
{
	background:#222 url('Grid/sprite.gif') 0 -1715px repeat-x;
}

.GridHeader_Black,
.ResizeHeader_Black
{
	border-top:1px solid #3e3e3e;
	border-bottom:1px solid #171717;
	background:url('Grid/sprite.gif') 0 0 repeat-x #202020;
	padding:9px 7px 10px 11px;
	text-align:left;
	font-size:1.2em;
	font-weight:normal;
}

.DetailTable_Black .GridHeader_Black,
.DetailTable_Black .ResizeHeader_Black
{
	padding-top:2px;
	padding-bottom:4px;
	background-position:0 -5px;
}

.GridHeader_Black,
.GridHeader_Black a
{
	color:#006a96;
	text-decoration:none;
}

/*rows*/

.GridRow_Black td,
.GridAltRow_Black td,
.GridEditRow_Black td,
.GridFooter_Black td,
.GridGroupFooter_Black td
{
	padding-top:0.3em;
	padding-bottom:0.3em;
}

.GridRow_Black td,
.GridAltRow_Black td,
.GridFooter_Black td,
.GridGroupFooter_Black td
{
	border:1px solid;
	border-color:#313131 #383838 #313131 #1c1c1c;
}

.GridRow_Black>td:first-child,
.GridAltRow_Black>td:first-child,
.GridFooter_Black>td:first-child,
.GridGroupFooter_Black>td:first-child
{
	border-left-color:#383838;
}

.GridRow_Black a,
.GridAltRow_Black a,
.GridFooter_Black a,
.GridGroupFooter_Black a,
.GridEditForm_Black a
{
	color:#858585;
}

.ActiveRow_Black
{
	background:url('Grid/sprite.gif') 0 -599px repeat-x #323232;
}

.ActiveRow_Black td,
.ActiveRow_Black>td:first-child
{
	border-color:#252525 #383838 #252525 #252525;
}

.SelectedRow_Black
{
	background:url('Grid/sprite.gif') 0 -300px repeat-x #343434;
	color:#ccc;
}

.SelectedRow_Black a,
.GridEditRow_Black a
{
	color:#ccc;
}

.SelectedRow_Black td,
.SelectedRow_Black>td:first-child
{
	border-color:#222 #434343 #222 #222;
}

.GridRowOver_Black
{
	background:#3d3d3d;
}

.GridRowOver_Black td
{
	border-right-color:#474747;
}

.GridEditRow_Black
{
	background:#1d1d1d;
}

.GridEditRow_Black td
{
	border-left-color:#191919;
	border-right-color:#1f1f1f;
}

/*footer*/

.GridFooterDiv_Black,
.GridFooter_Black,
.GridGroupFooter_Black
{
	background:#393939;
	color:#666;
}

.GridFooter_Black td,
.GridGroupFooter_Black td
{
	border-top:1px solid #222;
}

/*status*/

.GridPager_Black span
{
	color:#474747;
}

/*paging*/

.GridPager_Black
{
	line-height:26px;
}

.GridPager_Black td
{
	border:1px solid #383838;
	border-top-color:#222;
	padding:0 10px;
}

.GridPager_Black td td
{
	border:0;
	padding:1px;
}

.GridPager_Black,
.GridPager_Black div span,
.GridPager_Black a,
.GridPager_Black .sliderPagerLabel_Black
{
	color:#aaa;
}

.PagerLeft_Black
{
	float:left;
}

.PagerRight_Black
{
	float:right;
}

.PagerCenter_Black
{
	text-align:center;
}

.PagerCenter_Black *
{
	vertical-align:middle;
}

.RadGrid_Black .rgPagePrev
{
	background-position:4px -992px;
}

.RadGrid_Black .rgPageNext
{
	background-position:-20px -992px;
}

.RadGrid_Black .rgPageFirst
{
	background-position:3px -960px;
}

.RadGrid_Black .rgPageLast
{
	background-position:-19px -960px;
}

/*sorting, reordering*/

.GridHeader_Black .rgSortAsc
{
	background-position:-20px -928px;
	height:12px;
}

.GridHeader_Black .rgSortDesc
{
	background-position:4px -927px;
	height:12px;
}

.TopReorderIndicator_Black,
.BottomReorderIndicator_Black
{
	width:11px !important;
	height:11px !important;
	margin-left:-5px;
	background:url('Grid/sprite.gif') 0 -899px no-repeat;
}

.BottomReorderIndicator_Black
{
	background-position:-21px -899px;
}

/*filtering*/

.GridFilterRow_Black
{
	background:#222;
}

.GridFilterRow_Black td
{
	border-top:1px solid #262626;
	border-bottom:1px solid #181818;
	padding:0.2em 7px 0.2em 11px;
}

.RadGrid_Black .rgFilter
{
	background-position:1px -1025px;
}

.GridFilterRow_Black input[type="text"]
{
	border:1px solid #121212;
	background:#2f2f2f;
	font:11px "segoe ui",arial,sans-serif;
	color:#9f9f9f;
	vertical-align:middle;
}

/*grouping*/

.GroupPanel_Black
{
	border-bottom:1px solid #1c1c1c;
	background:#3c3c3c;
	color:#9f9f9f;
}

.GroupPanel_Black table td
{
	line-height:1.6em;
}

.GroupPanel_Black .rgSortAsc
{
	background-position:-20px -1681px;
	height:12px;
}

.GroupPanel_Black .rgSortDesc
{
	background-position:4px -1681px;
	height:12px;
}

.GroupPanel_Black td
{
	border:1px solid #434343;
	padding:1px 6px 0;
}

.GroupPanel_Black td td
{
	border:0;
	padding:0;
}

.GroupPanelItems_Black
{
	border:1px solid;
	border-color:#787878 #5a5a5a #5a5a5a;
	padding:2px 0 2px 5px;
	background:url('Grid/sprite.gif') repeat-x 0 -1583px;
	color:#aaa;
	font-weight:normal;
}

.GroupHeader_Black
{
	background:#313131;
	font-size:1.2em;
	color:#1b80aa;
}

.GroupHeader_Black td
{
	padding:0.5em 11px 0.5em 7px;
}

.RadGrid_Black .rgExpand
{
	background-position:5px -1054px;
}

.RadGrid_Black .rgCollapse
{
	background-position:-21px -1053px;
}

.GroupHeader_Black td div
{
	top:-0.6em;
}

.GroupHeader_Black td div div
{
	top:0;
}

/*editing*/

.GridEditForm_Black
{
	border-bottom:1px solid #1c1c1c;
}

.GridEditForm_Black input[type="text"],
.GridEditForm_Black input[type="password"],
.GridEditForm_Black textarea
{
	border:1px solid #121212;
	background:#2f2f2f;
	font:11px "segoe ui",arial,sans-serif;
	color:#9f9f9f;
}

.RadGrid_Black .rgUpdate
{
	background-position:2px -1216px;
}

.RadGrid_Black .rgCancel
{
	background-position:2px -1248px;
}

/*hierarchy*/

.DetailTable_Black
{
	border-right:0;
}

/*command row*/

.GridCommandRow_Black
{
	background:#3c3c3c;
}

.GridCommandRow_Black,
.GridCommandRow_Black a
{
	color:#aaa;
	text-decoration:none;
}

.GridCommandRow_Black td
{
	border-bottom:1px solid #1c1c1c;
	padding:0;
}

tfoot .GridCommandRow_Black td
{
	border-bottom:0;
}

.GridCommandRow_Black table
{
	border:1px solid #434343;
}

.GridCommandRow_Black table td
{
	border:0;
	padding:1px 6px 2px;
}

.GridCommandRow_Black table td td
{
	padding:1px;
}

.RadGrid_Black .rgAdd
{
	background-position:0 -1091px;
}

.RadGrid_Black .rgRefresh
{
	background-position:0 -1123px;
}

.RadGrid_Black .rgEdit
{
	background-position:1px -1154px;
}

.RadGrid_Black .rgDel
{
	background-position:0 -1187px;
}

/*multirow select*/

.GridRowSelector_Black
{
	background:#fff;
}

/*row drag n drop*/

.GridItemDropIndicator_Black
{
    border-top:1px dashed #858585;
}

/*tooltip*/

.GridToolTip_Black
{
	border:1px solid #070707;
	padding:3px;
	background:#222;
	color:#999;
}

/*rtl*/

.RadGridRTL_Black .GridHeader_Black,
.RadGridRTL_Black .ResizeHeader_Black
{
	text-align:right;
}

.RadGridRTL_Black .GridRow_Black td,
.RadGridRTL_Black .GridAltRow_Black td,
.RadGridRTL_Black .GridEditRow_Black td,
.RadGridRTL_Black .GridFooter_Black td,
.RadGridRTL_Black .GroupHeader_Black td
{
	padding-right:10px;
	padding-left:6px;
}

.RadGridRTL_Black .GridHeader_Black,
.RadGridRTL_Black .ResizeHeader_Black,
.RadGridRTL_Black .GridFilterRow_Black td
{
	padding-right:11px;
	padding-left:6px;
}

.RadGridRTL_Black .PagerLeft_Black,
.RadGridRTL_Black .GridPager_Black .radslider
{
	float:right;
}

.RadGridRTL_Black .PagerRight_Black
{
	float:left;
}
