﻿/* START Telerik.Web.UI.Skins.Black.Grid.Black.css */
/*Telerik RadGrid Black Skin*/

/*global*/

.RadGrid_Black
{
	background:#4f4f4f;
	color:#d7d7d7;
	border:1px solid #080808;
	text-align:left;
}

.RadGrid_Black table caption b {
	display:block;
	margin-top: -20px;
}

.RadGrid_Black #dash_HeatMap, #ctl00_content_Content_dashIncidentSeverity_dash_EventChart, #ctl00_content_Content_dashRiskMatrix_dash_RiskMatrix, #ctl00_content_Content_dashRiskScoreChart_dash_RiskScoreChart,#ctl00_content_Content_dashHeatmap_dash_HeatMap
{
	position:relative;
	width:49%;
	float:left;
	height:680px;
	margin:0 0 4px 4px;
	overflow:hidden;
}

rgMasterTable td, 
rgMasterTable td
{
	}

.RadGrid_Black .rgMasterTable,
.RadGrid_Black .rgDetailTable,
.RadGrid_Black .rgGroupPanel table,
.RadGrid_Black .rgCommandRow table,
.RadGrid_Black .rgEditForm table,
.GridToolTip_Black
{
	font:12px/16px "segoe ui",arial,sans-serif;
	/*border-collapse:collapse;*/
	border:0px solid #080808;
}

.RadGrid_Black .rgMasterTable,
.RadGrid_Black .rgDetailTable
{
	border-collapse:separate;
}


.RadGrid_Black .rgRow,
.RadGrid_Black .rgAltRow,
.RadGrid_Black .rgHeader,
.RadGrid_Black .rgResizeCol,
.RadGrid_Black .rgPager,
.RadGrid_Black .rgGroupPanel,
.RadGrid_Black .rgGroupHeader
{
	cursor:default;
}

.RadGrid_Black input[type="image"]
{
	cursor:pointer;
}
.RadGrid_Black .rgHeader th {
    padding:5px 2px 2px 4px;
}

.RadGrid_Black .rgRow td,
.RadGrid_Black .rgAltRow td,
.RadGrid_Black .rgEditRow td,
.RadGrid_Black .rgFooter td,
.RadGrid_Black .rgFilterRow td,
.RadGrid_Black .rgHeader,
.RadGrid_Black .rgResizeCol,
.RadGrid_Black .rgGroupHeader td
{
	padding-left:7px;
	padding-right:7px;
}

.RadGrid_Black .rgAdd,
.RadGrid_Black .rgRefresh,
.RadGrid_Black .rgEdit,
.RadGrid_Black .rgDel,
.RadGrid_Black .rgFilter,
.RadGrid_Black .rgPagePrev,
.RadGrid_Black .rgPageNext,
.RadGrid_Black .rgPageFirst,
.RadGrid_Black .rgPageLast,
.RadGrid_Black .rgExpand,
.RadGrid_Black .rgCollapse,
.RadGrid_Black .rgSortAsc,
.RadGrid_Black .rgSortDesc,
.RadGrid_Black .rgUpdate,
.RadGrid_Black .rgCancel,
.RadGrid_Black .rgUngroup
{
	width:16px;
	height:16px;
	border:0;
	margin:0;
	padding:0;
	background-color:transparent;
	background-image:url('Grid/sprite.gif');
	background-repeat:no-repeat;
	vertical-align:middle;
	font-size:1px;
	cursor:pointer;
}

.RadGrid_Black .rgGroupItem input,
.RadGrid_Black .rgCommandRow img,
.RadGrid_Black .rgHeader input,
.RadGrid_Black .rgFilterRow img,
.RadGrid_Black .rgFilterRow input,
.RadGrid_Black .rgPager img
{
	vertical-align:middle;
}

/*header*/

.RadGrid_Black .rgHeaderDiv
{
	background:#474747 0 -5900px repeat-x url('Grid/sprite.gif');
}
.rgTwoLines .rgHeaderDiv
{
	background-position:0 -6200px;
}

.rgNoScrollImage .rgHeaderDiv
{
	background-image:none;
}

.RadGrid_Black .rgHeader,
.RadGrid_Black .rgHeader th,
.RadGrid_Black th.rgResizeCol
{
	border:0;
	border-bottom:1px solid #000;
	padding-top:5px;
	padding-bottom:4px;
	background:#191919 0 -2300px repeat-x url('Grid/sprite.gif');
	font-weight:normal;
}

.RadGrid_Black th.rgSorted
{
	background-color:#020202;
	background-position:0 -2600px;
}

.RadGrid_Black .rgHeader,
.RadGrid_Black .rgHeader a
{
	color:#fff;
	text-decoration:none;
}

.RadGrid_Black .rgCheck
{
	height:15px;
	margin:0;
	padding:0;
}

/*rows*/

.RadGrid_Black .rgRow td,
.RadGrid_Black .rgAltRow td,
.RadGrid_Black .rgErrorRow td,
.RadGrid_Black .rgEditRow td,
.RadGrid_Black .rgFooter td
{
	border:0;
	border-bottom:1px solid;
	padding-top:4px;
	padding-bottom:3px;
}

.RadGrid_Black .rgRow td
{
	border-color:#4f4f4f;
}

.RadGrid_Black .rgAltRow
{
	background:#494949;
}

.RadGrid_Black .rgErrorRow
{
	background: #FF0000;
   
}

.RadGrid_Black .rgAltRow td
{
	border-color:#494949;
}

.RadGrid_Black .rgErrorRow td
{
	padding-left:8px;
	border-color:#494949;
}
.RadGrid_Black .rgRow .rgSorted
{
	border-bottom-color:#4b4b4b;
	background-color:#4b4b4b;
}

.RadGrid_Black .rgAltRow .rgSorted
{
	border-bottom-color:#454545;
	background-color:#454545;
}

.RadGrid_Black .rgSelectedRow .rgSorted,
.RadGrid_Black .rgActiveRow .rgSorted,
.RadGrid_Black .rgHoveredRow .rgSorted,
.RadGrid_Black .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Black .rgRow a,
.RadGrid_Black .rgAltRow a,
.RadGrid_Black .rgEditRow a,
.RadGrid_Black .rgFooter a,
.RadGrid_Black .rgEditForm a
{
	color:#fff;
}




.RadGrid_Black .rgSelectedRow
{
    background:#303030 0 -3900px repeat-x url('Grid/sprite.gif');
    color:#fff;
}
*+html .RadGrid_Black .rgSelectedRow .rgSorted{background-color:#303030 }
* html .RadGrid_Black .rgSelectedRow .rgSorted{background-color:#303030 }

.RadGrid_Black .rgSelectedRow a {
	color: white !important;
}

.RadGrid_Black .rgActiveRow,
.RadGrid_Black .rgHoveredRow
{
	background:#2e2e2e 0 -2900px repeat-x url('Grid/sprite.gif');
	color:#9eda29;
}
*+html .RadGrid_Black .rgActiveRow .rgSorted,
*+html .RadGrid_Black .rgHoveredRow .rgSorted{background-color:#2e2e2e}
* html .RadGrid_Black .rgActiveRow .rgSorted,
* html .RadGrid_Black .rgHoveredRow .rgSorted{background-color:#2e2e2e}

.RadGrid_Black .rgEditRow
{
	background:#202020;
	color:#d7d7d7;
}
*+html .RadGrid_Black .rgEditRow .rgSorted{background-color:#202020}
* html .RadGrid_Black .rgEditRow .rgSorted{background-color:#202020}

.RadGrid_Black .rgActiveRow td,
.RadGrid_Black .rgActiveRow td.rgSorted,
.RadGrid_Black .rgHoveredRow td,
.RadGrid_Black .rgHoveredRow td.rgSorted
{
	border-bottom-color:#1e1e1e;
}

.RadGrid_Black .rgSelectedRow td,
.RadGrid_Black .rgSelectedRow td.rgSorted
{
    border-style: none;
}

.RadGrid_Black .rgEditRow td,
.RadGrid_Black .rgEditRow td.rgSorted
{
	border-bottom-color:#080808;
}

/*footer*/

.RadGrid_Black .rgFooterDiv,
.RadGrid_Black .rgFooter
{
	background:#2e2e2e;
}

.RadGrid_Black .rgFooter td
{
	border:0;
	border-top:1px solid #080808;
}

/*status*/

.RadGrid_Black .rgPager .rgStatus
{
	width:35px;
	border:0;
	border-top:1px solid;
	border-right:1px solid;
	border-color:#080808;
	padding:3px 0 2px;
}

.RadGrid_Black .rgStatus div
{
	width:24px;
	height:24px;
	overflow:hidden;
	border:0;
	margin:0 auto;
	padding:0;
	background:transparent center center no-repeat); /*  url('/PegasusMain/WebResource.axd?d=hITYxImp019zIkhJYHsOkTQrZndA0p-NJXfdNhGPeGumXamFGO5xJhWr81irWrTywMoiZ-oXzFdUs3UBNTvBpA2&t=633779777644238036' */
	text-indent:-2222px;
}

/*pager*/

.RadGrid_Black .rgPager
{
	background:#1e1e1e 0 -8000px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Black .rgPager td
{
	padding:0;
}

.RadGrid_Black .rgPager .rgPagerCell
{
	border:0;
	border-top:1px solid #080808;
	border-left:1px solid #3a3a3a;
	padding:3px 0 2px;
}

.RadGrid_Black .rgWrap
{
	float:left;
	padding:0 10px;
	line-height:26px;
	white-space:nowrap;
}

.RadGrid_Black .rgArrPart1
{
	padding-right:0;
	line-height:22px;
}

.RadGrid_Black .rgArrPart2
{
	padding-left:0;
	line-height:22px;
}

.RadGrid_Black .rgInfoPart
{
	float:right;
	color:#a9a9a9;
}

.RadGrid_Black .rgInfoPart strong
{
	font-weight:normal;
	color:#fefefe;
}

.RadGrid_Black .rgSEO .rgArrPart1,
.RadGrid_Black .rgSEO .rgArrPart2
{
	line-height:24px;
}

.RadGrid_Black .rgWrap a img
{
	margin:0 8px;
}

.RadGrid_Black .rgPageFirst,
.RadGrid_Black .rgPagePrev,
.RadGrid_Black .rgPageNext,
.RadGrid_Black .rgPageLast
{
	width:20px;
	height:24px;
}

.RadGrid_Black .rgPageFirst
{
	margin-right:1px;
	background-position:0 -548px;
}
.RadGrid_Black .rgPageFirst:hover
{
	background-position:0 -598px;
}
.RadGrid_Black .rgPagePrev
{
	margin-right:1px;
	background-position:0 -698px;
}
.RadGrid_Black .rgPagePrev:hover
{
	background-position:0 -748px;
}
.RadGrid_Black .rgPageNext
{
	margin-left:1px;
	background-position:0 -848px;
}
.RadGrid_Black .rgPageNext:hover
{
	background-position:0 -898px;
}
.RadGrid_Black .rgPageLast
{
	margin-left:1px;
	background-position:0 -998px;
}
.RadGrid_Black .rgPageLast:hover
{
	background-position:0 -1048px;
}

.RadGrid_Black .rgPagerButton
{
	height:22px;
	border:1px solid #080808;
	margin:0 14px 0 0;
	padding:0 4px 2px;
	background:#1b1b1b repeat-x 0 -1550px url('Grid/sprite.gif');
	color:#fff;
	font:12px/12px "segoe ui",arial,sans-serif;
	vertical-align:middle;
	cursor:pointer;
}

.RadGrid_Black .rgNumPart
{
	padding:2px 0;
}

.RadGrid_Black .NumericPages .rgNumPart
{
	padding:2px 10px;
}

.RadGrid_Black .rgNumPart a:hover,
.RadGrid_Black .rgNumPart a:hover span,
.RadGrid_Black .rgNumPart a.rgCurrentPage,
.RadGrid_Black .rgNumPart a.rgCurrentPage span
{
	background:no-repeat url('Grid/sprite.gif');
}

.RadGrid_Black .rgNumPart a
{
	float:left;
	line-height:22px;
	margin:0;
	padding:0 5px 0 0;
	color:#a9a9a9;
	text-decoration:none;
}

.RadGrid_Black .rgNumPart span
{
	float:left;
	padding:0 0 0 5px;
}

.RadGrid_Black .rgNumPart a:hover
{
	background-position:100% -1250px;
	color:#9eda29;
}

.RadGrid_Black .rgNumPart a:hover span
{
	background-position:0 -1150px;
	cursor:pointer;
}

.RadGrid_Black .rgNumPart a.rgCurrentPage,
.RadGrid_Black .rgNumPart a.rgCurrentPage:hover
{
	background-position:100% -1450px;
	color:#fff;
	cursor:default;
}

.RadGrid_Black .rgNumPart a.rgCurrentPage span,
.RadGrid_Black .rgNumPart a.rgCurrentPage:hover span
{
	background-position:0 -1350px;
	cursor:default;
}

.RadGrid_Black .NextPrevNumericAndAdvanced .rgAdvPart
{
	float:none;
	text-align:center;
}

.RadGrid_Black .rgPager .RadSlider
{
	float:left;
	margin:2px 10px 0 0;
}

.RadGrid_Black .rgPagerLabel,
.RadGrid_Black .rgPager .RadComboBox,
.RadGrid_Black .rgPager .RadInput_Black
{
	margin:0 4px 0 0;
	vertical-align:middle;
}

.RadGrid_Black .rgPager .RadComboBox
{
	margin-top:-1px;
}
*+html .RadGrid_Black .rgPager .RadComboBox{margin-top:-2px;}
* html .RadGrid_Black .rgPager .RadComboBox{margin-top:-2px;}

* html .RadGrid_Black .rgPager .RadComboBox{padding:1px 0;}

.RadGrid_Black .rgPagerTextBox
{
	text-align:center;
}

/*sorting, reordering*/

.RadGrid_Black .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_Black .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_Black,
.GridReorderBottom_Black
{
	width:9px !important;
	height:9px !important;
	margin-left:-5px;
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Black
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Black .rgFilterRow
{
	background:#474747 0 -7000px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Black .rgFilterRow td
{
	border-top:1px solid #4f4f4f;
	border-bottom:1px solid #080808;
	padding-top:4px;
	padding-bottom:7px;
}

.RadGrid_Black .rgFilter
{
	width:22px;
	height:22px;
	margin:0 0 0 2px;
	background-position:0 -300px;
}

.RadGrid_Black .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Black .rgFilterActive,
.RadGrid_Black .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Black .rgFilterBox
{
	border:1px solid #080808;
	padding:2px 1px 3px;
	background:#454545;
	font:12px "segoe ui",arial,sans-serif;
	color:#d7d7d7;
	vertical-align:middle;
}

/*grouping*/

.RadGrid_Black .rgGroupPanel
{
	height:24px;
	border:0;
	border-bottom:1px solid #080808;
	background:#202020 0 -1900px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Black .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_Black .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_Black .rgGroupPanel .rgSortAsc
{
	background-position:2px -146px;
}

.RadGrid_Black .rgGroupPanel .rgSortDesc
{
	background-position:2px -95px;
}

.RadGrid_Black .rgUngroup
{
	background-position:0 -9000px;
}

.RadGrid_Black .rgGroupItem
{
	border:1px solid #080808;
	padding:0 2px 1px 3px;
	background:#1b1b1b 0 -6500px repeat-x url('Grid/sprite.gif');
	color:#fff;
	line-height:20px;
	font-weight:normal;
	vertical-align:middle;
}

.RadGrid_Black .rgMasterTable td.rgGroupCol,
.RadGrid_Black .rgMasterTable td.rgExpandCol
{
	border-color:#202020;
	background:#202020 none;
}

.RadGrid_Black .rgGroupHeader
{
	font-size:1.1em;
	line-height:21px;
	color:#fff;
}

.RadGrid_Black .rgGroupHeader,
.RadGrid_Black .rgGroupHeader td.rgGroupCol
{
	background:#202020 0 -8500px repeat-x url('Grid/sprite.gif');
}

.RadGrid_Black .rgGroupHeader td
{
	border-top:1px solid #3a3a3a;
	padding-top:0;
	padding-bottom:0;
}

.RadGrid_Black .rgGroupHeader td.rgGroupCol
{
	border-top-color:#202020;
}

.RadGrid_Black .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_Black .rgCollapse
{
	background-position:3px -444px;
}

.RadGrid_Black .rgGroupHeader td p
{
	display:inline;
	margin:0;
	padding:0 10px;
}

.RadGrid_Black .rgGroupHeader td div div
{
	top:-0.8em;
	padding:0 10px;
}

.RadGrid_Black .rgGroupHeader td div div div
{
	top:0;
	padding:0;
	border:0;
}

/*editing*/

.RadGrid_Black .rgEditForm
{
	border-bottom:1px solid #080808;
}

.RadGrid_Black .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Black .rgCancel
{
	background-position:2px -1848px;
}

/*hierarchy*/

.RadGrid_Black .rgDetailTable
{
	border:1px solid #080808;
	border-right:0;
}

/*command row*/

.RadGrid_Black .rgCommandRow
{
	background:#020202 0 -2100px repeat-x url('Grid/sprite.gif');
	color:#fff;
}

.RadGrid_Black .rgCommandRow td
{
	border:0;
	padding:0;
}

.RadGrid_Black tfoot .rgCommandRow td
{
	border-top:1px solid #0e0e0e;
}

.RadGrid_Black thead .rgCommandRow td
{
	border-bottom:1px solid #0e0e0e;
}

.RadGrid_Black .rgCommandRow td td
{
	border:0;
	padding:3px 7px 4px;
}

.RadGrid_Black .rgCommandRow td td td
{
	padding:1px;
}

.RadGrid_Black .rgCommandRow table
{
	border:0;
}

.RadGrid_Black .rgCommandRow a
{
	color:#fff;
	text-decoration:none;
}

.RadGrid_Black .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Black .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Black .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_Black .rgDel
{
	background-position:0 -1750px;
}

/*multirow select*/

.GridRowSelector_Black
{
	background:#d7d7d7;
}

/*row drag n drop*/

.GridItemDropIndicator_Black
{
	border-top:1px dashed #d7d7d7;
}

/*tooltip*/

.GridToolTip_Black
{
	border:1px solid #080808;
	padding:3px;
	background:#ccc;
	color:#000;
}

/*rtl*/

.RadGridRTL_Black .rgHeader,
.RadGridRTL_Black .rgResizeCol
{
	text-align:right;
}

.RadGridRTL_Black .rgPager .rgStatus
{
	border-right:0;
	border-left-width:1px;
}

.RadGridRTL_Black .rgWrap
{
	float:right;
}

.RadGridRTL_Black .rgInfoPart
{
	float:left;
}

.RadGridRTL_Black .rgNumPart
{
	width:220px;
}

.RadGridRTL_Black .rgNumPart a
{
	float:right;
}

.RadGridRTL_Black .rgDetailTable
{
	border-right:1px solid;
	border-left:0;
}
.rgDataDiv {
    overflow-x:hidden !important;
    overflow-y:auto !important;

}
/* END Telerik.Web.UI.Skins.Black.Grid.Black.css */

