﻿.RadScheduler .rsDiagonal .rsAptContent,
.RadScheduler .rsDiagonal .rsAptMid .rsAptIn,
.RadScheduler .rsDiagonal .rsAptMid,
.RadScheduler .rsDiagonal .rsAptOut {
    /*background-image: url('../images/ui-bg_highlight-soft_44_444444_1x100.png');*/
    background: url("../images/ui-bg_diagonals-medium_30_707070_40x40.png") repeat scroll 50% 50% #707070;
}

.RadScheduler .rsDiagonal .rsAptContent {
    /*font style*/
    color: black;
}

.RadScheduler .rsDiagonal .rsApt {
    border: 1px solid #353535;
    border-radius: 4px;
}

.rsTodayCell {
    background: #707070;
}

.RadScheduler_Black .rsCategoryDarkBlue .rsAptRecurrence,.RadScheduler_Black .rsCategoryDarkBlue .rsAptRecurrenceException {
    /* from jqueryui's ui-icon-flag*/
    height: 16px !important;
    width: 16px !important;
    margin-top: 0px !important;
    background-position: -16px -112px !important;
    background-image: url("../images/ui-icons_cccccc_256x240.png") !important;
}

.RadScheduler_Black .rsCategoryDarkRed .rsAptRecurrence {
    /* from jqueryui's ui-icon-alert*/
    height: 16px !important;
    width: 16px !important;
    margin-top: 0px !important;
    background-position: 0 -144px !important;
    background-image: url("../images/ui-icons_cccccc_256x240.png") !important;
}


.rsCategoryBlue .rsAptContent .rsLockIcon {
    /* from jqueryui's ui-icon-lock*/
    float:left;
    height: 16px !important;
    width: 16px !important;
    margin-top: 0px !important;
    background-position: -192px -96px !important;
    background-image: url("../images/ui-icons_000000_256x240.png") !important;
}
