﻿@{
    ViewBag.Title = "Client Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model RMSS_Website.Objects.Objects.Filters.ClientFilter
@using objects = RMSS_Website.Objects;

@section content_Content {
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>
            <h2> @(string.IsNullOrEmpty(Model.FoundClientName) ? "Available Clients: " + @Model.NumberOfClients : "Found Client: " + @Model.FoundClientName)</h2>
            <table>
                <tr>
                    <td><label>Client Name: </label></td>
                    <td><input type="text" id="txtClientName" onchange="txtClientNameChange" value="@Model.ClientName" /></td>
                </tr>
                <tr>
                    <td><label>Client Status: </label></td>
                    <td>@Html.DropDownListFor(x => x.StatusView.SelectedStatusID, Model.StatusView.AvailableStatuses, "--- Select ---")</td>
                </tr>
                <tr>
                    <td><label>Expiry Date: </label></td>
                    <td>
                        @(Html.Kendo().DatePicker().Name("ExpiryDateAFterPicker").Value(Model.ExpiryDateAfter).Format("dd/MM/yyyy").Events(e => e.Change("ExpiryDateAfterChanged"))) <span> to </span>
                        @(Html.Kendo().DatePicker().Name("ExpiryDateBeforePicker").Value(Model.ExpiryDateBefore).Format("dd/MM/yyyy").Events(e => e.Change("ExpiryDateBeforeChanged")))
                    </td>
                </tr>
                <tr>
                    <td><label>User Limit: </label></td>
                    <td>
                        @(Html.Kendo().NumericTextBox().Name("UserLimitAbove").Value(Model.UserLimitAbove).Events(e => e.Change("UserLimitAboveChanged")).Decimals(0).Format("#")) <span> to </span>
                        @(Html.Kendo().NumericTextBox().Name("UserLimitBelow").Value(Model.UserLimitBelow).Events(e => e.Change("UserLimitBelowChanged")).Decimals(0).Format("#"))
                    </td>
                </tr>
                <tr>
                    <td><label>Account Manager: </label></td>
                    <td>@Html.DropDownListFor(x => x.ManagerView.SelectedAccountManagerID, Model.ManagerView.AvailableAccountManagers, "--- Select ---")</td>
                </tr>
                <tr>
                    <td><label>Client Support Coordinator: </label></td>
                    <td>@Html.DropDownListFor(x => x.ClientSupportView.SelectedClientSupportCoordinatorID, Model.ClientSupportView.AvailableClientSupportCoordinators, "--- Select ---")</td>
                </tr>
                <tr>
                    <td><label>Creator: </label></td>
                    <td>@Html.DropDownListFor(x => x.CreatorView.SelectedCreatorID, Model.CreatorView.AvailableCreators, "--- Select ---")</td>
                </tr>
                <tr>
                    <td><label>Version Number Above: </label></td>
                    <td>
                        @(Html.Kendo().NumericTextBox().Name("VersionNumberAbove").Value(Model.VersionNumberAbove).Events(e => e.Change("VersionNumberAboveChanged")).Decimals(0).Format("#"))
                        @(Html.Kendo().NumericTextBox().Name("VersionSubNumberAbove").Value(Model.VersionSubNumberAbove).Events(e => e.Change("VersionSubNumberAboveChanged")).Decimals(0).Format("#"))
                    </td>
                </tr>
                <tr>
                    <td><label>Version Number Below: </label></td>
                    <td>
                        @(Html.Kendo().NumericTextBox().Name("VersionNumberBelow").Value(Model.VersionNumberBelow).Events(e => e.Change("VersionNumberBelowChanged")).Decimals(0).Format("#"))
                        @(Html.Kendo().NumericTextBox().Name("VersionSubNumberBelow").Value(Model.VersionSubNumberBelow).Events(e => e.Change("VersionSubNumberBelowChanged")).Decimals(0).Format("#"))
                    </td>
                </tr>
            </table>
            <div style="margin: 0 auto;">
                <button onclick="@("window.location.href='" + Url.Action("ClientGrid", "Clients") + "'");">Open Client Grid</button> 
                <button onclick="ResetFilter(); return false;">Clear Filter</button>
            </div>
            <script>
                function ResetFilter() {
                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("ResetClientFilter", "Clients")",
                       success: function (data) {
                           window.location.reload(true);
                       },
                       error: function (xhr, status, errorThrown) {
                            ToastrPopup(xhr.responseText, 'error');
                            console.log("xhr: " + xhr.responseText + " status: " + status + " errorThrown: " + errorThrown);
                        }
                    });
                }
                $('#StatusView_SelectedStatusID').change(function () {
                    UpdateDropdownListSelection(this.value, '@objects.ClientFilterField.ClientStatusID');
                });
                $('#ManagerView_SelectedAccountManagerID').change(function () {
                    UpdateDropdownListSelection(this.value, '@objects.ClientFilterField.AccountManagerID');
                });
                $('#ClientSupportView_SelectedClientSupportCoordinatorID').change(function () {
                    UpdateDropdownListSelection(this.value, '@objects.ClientFilterField.ClientSupportID');
                });
                $('#CreatorView_SelectedCreatorID').change(function () {
                    UpdateDropdownListSelection(this.value, '@objects.ClientFilterField.CreatorID');
                });

                function VersionSubNumberBelowChanged() {
                    UpdateInt(this.value(), '@objects.ClientFilterField.VersionSubNumberBelow');
                }
                function VersionNumberBelowChanged() {
                    UpdateInt(this.value(), '@objects.ClientFilterField.VersionNumberBelow');
                }
                function VersionNumberAboveChanged() {
                    UpdateInt(this.value(), '@objects.ClientFilterField.VersionNumberAbove');
                }
                function VersionSubNumberAboveChanged() {
                    UpdateInt(this.value(), '@objects.ClientFilterField.VersionSubNumberAbove');
                }
                function UserLimitAboveChanged() {
                    UpdateInt(this.value(), '@objects.ClientFilterField.UserLimitAbove');
                }
                function UserLimitBelowChanged() {
                    UpdateInt(this.value(), '@objects.ClientFilterField.UserLimitBelow');
                }
                function ExpiryDateAfterChanged() {
                    UpdateDate(kendo.toString(this.value(), "dd/MM/yyyy"), '@objects.ClientFilterField.ExpiryDateAfter');
                }
                function ExpiryDateBeforeChanged() {
                    UpdateDate(kendo.toString(this.value(), "dd/MM/yyyy"), '@objects.ClientFilterField.ExpiryDateBefore');
                }
                function txtClientNameChange() {
                    UpdateText(this.value, '@objects.ClientFilterField.ClientName');
                }

                function UpdateDropdownListSelection(newvalue, field) {
                   $.ajax({
                        type: 'POST',
                        url: "@Url.Action("UpdateClientFilterDropdownList", "Clients")",
                       data: { NewValue: newvalue, Field: field },
                       success: function (data) {
                           window.location.reload(true);
                       },
                       error: function (xhr, status, errorThrown) {
                            ToastrPopup(xhr.responseText, 'error');
                            console.log("xhr: " + xhr.responseText + " status: " + status + " errorThrown: " + errorThrown);
                        }
                    });
                }
                function UpdateDate(newvalue, field) {
                   $.ajax({
                        type: 'POST',
                        url: "@Url.Action("UpdateClientFilterDate", "Clients")",
                       data: { NewValue: newvalue, Field: field },
                       success: function (data) {
                           window.location.reload(true);
                       },
                       error: function (xhr, status, errorThrown) {
                            ToastrPopup(xhr.responseText, 'error');
                            console.log("xhr: " + xhr.responseText + " status: " + status + " errorThrown: " + errorThrown);
                        }
                    });
                }
                function UpdateText(newvalue, field) {
                   $.ajax({
                        type: 'POST',
                        url: "@Url.Action("UpdateClientFilterText", "Clients")",
                       data: { NewValue: newvalue, Field: field },
                       success: function (data) {
                           window.location.reload(true);
                       },
                       error: function (xhr, status, errorThrown) {
                            ToastrPopup(xhr.responseText, 'error');
                            console.log("xhr: " + xhr.responseText + " status: " + status + " errorThrown: " + errorThrown);
                        }
                    });
                }
                function UpdateInt(newvalue, field) {
                   $.ajax({
                        type: 'POST',
                        url: "@Url.Action("UpdateClientFilterInt", "Clients")",
                       data: { NewValue: newvalue, Field: field },
                       success: function (data) {
                           window.location.reload(true);
                       },
                       error: function (xhr, status, errorThrown) {
                            ToastrPopup(xhr.responseText, 'error');
                            console.log("xhr: " + xhr.responseText + " status: " + status + " errorThrown: " + errorThrown);
                        }
                    });
                }
            </script>
        </div>
    </body>
</html>
}
