﻿@{
    ViewBag.Title = "Client Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RMSS_Website.Models.Clients
@using RMSS_Website.Objects.Web_Objects.CustomControl
@model RMSS_Website.Models.Clients.ClientModel

@section content_Content {
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Client Info</title>
    </head>
    <body>
        <a href="~/Clients/SelectClient" class="HyperlinkOnWhiteBackground">Return to Client Selection</a> <br /> <br />
        <div style="float:left; width:60%;" id="divClientInfo">
            @SectionHeading.RenderMVC(Model.ClientName + " (" + Model.Status.SelectedStatusName + ")")
            <img id="imgClientLogo" src="@Url.Action("GetClientLogo", "Clients", new { ClientID = Model.ClientID })" height="150" style="max-width:100%;"/>
            <br />
            <table>
                <tr>
                    <td style="width:25%">Expiry Date: </td>
                    <td style="width:75%">@Model.ExpiryDate </td>
                </tr>
                <tr>
                    <td>User Limit: </td>
                    <td>@Model.UserLimit </td>
                </tr>
                <tr>
                    <td>Modules: </td>
                    <td>
                        <span>@Model.Modules.SelectedModuleNames</span>
                    </td>
                </tr>
                <tr>
                    <td>Production URL: </td>
                    <td><a href="@Model.ProductionURL" class="HyperlinkOnWhiteBackground" target="_blank">@Model.ProductionURL</a> </td>
                </tr>
                @if (!string.IsNullOrEmpty(Model.TrainingURL)) {
                    <tr>
                        <td>Training URL: </td>
                        <td><a href="@Model.TrainingURL" class="HyperlinkOnWhiteBackground" target="_blank">@Model.TrainingURL</a></td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.ThirdURL)) {
                    <tr>
                        <td>Third URL: </td>
                        <td><a href="@Model.ThirdURL" class="HyperlinkOnWhiteBackground" target="_blank">@Model.ThirdURL</a></td>
                    </tr>
                }
                <tr>
                    <td style="vertical-align:top;">Contacts: </td>
                    <td>
                        @foreach (ClientContact contact in Model.Contacts) {
                            <span>@contact.Name (Office: @contact.OfficeNumber Mobile: @contact.MobileNumber Email: 
                                </span><a href="mailto:@contact.Email" class="HyperlinkOnWhiteBackground">@contact.Email</a><span>)</span> <br />
                        }
                    </td>
                </tr>
                <tr>
                    <td>Account Manager:  </td>
                    <td> @Model.LinkedEmployees.AccountManagerName </td>
                </tr>
                <tr>
                    <td>Client Support Coordinator: </td>
                    <td> @Model.LinkedEmployees.ClientSupportCoordinatorName </td>
                </tr>
                <tr>
                    <td>Created By: </td>
                    <td> @Model.CreatorPerson on @Model.CreateDate </td>
                </tr>
            </table>
        </div>
        <div style="float:right; width:35%;">
            @SectionHeading.RenderMVC("Notes")
            <table style="width:100%;">
                @{
                    var altRow = false;
                    foreach (ClientNote note in Model.Notes) {
                        <tr>
                            <td style="background-color:@(altRow ? "lightgrey" : "#E0EBEB");">
                                <div id="noteHeader">
                                    <span style="float:left;">@note.Heading</span>
                                    @if (note.Pinned != null && note.Pinned == true) {
                                        <img src="~/Images/pinpoint.gif" style="float:right;" />
                                    }
                                    <span style="float:right;">[@note.Creator - @note.CreateDate]</span>
                                </div>
                                <br />
                                <br />
                                <span>@note.Note</span>
                                <br />
                                <br />
                            </td>
                        </tr>
                        altRow = !altRow;
                    }
                }
            </table>
        </div>
        <style>
            .SectionHeading {
                border-bottom: 1px solid black;
            }
        </style>
    </body>
</html>

}
