﻿@{
    ViewBag.Title = "Client Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RMSS_Website.Models.Clients;

@model IEnumerable<RMSS_Website.Models.Clients.ClientModelGrid>

@section content_Content {
    <!DOCTYPE html>


    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div>
            <a href="~/Clients/ClientFilter" class="HyperlinkOnWhiteBackground">Return to Client Filter</a> <br /> <br /> <br />
            @(Html.Kendo().Grid(Model)
                                .Name("ClientGrid")
                                .Columns(columns => {
                                    columns.Bound(c => c.ClientName);
                                    columns.Bound(c => c.ClientStatus);
                                    columns.Bound(c => c.ExpiryDate).ClientTemplate("#= kendo.toString(ExpiryDate, \"dd/MM/yyyy\")#");
                                    columns.Bound(c => c.Modules);
                                    columns.Bound(c => c.UserLimit);
                                    columns.Bound(c => c.Version).ClientTemplate(@"#=Version#.0.#=SubVersion#"
                                        );
                                }).Scrollable().Sortable(sortable => sortable.AllowUnsort(true).SortMode(GridSortMode.SingleColumn).ShowIndexes(true)).Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5)).DataSource(
                                    dataSource => dataSource.Ajax().Read(read => read.Action("GetClientGridData", "Clients")).PageSize(20)))
        </div>
    </body>
</html>
    }