﻿@{
    ViewBag.Title = "Modify client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RMSS_Website.Models.Clients
@using System.Web.UI.WebControls
@using RMSS_Website.Factories
@using objects = RMSS_Website.Objects;
@model RMSS_Website.Models.Clients.ClientModel

@section content_Content {
    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body>
        <div style="float:left; width:45%; padding:10px;">
            <a href="~/Clients/SelectClient" class="HyperlinkOnWhiteBackground">Return to Client Selection</a> <br />
            <span id="spanClientID" style="display:none;">@Model.ClientID</span>
            <h2 class="SunkenBorder">@Model.ClientName</h2>
            <br /> <br />
            <img id="imgClientLogo" src="@Url.Action("GetClientLogo", "Clients", new { ClientID = Model.ClientID })" height="150px" style="max-width:100%;" />
            <table>
                <tr>
                    <td style="vertical-align:top;">Upload Logo: </td>
                    <td style="padding-bottom:10px;">
                        <form id="logo-upload" enctype="multipart/form-data" action="@Url.Action("UploadClientLogo", "Clients")" method="post">
                            <input type="file" name="file" id="file" /> <br /> <br />
                            <input type="submit" value="Upload Logo" />
                        </form>
                    </td>
                </tr>
                <tr>
                    <td>Status: </td>
                    <td>
                        @Html.DropDownListFor(x => x.Status.SelectedStatusID, Model.Status.Status)
                    </td>
                </tr>
                <tr>
                    <td>Expiry Date: </td>
                    <td>
                        @(Html.Kendo().DatePicker().Name("ExpiryDatePicker").Value(Model.ExpiryDate).Format("dd/MM/yyyy").Events(e => e.Change("ExpiryDateChanged")))
                    </td>
                </tr>
                <tr>
                    <td> User Limit: </td>
                    <td>@(Html.Kendo().NumericTextBox().Name("UserLimit").Value(Model.UserLimit).Events(e => e.Change("UserLimitChanged")).Decimals(0).Format("#"))</td>
                </tr>
                <tr>
                    <td>
                        <label title="Ignore Second Version #, for 12.2.108 it will be 12 208">Version #:</label>
                    </td>
                    <td>
                        @(Html.Kendo().NumericTextBox().Name("VersionNumber").Value(Model.VersionNumber).Events(e => e.Change("VersionNumberChanged")).Decimals(0).Format("#"))
                        @(Html.Kendo().NumericTextBox().Name("VersionSubNumber").Value(Model.VersionSubNumber).Events(e => e.Change("VersionSubNumberChanged")).Decimals(0).Format("#"))
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top;">Product Modules: </td>
                    <td>
                        <table>
                            @{
                                var count = 0;
                                foreach (objects.ProductModule module in Model.Modules.ProductModules) {
                                    if (count % 4 == 0) {
                                        @Html.Raw("<tr>")
                                    }
                                    //ignore this warning, necessary to split the checkboxes into rows
                                    <td>
                                        <label>
                                            @module.ModuleName
                                            <input type="checkbox" name="chkProductModule" value=@module.ProductModuleID
                                                   checked=@Model.Modules.SelectedModuleIDs.Contains(module.ProductModuleID) style="float:right;" onclick="ModuleCheckboxChanged(this)" />
                                        </label>
                                    </td>

                                    if (count % 4 == 3) {
                                        @Html.Raw("</tr>")
                                    }
                                    count++;
                                }
                            }
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>Production URL: </td>
                    <td><input type="text" id="txtProductionURL" onchange="SubmitClientTextbox(this, 'Production')" value=@Model.ProductionURL /></td>
                </tr>
                <tr>
                    <td>Training URL: </td>
                    <td><input type="text" id="txtTrainingURL" onchange="SubmitClientTextbox(this, 'Training')" value=@Model.TrainingURL /></td>
                </tr>
                <tr>
                    <td>Third URL: </td>
                    <td><input type="text" id="txtThirdURL" onchange="SubmitClientTextbox(this, 'Third')" value=@Model.ThirdURL /></td>
                </tr>
                <tr>
                    <td>Account Manager: </td>
                    <td>
                        @Html.DropDownListFor(x => x.LinkedEmployees.AccountManagerID, Model.LinkedEmployees.AvailablePeople, "--- Select ---")
                    </td>
                </tr>
                <tr>
                    <td>Client Support Coordinator: </td>
                    <td>
                        @Html.DropDownListFor(x => x.LinkedEmployees.ClientSupportCoordinatorID, Model.LinkedEmployees.AvailablePeople, "--- Select ---")
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:top;">Client Contacts: </td>
                    <td>
                        <table>
                                @{
                                    foreach (ClientContact contact in Model.Contacts) {
                                    <tr>
                                        <td>
                                            <span>@contact.Name - Email: @contact.Email - Office Phone: @contact.OfficeNumber - Mobile Phone: @contact.MobileNumber</span>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DeleteContact", "Clients", new { PersonID = contact.PersonID, ClientID = Model.ClientID })">
                                                <img src="@Url.Content("~/Images/deletered.gif")" />
                                            </a>
                                        </td>
                                    </tr>
                                }
                                }
                            </table>
                        </td>
                    </tr>
                <tr>
                    <td>Add Contact: </td>
                    <td>
                        @(Html.Kendo().ComboBox().Name("SelectContact").Placeholder("--- Select ---").BindTo(Model.AvailableContacts).Filter("contains"))
                        <input type="button" id="btnAddContact" onclick="AddContact(); return false;" value="Add" />
                    </td>
                </tr>
                </table>
            </div>
        <div style="float:right; width:45%; padding:10px;">
            <h2>Notes:</h2>
            @foreach(ClientNote note in Model.Notes) {
                <label style="display:none;">@note.ClientNoteID</label>
                <input type="text" id="txtNoteHeading" value='@note.Heading' style="width:80%" onchange="SubmitClientTextbox(this, 'NoteHeading_@note.ClientNoteID')" />
                <a href="#" @*href=@Url.Action("PinUnpinNote", "Clients", new { NoteID = note.ClientNoteID, ClientID = Model.ClientID })*@ onclick="PinUnpinNote(this, '@note.ClientNoteID');" >
                    <img src= @Url.Content(string.Format("~/Images/{0}", note.Pinned.GetValueOrDefault(false) ? "pinpoint.gif" : "unpinpointed.gif")) id="imgPin_@(note.ClientNoteID)" />
                </a>
                <a href=@Url.Action("DeleteNote", "Clients", new { NoteID = note.ClientNoteID }) title="Delete Note" >
                    <img src="@Url.Content("~/Images/deletered.gif")" />
                </a>
                <br />
                <br />
                <textarea style="width:100%" rows="4" onchange="SubmitClientTextbox(this, 'Note_@note.ClientNoteID')">@note.Note</textarea>
                <br />
                <hr style="border-top: dashed 1px;" />
            }
            <h2>Add New Note: </h2>
            <table style="width:100%;">
                <tr>
                    <td><label>Heading: </label><span style="color:red;">*</span></td> <td><input type="text" id="txtNewNoteHeading" style="width:100%;" /> </td>
                </tr>
                <tr>
                    <td><label>Note: </label><span style="color:red;">*</span></td><td><textarea id="txtNewNote" style="width:100%;" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td><input type="button" value="Add" onclick="AddNewNote(); return false;" /></td>
                </tr>
            </table>     
        </div>
        <script>
            function AddNewNote() {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("AddNote", "Clients")",
                    data: { ClientID: $('#spanClientID').text(), HeadingText: $('#txtNewNoteHeading').val(), NoteText: $('#txtNewNote').val() },
                    success: function (data) {
                        location.reload();
                    }, error: function (xhr, status, errorThrown) {
                        ToastrPopup(xhr.responseText, 'error');
                    }
                });
            }
                function PinUnpinNote(img, ClientNoteID) {
                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("PinUnpinNote", "Clients")",
                        data: { NoteID: ClientNoteID },
                        success: function (data) {
                            $('#imgPin_' + ClientNoteID).attr('src', data);
                        },
                        error: function (xhr, status, errorThrown) {
                            ToastrPopup(xhr.responseText, 'error');
                        }
                    });
                }

                function AddContact() {
                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("AddContact", "Clients")",
                        data: {
                            PersonID: $('#SelectContact').data("kendoComboBox").value(), ClientID: $('#spanClientID').text()
                        },
                        success: function (data) {
                            location.reload();
                        },
                        error: function (xhr, status, errorThrown) {
                            ToastrPopup(xhr.responseText, 'error');
                        }
                    });
                }

            function SubmitClientTextbox(textbox, type) {
                var newText = textbox.value;
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("UpdateClientTextbox", "Clients")",
                    data: { NewText: newText, Type: type, ClientID: $('#spanClientID').text() },
                    error: function (xhr, status, errorThrown) {
                        ToastrPopup(xhr.responseText, 'error');
                    }
                });
            }

            function UserLimitChanged() {
                SubmitClientInt(this.value(), 'UserLimit');
            }
            function VersionNumberChanged() {
                SubmitClientInt(this.value(), 'VersionNumber');
            }
            function VersionSubNumberChanged() {
                SubmitClientInt(this.value(), 'VersionSubNumber');
            }

            function SubmitClientInt(value, type) {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("UpdateClientInt", "Clients")",
                    data: {  Value: value, Type: type, ClientID: $('#spanClientID').text() },
                    error: function (xhr, status, errorThrown) {
                        ToastrPopup(xhr.responseText, 'error');
                    }
                });
            }

            function ModuleCheckboxChanged(checkbox) {
                var value = checkbox.value;
                   $.ajax({
                        type: 'POST',
                        url: "@Url.Action("UpdateModule", "Clients")",
                        data: { ModuleID: value, ClientID: $('#spanClientID').text() },
                       error: function (xhr, status, errorThrown) {
                           ToastrPopup(xhr.responseText, 'error');
                            console.log("xhr: " + xhr.responseText + " status: " + status + " errorThrown: " + errorThrown);
                        }
                    });
            }

            function ExpiryDateChanged() {
                    $.ajax({
                        type: 'POST',
                        url: "@Url.Action("UpdateDate", "Clients")",
                        data: { Date: kendo.toString(this.value(), "dd/MM/yyyy"), ClientID: $('#spanClientID').text() },
                        error: function (xhr, status, errorThrown) {
                            ToastrPopup(xhr.responseText, 'error');
                            console.log("xhr: " + xhr.responseText + " status: " + status + " errorThrown: " + errorThrown);
                        }
                    });
                }
        </script>
            <script type="text/javascript">
            $(document).ready(function () {
                $('#Status_SelectedStatusID').change(function () {
                    UpdateDropdownListSelection(this.value, 'StatusID');
                });

                $('#LinkedEmployees_AccountManagerID').change(function () {
                    UpdateDropdownListSelection(this.value, 'AccountManagerID');
                });

                $('#LinkedEmployees_ClientSupportCoordinatorID').change(function () {
                    UpdateDropdownListSelection(this.value, 'ClientSupportCoordinatorID');
                });

                function UpdateDropdownListSelection(newvalue, field) {
                   $.ajax({
                        type: 'POST',
                        url: "@Url.Action("UpdateClientDropdownList", "Clients")",
                        data: { NewValue: newvalue, Field: field, ClientID: $('#spanClientID').text() },
                        error: function (xhr, status, errorThrown) {
                            ToastrPopup(xhr.responseText, 'error');
                            console.log("xhr: " + xhr.responseText + " status: " + status + " errorThrown: " + errorThrown);
                        }
                    });
                }

                $('#logo-upload').submit(function (e) {
                    e.preventDefault();
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: new FormData(this),
                        cache: false,
                        contentType: false,
                        processData: false,
                        success: function (data) {
                            location.reload();
                        },
                        error: function (xhr, status, errorThrown) {
                            ToastrPopup(xhr.responseText, 'error');
                        }
                    });
                });
            });
            </script>
        </body>
    </html>
}
