﻿@{
    ViewBag.Title = "Select client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using RMSS_Website.Models.Clients
@using System.Web.UI.WebControls
@model RMSS_Website.Models.Clients.ClientSelect

@section content_Content {
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Select Client</title>
</head>
<body>
    <div style="float:left;">
        <h2>Select a client: </h2>
        @Html.DropDownListFor(model => model.clients, new SelectList(Model.clients.Select(n => n.ClientName)), "--- Select ---") <br /> <br />
    <button onclick="ClientSelected(); return false;">Select Client</button>
        @if (Model.canModify) {
            <button onclick="ModifyClient(); return false;">Modify Client</button>
        }
    </div>
    @if(Model.canModify) {
        <div style="float:right;">
            <h2>Modify Client List: </h2>
            <input type="text" id="txtNewClientName" onclick="" /> <button onclick="AddClient(); return false;">Add Client</button>
            <br />
            <br />
        <button onclick="DeleteClient(); return false;">Remove Selected Client</button>
        </div>
    }
</body>
</html>

    <script type="text/javascript">
        function GetSelectedClient() {
            var selectedName = $('#clients').find("option:selected").text();
            if (selectedName === "" || selectedName == '--- Select ---') {
                ToastrPopup('You must select a client first.', 'error');
                return null;
            } else {
                return selectedName;
            }
        }
        function ClientSelected() {
            var selectedName = GetSelectedClient();
            if (selectedName != null)
                window.location.href = "../Clients/ClientInfo/" + selectedName;
        }
        function ModifyClient() {
            var selectedName = GetSelectedClient();
            if (selectedName != null)
                window.location.href = "../Clients/ModifyClient/" + selectedName;
        }

        function AddClient() {
            var newName = $('#txtNewClientName').val();
            $.ajax({
                type: 'POST',
                url: "@Url.Action("AddClient", "Clients")",
                data: { clientName: newName },
                success: function (data, status, xhr) {
                    RepopulateDropdown(data);
                    ToastrPopup('Successfully added client.', 'success');
                },
                error: function (xhr, status, errorThrown) {
                    ToastrPopup(xhr.responseText, 'error');
                    console.log("xhr: " + xhr + " status: " + status + " errorThrown: " + errorThrown);
                }
            });
        }

        function DeleteClient() {
            var selectedName = GetSelectedClient();
            if (selectedName != null) {
                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("DeleteClient", "Clients")",
                    data: { clientName: selectedName },
                    success: function (data, status, xhr) {
                        RepopulateDropdown(data);
                        ToastrPopup('Successfully deleted client.', 'success');
                    },
                    error: function (xhr, status, errorThrown) {
                        ToastrPopup(xhr.responseText, 'error');
                        console.log("xhr: " + xhr + " status: " + status + " errorThrown: " + errorThrown);
                    }
                });
            }
        }

        function RepopulateDropdown(data) {
            $('#clients').empty();
            $('#clients').append('<option value="">--- Select ---</option>');
            $.each(data, function (i, item) {
                $('#clients').append('<option value="' + item.ClientID + '">' + item.ClientName + '</option>');
            });
        }
    </script>
}
